In [185]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning

### Data Reading & Data Types

In [188]:
#Read the data in pandas
inp0= pd.read_csv('Attribute+DataSet.csv')
inp1= pd.read_csv('Dress+Sales.csv')

You have “Attribute DataSet” which contains a column named “Price”. Choose the correct statement from the following about its data type and variable type.
- Integer type and numerical variable
- Object type and categorical ordinal variable
- Object type and categorical nominal variable
- Float type and categorical variable.

There is another column in “Attribute DataSet” named as “Recommendation”, choose the correct statement about its data type and variable type.
- Integer type and categorical
- Object type and categorical
- Integer type and continuous numerical
- Object type only.

Which of the following column do you think are of no use in “Attribute DataSet”.
- Dress_ID
- Price
- Size and material
- NeckLine
- None of the above

In [192]:
# Print the information about the attributes of inp0 and inp1.
print(inp0.info())
print(inp1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    object
 9   14-09-2013  479 non-null    object
 10  16-09-2013  479 non-null    object
 11  18-09-2013  479 non-null    object
 12  20-09-2013  479 non-null    object
 13  22-09-2013  479 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB
None

In [193]:
inp0['Size'].value_counts()

Size
M        171
free     165
L         93
S         34
XL        14
small      1
s          1
Name: count, dtype: int64

### Fixing the Rows and Columns

As you can see, there is a column in “Attribute Dataset” named as ‘Size’. This column contains the values in abbreviation format. Write a code in Python to convert the followings:

- M into  “Medium”
- L into  “Large”
- XL into “Extra large”
- free into “Free”
- S, s & small into “Small”.

Now once you are done with changes in the dataset, what is the value of the lowest percentage, the highest percentage and the percentage of Small size categories in the column named “Size”?

In [196]:
# Column fixing, correcting size abbreviation. count the percentage of each size category in "Size" column.
inp0['Size'] = inp0['Size'].map({'M':'Medium','L':'Large','XL':'ExtraLarge','S':'Small','s':'Small','small':'Small','free':'Free'})

In [197]:
# Print the value counts of each category in "Size" column.
inp0['Size'].value_counts()

Size
Medium        171
Free          165
Large          93
Small          36
ExtraLarge     14
Name: count, dtype: int64

### Impute/Remove Missing values

In [199]:
# Print the null count of each variables of inp0 and inp1.
inp0.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
dtype: int64

In [200]:
inp1.isnull().sum()

Dress_ID        0
29-08-2013      0
31-08-2013      0
09-02-2013      0
09-04-2013      0
09-06-2013      0
09-08-2013      0
09-10-2013      0
09-12-2013      0
14-09-2013      0
16-09-2013      0
18-09-2013      0
20-09-2013      0
22-09-2013      0
24-09-2013      0
26-09-2013    222
28-09-2013      0
30-09-2013    257
10-02-2013    259
10-04-2013    258
10-06-2013      0
10-08-2013    255
10-10-2013    255
10-12-2013      0
dtype: int64

You are given another dataset named “Dress Sales”. Now if you observe the datatypes of the columns using ‘inp1.info()’ command, you can identify that there are certain columns defined as object data type though they primarily consist of numeric data.

Now if you try and convert these object data type columns into numeric data type(float), you will come across an error message. Try to correct this error.

In [202]:
# Print the data types information of inp1 i.e. "Dress Sales" data.
print(inp0.dtypes)

Dress_ID            int64
Style              object
Price              object
Rating            float64
Size               object
Season             object
NeckLine           object
SleeveLength       object
Material           object
FabricType         object
Decoration         object
Pattern Type       object
Recommendation      int64
dtype: object

In [203]:
print(inp1.dtypes)

Dress_ID      float64
29-08-2013      int64
31-08-2013      int64
09-02-2013      int64
09-04-2013      int64
09-06-2013      int64
09-08-2013      int64
09-10-2013      int64
09-12-2013     object
14-09-2013     object
16-09-2013     object
18-09-2013     object
20-09-2013     object
22-09-2013     object
24-09-2013      int64
26-09-2013    float64
28-09-2013      int64
30-09-2013    float64
10-02-2013    float64
10-04-2013    float64
10-06-2013      int64
10-08-2013    float64
10-10-2013    float64
10-12-2013      int64
dtype: object

In [204]:
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
inp1['09-12-2013'].value_counts()

09-12-2013
1       9
2       9
3       8
25      6
5       6
       ..
111     1
549     1
455     1
1886    1
268     1
Name: count, Length: 311, dtype: int64

In [205]:
for col in inp1.select_dtypes(include='object'):
    inp1[col] = pd.to_numeric(inp1[col],errors='coerce')

In [206]:
inp1.dtypes

Dress_ID      float64
29-08-2013      int64
31-08-2013      int64
09-02-2013      int64
09-04-2013      int64
09-06-2013      int64
09-08-2013      int64
09-10-2013      int64
09-12-2013    float64
14-09-2013    float64
16-09-2013    float64
18-09-2013    float64
20-09-2013    float64
22-09-2013    float64
24-09-2013      int64
26-09-2013    float64
28-09-2013      int64
30-09-2013    float64
10-02-2013    float64
10-04-2013    float64
10-06-2013      int64
10-08-2013    float64
10-10-2013    float64
10-12-2013      int64
dtype: object

In [207]:
# Convert the object type columns in "Dress Sales" into float type of data type.

When you see the null counts in “Dress Sales” dataset after performing all the operations that have been mentioned in jupyter notebook, you will find that there are some columns in “Dress Sales” data where there are more than 40% of missing values. Based on your understanding of dealing with missing values do the following steps.

In [209]:
# Print the null percetange of each column of inp1.
nullvalue = inp1.isnull().mean()*100 
drop = nullvalue[nullvalue > 40].index
inp1.drop(columns=drop,inplace=True)

In [210]:
inp1.isnull().mean()*100

Dress_ID      0.000000
29-08-2013    0.000000
31-08-2013    0.000000
09-02-2013    0.000000
09-04-2013    0.000000
09-06-2013    0.000000
09-08-2013    0.000000
09-10-2013    0.000000
09-12-2013    0.208768
14-09-2013    0.208768
16-09-2013    0.208768
18-09-2013    0.208768
20-09-2013    0.208768
22-09-2013    0.208768
24-09-2013    0.000000
28-09-2013    0.000000
10-06-2013    0.000000
10-12-2013    0.000000
dtype: float64

You should categorise the dates into seasons in “Dress Sales” data to simplify the analysis according to the following criteria:
- June, July and August: Summer.
- September, October and November: Autumn.
- December, January and February: WInter.
- March, April and May: Spring.

In [212]:
# Create the four seasons columns in inp1, according to the above criteria.
# Create the four seasons columns in inp1, according to the above criteria.
from datetime import datetime

# Extract date columns (excluding 'Dress_ID')
date_columns = [col for col in inp1.columns if col != 'Dress_ID']

# Function to determine the season from a date
def get_season(date_str):
    try:
        date = datetime.strptime(date_str, '%d-%m-%Y')
        month = date.month
        if month in [6, 7, 8]:
            return 'Summer'
        elif month in [9, 10, 11]:
            return 'Autumn'
        elif month in [12, 1, 2]:
            return 'Winter'
        else:
            return 'Spring'
    except ValueError:
        return None

# Map each date column to its corresponding season
season_map = {col: get_season(col) for col in date_columns}

# Group columns by season and calculate total sales for each season per dress
seasonal_sales = pd.DataFrame()
seasonal_sales['Dress_ID'] = inp1['Dress_ID']

for season in ['Summer', 'Autumn', 'Winter', 'Spring']:
    cols = [col for col in date_columns if season_map[col] == season]
    seasonal_sales[season] = inp1[cols].sum(axis=1)

seasonal_sales.head()

       Dress_ID  Summer   Autumn  Winter  Spring
0  1.006033e+09   13899  26857.0  9658.0    2660
1  1.212192e+09    6216  17311.0  6405.0     750
2  1.190381e+09      40     82.0    28.0       7
3  9.660060e+08    7213  14411.0  5012.0    1455
4  8.763395e+08    7706  14676.0  5678.0    1396

In [213]:
# calculate the sum of sales in each seasons in inp1 i.e. "Dress Sales".
inp1 = pd.merge(inp1,seasonal_sales,on = 'Dress_ID')

In [214]:
inp1

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,20-09-2013,22-09-2013,24-09-2013,28-09-2013,10-06-2013,10-12-2013,Summer,Autumn,Winter,Spring
0,1.006033e+09,2114,2274,2491,2660,2727,2887,2930,3119.0,3204.0,...,3386.0,3479.0,3554,3706,3897,4048,13899,26857.0,9658.0,2660
1,1.212192e+09,151,275,570,750,813,1066,1164,1558.0,1756.0,...,2106.0,2454.0,2710,3258,3911,4277,6216,17311.0,6405.0,750
2,1.190381e+09,6,7,7,7,8,8,9,10.0,10.0,...,10.0,11.0,11,11,11,11,40,82.0,28.0,7
3,9.660060e+08,1005,1128,1326,1455,1507,1621,1637,1723.0,1746.0,...,1812.0,1845.0,1878,1914,1952,1963,7213,14411.0,5012.0,1455
4,8.763395e+08,996,1175,1304,1396,1432,1559,1570,1638.0,1655.0,...,1824.0,1919.0,2032,2252,2544,2736,7706,14676.0,5678.0,1396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,9.905592e+08,0,0,0,60,62,64,65,67.0,68.0,...,72.0,73.0,73,75,77,77,203,565.0,144.0,60
475,7.133920e+08,0,0,0,560,554,544,537,525.0,519.0,...,492.0,480.0,400,360,380,285,1478,3800.0,810.0,560
476,5.328743e+08,0,0,0,734,728,726,715,694.0,690.0,...,665.0,658.0,616,586,551,520,2005,5290.0,1214.0,734
477,6.554649e+08,0,0,0,254,259,261,263,268.0,270.0,...,264.0,264.0,257,255,249,248,769,2117.0,516.0,254
478,9.199310e+08,0,0,0,538,545,558,563,578.0,585.0,...,605.0,619.0,628,639,660,680,1763,4828.0,1258.0,538

Now let's merge inp1 with inp0 with left join manner, so that the information of inp0 should remain intact.

In [216]:
# Merge inp0 with inp1 into inp0. this is also called left merge.
inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,...,20-09-2013,22-09-2013,24-09-2013,28-09-2013,10-06-2013,10-12-2013,Summer,Autumn,Winter,Spring
0,1006032852,Sexy,Low,4.6,Medium,Summer,o-neck,sleevless,NaN,chiffon,...,3386.0,3479.0,3554,3706,3897,4048,13899,26857.0,9658.0,2660
1,1212192089,Casual,Low,0.0,Large,Summer,o-neck,Petal,microfiber,NaN,...,2106.0,2454.0,2710,3258,3911,4277,6216,17311.0,6405.0,750
2,1190380701,vintage,High,0.0,Large,Automn,o-neck,full,polyster,NaN,...,10.0,11.0,11,11,11,11,40,82.0,28.0,7
3,966005983,Brief,Average,4.6,Large,Spring,o-neck,full,silk,chiffon,...,1812.0,1845.0,1878,1914,1952,1963,7213,14411.0,5012.0,1455
4,876339541,cute,Low,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,...,1824.0,1919.0,2032,2252,2544,2736,7706,14676.0,5678.0,1396

In [217]:
inp0.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
29-08-2013          0
31-08-2013          0
09-02-2013          0
09-04-2013          0
09-06-2013          0
09-08-2013          0
09-10-2013          0
09-12-2013          1
14-09-2013          1
16-09-2013          1
18-09-2013          1
20-09-2013          1
22-09-2013          1
24-09-2013          0
28-09-2013          0
10-06-2013          0
10-12-2013          0
Summer              0
Autumn              0
Winter              0
Spring              0
dtype: int64

In [218]:
# Now Drop the Date columns from inp0 as it is already combined into four seasons.
inp0.drop(inp0.loc[:,'29-08-2013':'10-12-2013'].columns, axis= 1, inplace= True)
inp0.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
Summer              0
Autumn              0
Winter              0
Spring              0
dtype: int64

In [219]:
# Now Drop the Date columns from inp0 as it is already combined into four seasons.
#inp0.drop(inp0.loc[:,'Summer_y':'Spring_y'].columns, axis= 1, inplace= True)
#inp0.isnull().sum()

Print the null count of inp0 to get the idea about the missing values in data set.

In [221]:
# Print the null count of each columns in inp0 dataframe i.e. combined data frame of inp0 and inp1 without date columns.
inp0.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
Summer              0
Autumn              0
Winter              0
Spring              0
dtype: int64

You can see that there are two types of variables one with a large number of missing values and another is very less number of missing values. These two columns can be categorized as:

Type-1: Missing values are very less (around 2 or 3 missing values): Price, Season, NeckLine, SleeveLength, Winter and Autumn. 

Type-2: Missing values are large in numbers (more than 15%): Material, FabricType, Decoration and Pattern Type.

In [223]:
# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.
inp0['Price'] = inp0['Price'].fillna(inp0['Price'].mode()[0])

In [224]:
inp0['Season']=inp0['Season'].fillna(inp0['Season'].mode()[0])

In [225]:
inp0['NeckLine'] = inp0['NeckLine'].fillna(inp0['NeckLine'].mode()[0])

In [226]:
inp0['SleeveLength'] = inp0['SleeveLength'].fillna(inp0['SleeveLength'].mode()[0])

In [227]:
inp0['Winter'] = inp0['Winter'].fillna(inp0['Winter'].mode()[0])

In [228]:
inp0['Autumn'] = inp0['Autumn'].fillna(inp0['Autumn'].mode()[0])

In [337]:
inp0.isnull().sum()

Dress_ID            0
Style               0
Price               0
Rating              0
Size                0
Season              0
NeckLine            0
SleeveLength        0
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
Summer              0
Autumn              0
Winter              0
Spring              0
dtype: int64

In [339]:
# Deal with the missing values for Type-2 columns: Material, FabricType, Decoration and Pattern Type.
for col in ['Material', 'FabricType', 'Decoration', 'Pattern Type'] :
    inp0[col] = inp0[col].fillna(inp0[col].mode()[0])

In [341]:
inp0.isna().sum()

Dress_ID          0
Style             0
Price             0
Rating            0
Size              0
Season            0
NeckLine          0
SleeveLength      0
Material          0
FabricType        0
Decoration        0
Pattern Type      0
Recommendation    0
Summer            0
Autumn            0
Winter            0
Spring            0
dtype: int64

### Standardise value

In the given dataset, there are certain discrepancies with the categorical names such as irregular spellings. Choose the correct option of columns with irregular categories and update them.
 
- Season, NeckLine
- Price, Material
- fabricType, Decoration
- Season, SleeveLength

In [343]:
#correcting the spellings.
inp0['Season'] = inp0['Season'].str.lower().replace({'automn':'autumn'}).str.capitalize()

In [345]:
inp0['NeckLine'] = inp0['NeckLine'].str.capitalize()

In [347]:
inp0['Material'] = inp0['Material'].str.capitalize()

In [349]:
inp0['FabricType'] = inp0['FabricType'].str.lower().replace({'shiffon':'chiffon','satin':'sattin','woolen':'wollen','flannael':'flannel'}).str.capitalize()

In [351]:
inp0['Decoration'] = inp0['Decoration'].str.capitalize()

In [353]:
#correcting the Spellings.
inp0['SleeveLength']= inp0['SleeveLength'].str.lower().replace({
    'sleevless':'sleeveless','sleeevless':'sleeveless','sleveless':'sleeveless',
    'half':'halfsleeve','thressqatar':'threequarter','threequater':'threequarter','cap-sleeves':'capsleeves',
    'urndowncollor':'turndowncollor'
}).str.capitalize()

## Univariate Analysis

### Categorical Unordered Univariate Analysis

There is a column named ‘Style’ in ‘Attribute Dataset’ which consists of the different style categories of the women apparels. Certain categories whose total sale is less than 50000 across all the seasons is considered under one single category as ‘Others’.

Which of the following categories in ‘Style’ column can be grouped into ‘Others’ category? and perform the grouping operation in the notebook for further analysis.
- Flare, fashion
- Novelty, bohemian
- OL, fashion, work
- Novelty, fashion, Flare

In [239]:
# Group "Style" categories into "Others" which have less than 50000 sales across all the seasons.

What is the percentage of “cute” and “Others” category in “Style” column in “Attribute DataSet” respectively?
- 46%, 5%
- 9%, 2.1%
- 2.1%, 5%
- 13.8%, 9%

In [241]:
# Calculate the percentage of each categories in the "Style" variable.

Similarly Club Neckline, SLeeve length categories into "Others" which have less than 50000 sales across all the seasons.

In [243]:
# Group "Neckline" categories into "Others" which have less than 50000 sales across all the seasons.

In [244]:
# Group "Sleeve length" categories into "Others" which have less than 50000 sales across all the seasons.

Club material, fabrictype, patterntype and decoration categories into "Others" which have less than 25000 sales across all the seasons

In [246]:
# Group "material" categories into "Others" which have less than 25000 sales across all the seasons.

In [247]:
# Group "fabric type" categories into "Others" which have less than 25000 sales across all the seasons.

In [248]:
# Group "patern type" categories into "Others" which have less than 25000 sales across all the seasons.

In [249]:
# Group "decoration" categories into "Others" which have less than 25000 sales across all the seasons.

### Caregorical Ordered Univariate Analysis

Which of the following is an unordered variable in “Attribute DataSet”.
- Style
- Price
- Season
- Size

### Numerical variable Univariate analysis:

What is the approximate difference between the maximum value and 75th percentile in “Autumn” column.
- Approx 54000
- Approx 55000
- Approx 52000
- Approx 50000

In [254]:
# Describe the numerical variale: "Autumn".

In [255]:
# plot the boxplot of "Autumn" column.

Which of the following season has the highest difference between the maximum value and 99th quantile of sales?
- Winter
- Summer
- Spring
- Autumn

In [257]:
# Find the maximum and 99th percentile of Winter season.

In [258]:
# Find the maximum and 99th percentile of Summer season.

In [259]:
# Find the maximum and 99th percentile of Spring season.

In [260]:
# Find the maximum and 99th percentile of Autumn season.

## Bivariate Analysis

### Numerical- Categorical analysis

Which of the following “Price” category has the lowest average value of rating?
- very-high
- Medium
- Low
- High

In [375]:
# Group by Price and find mean Rating
mean_ratings = inp0.groupby('Price')['Rating'].mean()

# Find the category with the lowest average rating
lowest_rating_category = mean_ratings.idxmin()
lowest_rating_value = mean_ratings.min()

print(f"The Price category with the lowest average Rating is '{lowest_rating_category}' with an average rating of {lowest_rating_value:.2f}.")

The Price category with the lowest average Rating is 'High' with an average rating of 2.91.

In [369]:
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation,Summer,Autumn,Winter,Spring
0,1006032852,Sexy,Low,4.6,Medium,Summer,O-neck,Sleeveless,Cotton,Chiffon,Ruffles,animal,1,13899,26857.0,9658.0,2660
1,1212192089,Casual,Low,0.0,Large,Summer,O-neck,Petal,Microfiber,Chiffon,Ruffles,animal,0,6216,17311.0,6405.0,750
2,1190380701,vintage,High,0.0,Large,Autumn,O-neck,Full,Polyster,Chiffon,Lace,print,0,40,82.0,28.0,7
3,966005983,Brief,Average,4.6,Large,Spring,O-neck,Full,Silk,Chiffon,Embroidary,print,1,7213,14411.0,5012.0,1455
4,876339541,cute,Low,4.5,Medium,Summer,O-neck,Butterfly,Chiffonfabric,Chiffon,Bow,dot,0,7706,14676.0,5678.0,1396

In [373]:
# Find the Mean of Ratings for each Price category.
inp0.groupby('Price')['Rating'].mean()

Price
Average      3.473967
High         2.914286
Low          3.692121
Medium       3.156667
very-high    3.123810
Name: Rating, dtype: float64

What is the median of the rating of “vintage” category in Style column?
- 4.6
- 4.7
- 4.55
- 0.00

In [379]:
# Find the median of Ratings for each Style category.
inp0.groupby('Style')['Rating'].median()

Style
Brief       4.60
Casual      4.60
Flare       0.00
Novelty     2.10
OL          0.00
Sexy        4.55
bohemian    4.60
cute        4.55
fashion     4.00
party       4.70
sexy        4.50
vintage     4.60
work        4.70
Name: Rating, dtype: float64

Which of the following season has the highest average value of sale for “Recommendation” value equals to 1.
- Summer
- Spring
- Autumn
- Winter

In [382]:
# Step 1: Filter where Recommendation == 1
recommended = inp0[inp0['Recommendation'] == 1]

# Step 2: Group by Season and find the mean of sales
season_sales = recommended.groupby('Season')[['Summer', 'Spring', 'Autumn', 'Winter']].mean()

# Step 3: Find the season with the highest average sale
highest_season = season_sales.mean().idxmax()
highest_value = season_sales.mean().max()

print(f"The season with the highest average sale for Recommendation = 1 is '{highest_season}' with an average sale value of {highest_value:.2f}.")

The season with the highest average sale for Recommendation = 1 is 'Autumn' with an average sale value of 2805.16.

In [386]:
# Summer sale vs Recommendation.
# Group by Recommendation and find the average Summer sale
summer_vs_recommendation = inp0.groupby('Recommendation')['Summer'].mean()

print(summer_vs_recommendation)

Recommendation
0    1430.149635
1    1463.639024
Name: Summer, dtype: float64

In [390]:
# Spring sale vs Recommendation.
# Group by Recommendation and find the average Summer sale
summer_vs_recommendation = inp0.groupby('Recommendation')['Spring'].mean()

print(summer_vs_recommendation)

Recommendation
0    298.051095
1    302.117073
Name: Spring, dtype: float64

In [392]:
# Autumn sale vs Recommendation.

summer_vs_recommendation = inp0.groupby('Recommendation')['Autumn'].mean()

print(summer_vs_recommendation)

Recommendation
0    2840.193431
1    2854.024390
Name: Autumn, dtype: float64

In [394]:
# Winter sale vs Recommendation.
summer_vs_recommendation = inp0.groupby('Recommendation')['Winter'].mean()

print(summer_vs_recommendation)

Recommendation
0    985.660584
1    998.107317
Name: Winter, dtype: float64

### Categorical categorical bivariate analysis

Which of the following size categories has the highest positive recommendations?
- Medium and extra large
- Extra large and small
- Free and small
- Free and medium

In [408]:
inp0.groupby('Recommendation')['Size'].value_counts()

Recommendation  Size
0               Medium        95
                Free          89
                Large         57
                Small         23
                ExtraLarge    10
1               Free          76
                Medium        76
                Large         36
                Small         13
                ExtraLarge     4
Name: count, dtype: int64

In [274]:
# Size vs Recommendation.

### Multivariate analysis

Which of the following pair of “Style” and “Price” category has the highest average of positive recommendations?
- Price: medium and style: vintage
- Price: medium and style: cute
- Price: very high and style: party
- Price: low and style: sexy

In [456]:
inp0.groupby('Recommendation')[['Style','Price']].value_counts().to_clipboard()

In [277]:
# plot the heat map of Style, price and Recommendation.

Which of the following material type has no recommendation in summer and winter seasons?
- Mix and Milksilk
- Nylon and Rayon
- Microfiber and Silk
- Milksilk and Microfiber

In [452]:
no_re =

In [470]:
inp0.groupby('Material')[['Season','Recommendation']].value_counts().to_csv('hello')

In [279]:
# plot the heat map of Season, material and Recommendation.