# Numpy

In [7]:
import numpy as np

In [4]:
np.__version__

'1.26.4'

### creating the empty array

In [9]:
np_array = np.array([])

In [11]:
np_array

array([], dtype=float64)

### creating array from list

In [18]:
list1 = [1,2,3,4,5,6,7,8,9]
cvt_array = np.array(list1)
print(cvt_array,type(cvt_array))

[1 2 3 4 5 6 7 8 9] <class 'numpy.ndarray'>

### creating array from tuples

In [25]:
tuple1 = (1,2,3,4,5,6,7,8,9,10)
tuple_to_array = np.array(tuple1)
print(tuple_to_array,type(tuple_to_array))

[ 1  2  3  4  5  6  7  8  9 10] <class 'numpy.ndarray'>

## [1,2,3,4,5,6,7,8,9] this are one dimentional array

### datatype

In [30]:
float1 = np.array([1.0,2.5,3.6,4.5,1.8,5.2])
data_type = float1.dtype
print(data_type)

float64

## string array

In [36]:
str_array = np.array(['apple','banana','mango','orange','kiwi'])
print(str_array,str_array.dtype)

['apple' 'banana' 'mango' 'orange' 'kiwi'] <U6

## uppercasting

In [43]:
str_upper = np.array(['apple',100,2.565,True])
print(type(str_upper) ,str_upper) # here all data convert to the string beacause

<class 'numpy.ndarray'> ['apple' '100' '2.565' 'True']