# **LIST**

üß† What is a List in Python?
A list is a mutable, ordered collection that can store elements of different data types.


my_list = [10, 20, 30, "Python", True]

‚úÖ Mutable = You can change it (add, remove, update values)


‚úÖ Ordered = Keeps the same order you insert elements

In [27]:
#append()
lst = [1,2,3,4]
lst.append(50)
print(lst)

[1, 2, 3, 4, 50]

In [29]:
#extend()
lst2 = [60,70,80]
lst.extend(lst2)
lst

[1, 2, 3, 4, 50, 60, 70, 80]

In [33]:
#insert(index,value)
inst = [1,2,3,4,5]
inst.insert(2,5000)
print(inst)

[1, 2, 5000, 3, 4, 5]

In [37]:
#remove(value)
rem = [1,2,3,4,5,6]
rem.remove(3)
print(rem)

[1, 2, 4, 5, 6]

In [41]:
#pop(index)
pop = [1,2,3,4,5,6]
pop.pop(2)

3

In [45]:
#clear()
cl = ['please help me this clear function of the list clearing me ']
cl.clear()
print(cl)

[]

In [49]:
#index(value)
name = ['anish','khushi','vanshu']
name.index('khushi')

1

In [61]:
#count(value)
co = [1,2,3,1,2,3,2,3,1,1,2,3,3,0]
print(co.count(1))
print(co.count(2))
print(co.count(3))
print(co.count(0))

4
4
5
1

In [69]:
# sort() default asending
sort = [1,5,4,9,3,5,7,8]
sort.sort()
sort

[1, 3, 4, 5, 5, 7, 8, 9]

In [77]:
# sort() decending
lis = [2,3,4,5,62,1,4,8,1]
lis.sort(reverse=True)
print(lis)

[62, 8, 5, 4, 4, 3, 2, 1, 1]

In [83]:
#sorted() Returns a new sorted list without changing the original
sott = [1,2,45,9,5,4,7,8,2,12,3,6]
print('this is sorted :-',sorted(sott))
print(sott)

this is sorted :- [1, 2, 2, 3, 4, 5, 6, 7, 8, 9, 12, 45]
[1, 2, 45, 9, 5, 4, 7, 8, 2, 12, 3, 6]

In [95]:
#reverse()
sott.reverse()
sott

[6, 3, 12, 2, 8, 7, 4, 5, 9, 45, 2, 1]

In [99]:
#copy() Creates a shallow copy of the list.
nam = ['anish','verma']
new_nam =nam.copy()
new_nam

['anish', 'verma']

In [101]:
#len()
len(sott)

12

In [117]:
#max()/min()
print(max([1,2,3,4,5,60]))
print(min([1,2,3,4,5,60]))

60
1

In [119]:
# sum()
add = [1,2,3,4,5,6,7,8,9]
sum(add)

45

In [125]:
#membership operators
print(5 in [1,2,3,5])
print(5 not in [1,2,34])

True
True

# **TUPLE**

üî∑ What is a Tuple?

A tuple is an ordered, immutable collection of elements.


t = (10, 20, 30)

‚úÖ Ordered ‚Üí Elements are stored in a specific sequence

‚ùå Immutable ‚Üí You cannot change, add, or remove elements after creation

In [139]:
t = (5,)
t1 =(5)

In [141]:
print(type(t))
print(type(t1))

<class 'tuple'>
<class 'int'>

In [145]:
# count() & index()
tuples = (2,3,4,5,5,5,6,6,6,4,1)
print(tuples.count(5))
print(tuples.index(1))

3
10

In [147]:
# other functions
t = (5, 1, 3)

print(len(t))     # 3
print(max(t))     # 5
print(min(t))     # 1
print(sum(t))     # 9
print(sorted(t))  # [1, 3, 5] ‚Üí returns a **list**

3
5
1
9
[1, 3, 5]

In [149]:
# slicing in tuples
t = (10, 20, 30, 40, 50)

print(t[0])      # 10
print(t[-1])     # 50
print(t[1:4])    # (20, 30, 40)
print(t[::-1])   # (50, 40, 30, 20, 10)

10
50
(20, 30, 40)
(50, 40, 30, 20, 10)

In [157]:
# packing and unpacking
pack = (10,20,30)
a,b,c = pack
print(a)
print(b)
print(c)

10
20
30