# Pandas
We will learn about the basics of Pandas, which is a powerful, open-source data analysis and manipulation library for Python built on top of the NumPy package. **Pandas** is derived from the term **panel data**.

In this session, we will study Pandas data structures and understand how to study their attributes and access their member elements and values.

To get started using `Pandas`, import it into your Python program as follows:

In [ ]:
import pandas as pd

The two most important data structures in `Pandas` are the `Series` and the `DataFrame` classes. A series is essentially a single variable with multiple values recorded for different observations. Putting multiple series together across the same observations gives you a dataframe.

# Series
The Pandas `Series` object is a 1D labeled array capable of holding data of any type.

### Example
Creating series from lists

In [ ]:
empty_series = pd.Series()

In [ ]:
empty_series

Series([], dtype: object)

In [ ]:
empty_series = pd.Series(data = None, dtype = 'int')

In [ ]:
empty_series

Series([], dtype: int64)

In [ ]:
type(empty_series)

pandas.core.series.Series

In [ ]:
print(empty_series)

Series([], dtype: int64)

In [ ]:
prices = [649000, 391000, 5476000, 1786000, 1091000]
carnames = ['swift', 'santro', 'audi', 'elantra', 'bolero']

In [ ]:
car_series = pd.Series(data = prices, index = carnames)
car_series

swift       649000
santro      391000
audi       5476000
elantra    1786000
bolero     1091000
dtype: int64

In [ ]:
type(car_series)

pandas.core.series.Series

In [ ]:
car_series = pd.Series(prices)
car_series

0     649000
1     391000
2    5476000
3    1786000
4    1091000
dtype: int64

In [ ]:
car_series = pd.Series(prices, carnames, name = 'price')
car_series

swift       649000
santro      391000
audi       5476000
elantra    1786000
bolero     1091000
Name: price, dtype: int64

The `name` attribute for the Pandas series is optional but helpful and makes the data organization neater and easier to handle.

### Example
Creating series from dictionaries

In [ ]:
entries = {'swift': 649000,
           'santro': 391000,
           'audi': 5476000,
           'elantra': 1786000,
           'bolero': 1091000}
car_series = pd.Series(data = entries, name = 'price')
car_series

swift       649000
santro      391000
audi       5476000
elantra    1786000
bolero     1091000
Name: price, dtype: int64

Notice how the index and the values are meaningfully interpreted from the keys and the values of the dictionary.

In [ ]:
entries = {'swift': 649000,
           'santro': '391000',
           'audi': 5476000,
           'elantra': 1786000,
           'bolero': 1091000}
car_series = pd.Series(data = entries, name = 'price')
car_series

swift       649000
santro      391000
audi       5476000
elantra    1786000
bolero     1091000
Name: price, dtype: object

In [ ]:
type(car_series['swift'])

int

In [ ]:
type(car_series['santro'])

str

Notice how the series shows an `object` data type but the elements within the series have their own data types, namely, `int` and `str`, wherever applicable.

We will study more about indexing and accessing later in the session.

### Example
Looking at some series attributes

Series have attributes similar to arrays, and a few more, that make the life of a data analyst easier.

In [ ]:
entries = {'swift': 649000,
           'santro': 391000,
           'audi': 5476000,
           'elantra': 1786000,
           'bolero': 1091000}
car_series = pd.Series(data = entries, name = 'price')
car_series

swift       649000
santro      391000
audi       5476000
elantra    1786000
bolero     1091000
Name: price, dtype: int64

In [ ]:
car_series.name

'price'

In [ ]:
car_series.index

Index(['swift', 'santro', 'audi', 'elantra', 'bolero'], dtype='object')

In [ ]:
car_series.values

array([ 649000,  391000, 5476000, 1786000, 1091000])

In [ ]:
car_series.dtype

dtype('int64')

In [ ]:
car_series.shape

(5,)

In [ ]:
car_series.ndim

1

In [ ]:
car_series.size

5

In [ ]:
len(car_series)

5

In [ ]:
car_series.empty

False

We looked at some of the important attributes of series here, but learners are encouraged to explore further. You can study more about Pandas series attributes [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html).

You have seen that series can be created from lists and dictionaries, with the dictionary method being the smoother way of doing it. Series can also be created from other indexed data structures such as arrays. You are encouraged to explore further on your own.

# Accessing data from series

In this section, we will study various methods to access data from series.

### Example
Accessing data from series using logical conditions

In [ ]:
entries = {'swift': 649000,
           'santro': 391000,
           'audi': 5476000,
           'elantra': 1786000,
           'bolero': 1091000}
car_series = pd.Series(data = entries, name = 'price')
car_series

swift       649000
santro      391000
audi       5476000
elantra    1786000
bolero     1091000
Name: price, dtype: int64

In [ ]:
car_series > 1000000

swift      False
santro     False
audi        True
elantra     True
bolero      True
Name: price, dtype: bool

In [ ]:
car_series[car_series > 1000000]

audi       5476000
elantra    1786000
bolero     1091000
Name: price, dtype: int64

In [ ]:
car_series[car_series > 1000000].index

Index(['audi', 'elantra', 'bolero'], dtype='object')

In [ ]:
car_series[car_series > 1000000].values

array([5476000, 1786000, 1091000])

In [ ]:
car_series[car_series > 1000000].index[0]

'audi'

In [ ]:
car_series[car_series > 1000000].index[1]

'elantra'

In [ ]:
car_series[car_series > 1000000].index[2]

'bolero'

In [ ]:
car_series[car_series > 1000000].values[0]

5476000

In [ ]:
car_series[car_series > 1000000].values[1]

1786000

In [ ]:
car_series[car_series > 1000000].values[2]

1091000

In [ ]:
# car_series > 1000000 and car_series < 2000000

In [ ]:
# car_series > 1000000 & car_series < 2000000

In [ ]:
(car_series > 1000000) & (car_series < 2000000)

swift      False
santro     False
audi       False
elantra     True
bolero      True
Name: price, dtype: bool

In [ ]:
car_series[(car_series > 1000000) & (car_series < 2000000)]

elantra    1786000
bolero     1091000
Name: price, dtype: int64

Pandas objects such as series and dataframes strictly follow indexing. This is critical in data science to keep track of data entries and associated values.

In [ ]:
car_series[(car_series > 1000000) & (car_series < 2000000)].index

Index(['elantra', 'bolero'], dtype='object')

In [ ]:
car_series[(car_series > 1000000) & (car_series < 2000000)].values

array([1786000, 1091000])

In [ ]:
car_series[(car_series > 1000000) & (car_series < 2000000)].index[0]

'elantra'

In [ ]:
car_series[(car_series > 1000000) & (car_series < 2000000)].index[1]

'bolero'

In [ ]:
car_series[(car_series > 1000000) & (car_series < 2000000)].values[0]

1786000

In [ ]:
car_series[(car_series > 1000000) & (car_series < 2000000)].values[1]

1091000

### Quiz
Consider the series shown below:
```
cust_names = ['Chad', 'Farheen', 'Himadri', 'Monisha']
cust_bill = [256.78, 434.53, 109.25, 529.42]
cust_info = pd.Series(cust_bill, cust_names)
```
Write code to print the names of the customers who have spent more than 300 rupees.

In [ ]:
##### CODE HERE #####

### Example
Accessing data from series using the names of the entries

In [ ]:
entries = {'swift': 649000,
           'santro': 391000,
           'audi': 5476000,
           'elantra': 1786000,
           'bolero': 1091000}
car_series = pd.Series(data = entries, name = 'price')
car_series

swift       649000
santro      391000
audi       5476000
elantra    1786000
bolero     1091000
Name: price, dtype: int64

In [ ]:
car_series['swift']

649000

In [ ]:
car_series[['swift']]

swift    649000
Name: price, dtype: int64

In [ ]:
car_series[['swift', 'audi']]

swift     649000
audi     5476000
Name: price, dtype: int64

In [ ]:
car_series[['swift', 'audi', 'bolero']]

swift      649000
audi      5476000
bolero    1091000
Name: price, dtype: int64

In [ ]:
car_series[['bolero', 'swift', 'audi']]

bolero    1091000
swift      649000
audi      5476000
Name: price, dtype: int64

### Example
Accessing data from series using the `.loc[]` method

In [ ]:
entries = {'swift': 649000,
           'santro': 391000,
           'audi': 5476000,
           'elantra': 1786000,
           'bolero': 1091000}
car_series = pd.Series(data = entries, name = 'price')
car_series

swift       649000
santro      391000
audi       5476000
elantra    1786000
bolero     1091000
Name: price, dtype: int64

In [ ]:
car_series.loc['swift']

649000

In [ ]:
car_series.loc[['swift']]

swift    649000
Name: price, dtype: int64

In [ ]:
car_series.loc[['swift', 'audi']]

swift     649000
audi     5476000
Name: price, dtype: int64

In [ ]:
car_series.loc['swift':'elantra']

swift       649000
santro      391000
audi       5476000
elantra    1786000
Name: price, dtype: int64

Note that this is similar to NumPy array slicing, but the `.loc[]` method is inclusive of the stop value as well.

In [ ]:
car_series.loc['swift':]

swift       649000
santro      391000
audi       5476000
elantra    1786000
bolero     1091000
Name: price, dtype: int64

In [ ]:
car_series.loc[:'elantra']

swift       649000
santro      391000
audi       5476000
elantra    1786000
Name: price, dtype: int64

### Example
Accessing data from series using the `.iloc[]` method

In [ ]:
entries = {'swift': 649000,
           'santro': 391000,
           'audi': 5476000,
           'elantra': 1786000,
           'bolero': 1091000}
car_series = pd.Series(data = entries, name = 'price')
car_series

swift       649000
santro      391000
audi       5476000
elantra    1786000
bolero     1091000
Name: price, dtype: int64

In [ ]:
car_series.iloc[0]

649000

In [ ]:
car_series.iloc[3]

1786000

In [ ]:
car_series.iloc[[3]]

elantra    1786000
Name: price, dtype: int64

In [ ]:
car_series.iloc[[0, 2, 4]]

swift      649000
audi      5476000
bolero    1091000
Name: price, dtype: int64

In [ ]:
car_series.iloc[0:2]

swift     649000
santro    391000
Name: price, dtype: int64

Note that the `.iloc[]` method is not inclusive of the stop element like the `.loc[]` method. The `.iloc[]` method is very similar to NumPy array indexing and slicing.

In [ ]:
car_series.iloc[-1]

1091000

In [ ]:
car_series.iloc[[-1]]

bolero    1091000
Name: price, dtype: int64

In [ ]:
car_series.iloc[1:5:2]

santro      391000
elantra    1786000
Name: price, dtype: int64

In [ ]:
car_series.iloc[::-1]

bolero     1091000
elantra    1786000
audi       5476000
santro      391000
swift       649000
Name: price, dtype: int64

In this section, we familiarized ourselves with the series object from the Pandas library. Note that the most common data structure that is used in data science from the Pandas library is the dataframe object, which is essentially a table of series with a common index. In the next section, we will study dataframes in detail. Learners are encouraged to explore more about series on their own.

### Quiz
Consider the series shown below:
```
cust_names = ['Chad', 'Farheen', 'Himadri', 'Monisha']
cust_bill = [256.78, 434.53, 109.25, 529.42]
cust_info = pd.Series(cust_bill, cust_names)
```
Use the different methods you have studied to extract the bill amounts for Chad and Monisha.

In [ ]:
##### CODE HERE #####

# Dataframes
A Dataframe is a 2D table made up of multiple series. We will study an introduction to dataframes in this session.

### Example
Creating dataframes

In [ ]:
df = pd.DataFrame()

In [ ]:
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.empty

True

While dataframes can be created using indexed data structures such as lists, we will study the dictionary method in this section. You may explore other ways of creating dataframes on your own.

In [ ]:
cust_data = {'CustomerID' : ['001', '002', '003', '004'],
             'Name': ['Alice', 'Bharadwaj', 'Chiranjeev', 'Dawood'],
             'Email': ['a@example.com', 'b@example.com', 'c@example.com', 'd@example.com'],
             'Phone':  [1234567891, 8090809080, 4145145412, 1989898122],
             'TotalPurchases':  [20, 15, 25, 10]}
df = pd.DataFrame(cust_data)

Note that each feature of the dataframe is a list of values. The dataframe itself is a structured list of these features.

In [ ]:
df

  CustomerID        Name          Email       Phone  TotalPurchases
0        001       Alice  a@example.com  1234567891              20
1        002   Bharadwaj  b@example.com  8090809080              15
2        003  Chiranjeev  c@example.com  4145145412              25
3        004      Dawood  d@example.com  1989898122              10

Note how the column names for the dataframe are inferred from the keys of the dictionary.

In [ ]:
cust_data = {'CustomerID' : ['001', '002', '003', '004'],
            #  'Name': ['Alice', 'Bharadwaj', 'Chiranjeev', 'Dawood'],
             'Email': ['a@example.com', 'b@example.com', 'c@example.com', 'd@example.com'],
             'Phone':  [1234567891, 8090809080, 4145145412, 1989898122],
             'TotalPurchases':  [20, 15, 25, 10]}
cust_names = ['Alice', 'Bharadwaj', 'Chiranjeev', 'Dawood']
df = pd.DataFrame(data = cust_data, index = cust_names)

In [ ]:
df

           CustomerID          Email       Phone  TotalPurchases
Alice             001  a@example.com  1234567891              20
Bharadwaj         002  b@example.com  8090809080              15
Chiranjeev        003  c@example.com  4145145412              25
Dawood            004  d@example.com  1989898122              10

In [ ]:
cust_data = {'CustomerID' : ['001', '002', '003', '004'],
             'Email': ['a@example.com', 'b@example.com', 'c@example.com', 'd@example.com'],
             'Phone':  [1234567891, 8090809080, 4145145412, 1989898122],
             'TotalPurchases':  [20, 15, 25, 10]}
cust_names = ['Alice', 'Bharadwaj', 'Chiranjeev', 'Dawood']
df = pd.DataFrame(cust_data, cust_names)

In [ ]:
df

           CustomerID          Email       Phone  TotalPurchases
Alice             001  a@example.com  1234567891              20
Bharadwaj         002  b@example.com  8090809080              15
Chiranjeev        003  c@example.com  4145145412              25
Dawood            004  d@example.com  1989898122              10

Keep in mind the order of the parameters when calling methods without specifying parameter names.

While you may only work on reading and analyzing data initially, learning to create and manipulate dataframes on the go becomes an integral part of data science as you move ahead in your learning journey.

### Example
Reading data into dataframes

While tabular data can be loaded into the Python environment from various source files, we will study how to read CSV files in this session.

In [ ]:
df_cars = pd.read_csv('cars_dataset.csv')
df_cars

,car_ID,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,...,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,four,sedan,front,99.8,176.6,66.2,54.3,...,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,...,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,197,-2,volvo 244dl,four,sedan,front,104.3,188.8,67.2,56.2,...,four,141,3.78,3.15,9.5,114,5400,24,28,15985.0
143,198,-1,volvo 245,four,wagon,front,104.3,188.8,67.2,57.5,...,four,141,3.78,3.15,9.5,114,5400,24,28,16515.0
144,199,-2,volvo 264gl,four,sedan,front,104.3,188.8,67.2,56.2,...,four,130,3.62,3.15,7.5,162,5100,17,22,18420.0
145,200,-1,volvo diesel,four,wagon,front,104.3,188.8,67.2,57.5,...,four,130,3.62,3.15,7.5,162,5100,17,22,18950.0
146,204,-1,volvo 246,four,sedan,front,109.1,188.8,68.9,55.5,...,six,145,3.01,3.40,23.0,106,4800,26,27,22470.0

You can see the number of rows and columns in the dataset here. You can also look at some of the feature/column names and the entries.

In [ ]:
df_cars.head()

,car_ID,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,...,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,four,sedan,front,99.8,176.6,66.2,54.3,...,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,...,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0

In [ ]:
df_cars.head(2)

,car_ID,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0

The `.head()` method is useful to quickly understand a dataframe's structure.

Whether to use the default integer index or to use unique identifiers such as car names or car models as the index depends on the data analysis methodology.

In [ ]:
df_cars = pd.read_csv('cars_dataset.csv', index_col = 'carname')
df_cars

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
alfa-romero giulia,1,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
alfa-romero stelvio,2,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0
alfa-romero Quadrifoglio,3,1,two,hatchback,front,94.5,171.2,65.5,52.4,2823,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0
audi 100 ls,4,2,four,sedan,front,99.8,176.6,66.2,54.3,2337,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
audi 100ls,5,2,four,sedan,front,99.4,176.6,66.4,54.3,2824,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
volvo 244dl,197,-2,four,sedan,front,104.3,188.8,67.2,56.2,2935,four,141,3.78,3.15,9.5,114,5400,24,28,15985.0
volvo 245,198,-1,four,wagon,front,104.3,188.8,67.2,57.5,3042,four,141,3.78,3.15,9.5,114,5400,24,28,16515.0
volvo 264gl,199,-2,four,sedan,front,104.3,188.8,67.2,56.2,3045,four,130,3.62,3.15,7.5,162,5100,17,22,18420.0
volvo diesel,200,-1,four,wagon,front,104.3,188.8,67.2,57.5,3157,four,130,3.62,3.15,7.5,162,5100,17,22,18950.0
volvo 246,204,-1,four,sedan,front,109.1,188.8,68.9,55.5,3217,six,145,3.01,3.40,23.0,106,4800,26,27,22470.0

### Example
Studying dataframes

In [ ]:
df_cars

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
alfa-romero giulia,1,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
alfa-romero stelvio,2,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0
alfa-romero Quadrifoglio,3,1,two,hatchback,front,94.5,171.2,65.5,52.4,2823,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0
audi 100 ls,4,2,four,sedan,front,99.8,176.6,66.2,54.3,2337,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
audi 100ls,5,2,four,sedan,front,99.4,176.6,66.4,54.3,2824,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
volvo 244dl,197,-2,four,sedan,front,104.3,188.8,67.2,56.2,2935,four,141,3.78,3.15,9.5,114,5400,24,28,15985.0
volvo 245,198,-1,four,wagon,front,104.3,188.8,67.2,57.5,3042,four,141,3.78,3.15,9.5,114,5400,24,28,16515.0
volvo 264gl,199,-2,four,sedan,front,104.3,188.8,67.2,56.2,3045,four,130,3.62,3.15,7.5,162,5100,17,22,18420.0
volvo diesel,200,-1,four,wagon,front,104.3,188.8,67.2,57.5,3157,four,130,3.62,3.15,7.5,162,5100,17,22,18950.0
volvo 246,204,-1,four,sedan,front,109.1,188.8,68.9,55.5,3217,six,145,3.01,3.40,23.0,106,4800,26,27,22470.0

In [ ]:
df_cars.head()

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
alfa-romero giulia,1,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
alfa-romero stelvio,2,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0
alfa-romero Quadrifoglio,3,1,two,hatchback,front,94.5,171.2,65.5,52.4,2823,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0
audi 100 ls,4,2,four,sedan,front,99.8,176.6,66.2,54.3,2337,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
audi 100ls,5,2,four,sedan,front,99.4,176.6,66.4,54.3,2824,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0

In [ ]:
df_cars.head(n = 3)

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
alfa-romero giulia,1,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
alfa-romero stelvio,2,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0
alfa-romero Quadrifoglio,3,1,two,hatchback,front,94.5,171.2,65.5,52.4,2823,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0

In [ ]:
df_cars.head(2)

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
alfa-romero giulia,1,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
alfa-romero stelvio,2,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0

In [ ]:
df_cars.tail()

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
volvo 244dl,197,-2,four,sedan,front,104.3,188.8,67.2,56.2,2935,four,141,3.78,3.15,9.5,114,5400,24,28,15985.0
volvo 245,198,-1,four,wagon,front,104.3,188.8,67.2,57.5,3042,four,141,3.78,3.15,9.5,114,5400,24,28,16515.0
volvo 264gl,199,-2,four,sedan,front,104.3,188.8,67.2,56.2,3045,four,130,3.62,3.15,7.5,162,5100,17,22,18420.0
volvo diesel,200,-1,four,wagon,front,104.3,188.8,67.2,57.5,3157,four,130,3.62,3.15,7.5,162,5100,17,22,18950.0
volvo 246,204,-1,four,sedan,front,109.1,188.8,68.9,55.5,3217,six,145,3.01,3.40,23.0,106,4800,26,27,22470.0

In [ ]:
df_cars.tail(2)

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
volvo diesel,200,-1,four,wagon,front,104.3,188.8,67.2,57.5,3157,four,130,3.62,3.15,7.5,162,5100,17,22,18950.0
volvo 246,204,-1,four,sedan,front,109.1,188.8,68.9,55.5,3217,six,145,3.01,3.40,23.0,106,4800,26,27,22470.0

In [ ]:
df_cars.axes

[Index(['alfa-romero giulia', 'alfa-romero stelvio', 'alfa-romero Quadrifoglio',
        'audi 100 ls', 'audi 100ls', 'audi fox', 'audi 5000', 'audi 4000',
        'audi 5000s (diesel)', 'bmw 320i',
        ...
        'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
        'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
        'volvo 264gl', 'volvo diesel', 'volvo 246'],
       dtype='object', name='carname', length=147),
 Index(['car_ID', 'symboling', 'doornumber', 'carbody', 'enginelocation',
        'wheelbase', 'carlength', 'carwidth', 'carheight', 'curbweight',
        'cylindernumber', 'enginesize', 'boreratio', 'stroke',
        'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
        'price'],
       dtype='object')]

In [ ]:
df_cars.index

Index(['alfa-romero giulia', 'alfa-romero stelvio', 'alfa-romero Quadrifoglio',
       'audi 100 ls', 'audi 100ls', 'audi fox', 'audi 5000', 'audi 4000',
       'audi 5000s (diesel)', 'bmw 320i',
       ...
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'],
      dtype='object', name='carname', length=147)

In [ ]:
df_cars.columns

Index(['car_ID', 'symboling', 'doornumber', 'carbody', 'enginelocation',
       'wheelbase', 'carlength', 'carwidth', 'carheight', 'curbweight',
       'cylindernumber', 'enginesize', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [ ]:
df_cars.shape

(147, 20)

In [ ]:
df_cars.size

2940

In [ ]:
df_cars.dtypes

car_ID                int64
symboling             int64
doornumber           object
carbody              object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
cylindernumber       object
enginesize            int64
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [ ]:
df_cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147 entries, alfa-romero giulia to volvo 246
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            147 non-null    int64
 1   symboling         147 non-null    int64
 2   doornumber        147 non-null    object
 3   carbody           147 non-null    object
 4   enginelocation    147 non-null    object
 5   wheelbase         147 non-null    float64
 6   carlength         147 non-null    float64
 7   carwidth          147 non-null    float64
 8   carheight         147 non-null    float64
 9   curbweight        147 non-null    int64
 10  cylindernumber    147 non-null    object
 11  enginesize        147 non-null    int64
 12  boreratio         147 non-null    float64
 13  stroke            147 non-null    float64
 14  compressionratio  147 non-null    float64
 15  horsepower        147 non-null    int64
 16  peakrpm           147 non-null    int64
 17  citympg           147 non-null    int64
 18  highwaympg        147 non-null    int64
 19  price             147 non-null    float64
dtypes: float64(8), int64(8), object(4)
memory usage: 24.1+ KB

Generally, the `shape`, `columns`, `index` and `info` commands are sufficient to study some important properties of dataframes.

In [ ]:
df_cars.keys()

Index(['car_ID', 'symboling', 'doornumber', 'carbody', 'enginelocation',
       'wheelbase', 'carlength', 'carwidth', 'carheight', 'curbweight',
       'cylindernumber', 'enginesize', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [ ]:
df_cars.values

array([[1, 3, 'two', ..., 21, 27, 13495.0],
       [2, 3, 'two', ..., 21, 27, 16500.0],
       [3, 1, 'two', ..., 19, 26, 16500.0],
       ...,
       [199, -2, 'four', ..., 17, 22, 18420.0],
       [200, -1, 'four', ..., 17, 22, 18950.0],
       [204, -1, 'four', ..., 26, 27, 22470.0]], dtype=object)

In [ ]:
df_cars.transpose()

carname,alfa-romero giulia,alfa-romero stelvio,alfa-romero Quadrifoglio,audi 100 ls,audi 100ls,audi fox,audi 5000,audi 4000,audi 5000s (diesel),bmw 320i,...,vw rabbit,volkswagen rabbit,volkswagen rabbit custom,volvo 145e (sw),volvo 144ea,volvo 244dl,volvo 245,volvo 264gl,volvo diesel,volvo 246
car_ID,1,2,3,4,5,6,8,9,10,11,...,191,192,193,195,196,197,198,199,200,204
symboling,3,3,1,2,2,2,1,1,0,2,...,3,0,0,-2,-1,-2,-1,-2,-1,-1
doornumber,two,two,two,four,four,two,four,four,two,two,...,two,four,four,four,four,four,four,four,four,four
carbody,convertible,convertible,hatchback,sedan,sedan,sedan,wagon,sedan,hatchback,sedan,...,hatchback,sedan,sedan,sedan,wagon,sedan,wagon,sedan,wagon,sedan
enginelocation,front,front,front,front,front,front,front,front,front,front,...,front,front,front,front,front,front,front,front,front,front
wheelbase,88.6,88.6,94.5,99.8,99.4,99.8,105.8,105.8,99.5,101.2,...,94.5,100.4,100.4,104.3,104.3,104.3,104.3,104.3,104.3,109.1
carlength,168.8,168.8,171.2,176.6,176.6,177.3,192.7,192.7,178.2,176.8,...,165.7,180.2,180.2,188.8,188.8,188.8,188.8,188.8,188.8,188.8
carwidth,64.1,64.1,65.5,66.2,66.4,66.3,71.4,71.4,67.9,64.8,...,64.0,66.9,66.9,67.2,67.2,67.2,67.2,67.2,67.2,68.9
carheight,48.8,48.8,52.4,54.3,54.3,53.1,55.7,55.9,52.0,54.3,...,51.4,55.1,55.1,56.2,57.5,56.2,57.5,56.2,57.5,55.5
curbweight,2548,2548,2823,2337,2824,2507,2954,3086,3053,2395,...,2221,2661,2579,2912,3034,2935,3042,3045,3157,3217
cylindernumber,four,four,six,four,five,five,five,five,five,four,...,four,five,four,four,four,four,four,four,four,six
enginesize,130,130,152,109,136,136,136,131,131,108,...,109,136,97,141,141,141,141,130,130,145
boreratio,3.47,3.47,2.68,3.19,3.19,3.19,3.19,3.13,3.13,3.5,...,3.19,3.19,3.01,3.78,3.78,3.78,3.78,3.62,3.62,3.01
stroke,2.68,2.68,3.47,3.4,3.4,3.4,3.4,3.4,3.4,2.8,...,3.4,3.4,3.4,3.15,3.15,3.15,3.15,3.15,3.15,3.4
compressionratio,9.0,9.0,9.0,10.0,8.0,8.5,8.5,8.3,7.0,8.8,...,8.5,8.5,23.0,9.5,9.5,9.5,9.5,7.5,7.5,23.0
horsepower,111,111,154,102,115,110,110,140,160,101,...,90,110,68,114,114,114,114,162,162,106
peakrpm,5000,5000,5000,5500,5500,5500,5500,5500,5500,5800,...,5500,5500,4500,5400,5400,5400,5400,5100,5100,4800
citympg,21,21,19,24,18,19,19,17,16,23,...,24,19,33,23,23,24,24,17,17,26
highwaympg,27,27,26,30,22,25,25,20,22,29,...,29,24,38,28,28,28,28,22,22,27
price,13495.0,16500.0,16500.0,13950.0,17450.0,15250.0,18920.0,23875.0,17859.167,16430.0,...,9980.0,13295.0,13845.0,12940.0,13415.0,15985.0,16515.0,18420.0,18950.0,22470.0

We have used the `.transpose()` method to swap the axes of the dataframe here. It is easy to see that the two axes of dataframes are basically collections of series. A pair of series intersect at a single entry in the dataframe.

We will study further operations on dataframes in detail in a later session.

We have seen some of the important attributes and methods that help in quickly familiarizing ourselves with datasets. Learners are expected to explore this further on their own. You can study more about Pandas dataframes [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html).

### Quiz
Print the top four observations in the `df_cars` dataframe.

In [ ]:
##### CODE HERE #####

### Quiz
Print the bottom six observations in the `df_cars` dataframe.

In [ ]:
##### CODE HERE #####

# Accessing data from dataframes
In this section, we will study various access methods to access data from dataframes. We will focus more on the fundamentals in this session and briefly look at some other important methods. Note that you will work with these operations and methods throughout your data science learning journey and beyond.

### Example
Direct access

In [ ]:
df_cars

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
alfa-romero giulia,1,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
alfa-romero stelvio,2,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0
alfa-romero Quadrifoglio,3,1,two,hatchback,front,94.5,171.2,65.5,52.4,2823,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0
audi 100 ls,4,2,four,sedan,front,99.8,176.6,66.2,54.3,2337,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
audi 100ls,5,2,four,sedan,front,99.4,176.6,66.4,54.3,2824,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
volvo 244dl,197,-2,four,sedan,front,104.3,188.8,67.2,56.2,2935,four,141,3.78,3.15,9.5,114,5400,24,28,15985.0
volvo 245,198,-1,four,wagon,front,104.3,188.8,67.2,57.5,3042,four,141,3.78,3.15,9.5,114,5400,24,28,16515.0
volvo 264gl,199,-2,four,sedan,front,104.3,188.8,67.2,56.2,3045,four,130,3.62,3.15,7.5,162,5100,17,22,18420.0
volvo diesel,200,-1,four,wagon,front,104.3,188.8,67.2,57.5,3157,four,130,3.62,3.15,7.5,162,5100,17,22,18950.0
volvo 246,204,-1,four,sedan,front,109.1,188.8,68.9,55.5,3217,six,145,3.01,3.40,23.0,106,4800,26,27,22470.0

In [ ]:
df_cars['price']

carname
alfa-romero giulia          13495.0
alfa-romero stelvio         16500.0
alfa-romero Quadrifoglio    16500.0
audi 100 ls                 13950.0
audi 100ls                  17450.0
                             ...
volvo 244dl                 15985.0
volvo 245                   16515.0
volvo 264gl                 18420.0
volvo diesel                18950.0
volvo 246                   22470.0
Name: price, Length: 147, dtype: float64

Note that the resulting object is also a Pandas indexable object, like a series or a dataframe. So, you can continue to use relevant accessing methods.

In [ ]:
df_cars['price']['audi 100 ls']

13950.0

You can also access the pricing column as shown below, but this method is applicable only when the name of the column is a single string.

In [ ]:
df_cars.price

carname
alfa-romero giulia          13495.0
alfa-romero stelvio         16500.0
alfa-romero Quadrifoglio    16500.0
audi 100 ls                 13950.0
audi 100ls                  17450.0
                             ...
volvo 244dl                 15985.0
volvo 245                   16515.0
volvo 264gl                 18420.0
volvo diesel                18950.0
volvo 246                   22470.0
Name: price, Length: 147, dtype: float64

In [ ]:
df_cars[['carbody', 'price']]

                              carbody    price
carname
alfa-romero giulia        convertible  13495.0
alfa-romero stelvio       convertible  16500.0
alfa-romero Quadrifoglio    hatchback  16500.0
audi 100 ls                     sedan  13950.0
audi 100ls                      sedan  17450.0
...                               ...      ...
volvo 244dl                     sedan  15985.0
volvo 245                       wagon  16515.0
volvo 264gl                     sedan  18420.0
volvo diesel                    wagon  18950.0
volvo 246                       sedan  22470.0

[147 rows x 2 columns]

In [ ]:
# df_cars[['carbody', 'price']]['audi 100 ls']

In [ ]:
# df_cars[['carbody', 'price']][0]

Direct access methods are not as robust as we would want them to be, but this is where the `.loc[]` and the `.iloc[]` methods help.

### Example
Accessing using the `.loc[]` method

In [ ]:
df_cars.loc[['audi 100 ls', 'volvo diesel'], ['carbody', 'price']]

             carbody    price
carname
audi 100 ls    sedan  13950.0
volvo diesel   wagon  18950.0

Notice the format of the indexer. It is rows first, and then columns.

In [ ]:
df_cars.loc[['audi 100 ls', 'volvo diesel'], ['carbody', 'price']]

             carbody    price
carname
audi 100 ls    sedan  13950.0
volvo diesel   wagon  18950.0

In [ ]:
df_cars.loc['alfa-romero stelvio':'audi 100ls', ['carbody', 'price']]

                              carbody    price
carname
alfa-romero stelvio       convertible  16500.0
alfa-romero Quadrifoglio    hatchback  16500.0
audi 100 ls                     sedan  13950.0
audi 100ls                      sedan  17450.0

In [ ]:
df_cars.loc['alfa-romero stelvio':'audi 100ls', 'wheelbase':'curbweight']

,wheelbase,carlength,carwidth,carheight,curbweight
carname,,,,,
alfa-romero stelvio,88.6,168.8,64.1,48.8,2548
alfa-romero Quadrifoglio,94.5,171.2,65.5,52.4,2823
audi 100 ls,99.8,176.6,66.2,54.3,2337
audi 100ls,99.4,176.6,66.4,54.3,2824

In [ ]:
df_cars.loc[:, 'wheelbase':'curbweight']

,wheelbase,carlength,carwidth,carheight,curbweight
carname,,,,,
alfa-romero giulia,88.6,168.8,64.1,48.8,2548
alfa-romero stelvio,88.6,168.8,64.1,48.8,2548
alfa-romero Quadrifoglio,94.5,171.2,65.5,52.4,2823
audi 100 ls,99.8,176.6,66.2,54.3,2337
audi 100ls,99.4,176.6,66.4,54.3,2824
...,...,...,...,...,...
volvo 244dl,104.3,188.8,67.2,56.2,2935
volvo 245,104.3,188.8,67.2,57.5,3042
volvo 264gl,104.3,188.8,67.2,56.2,3045
volvo diesel,104.3,188.8,67.2,57.5,3157
volvo 246,109.1,188.8,68.9,55.5,3217

In [ ]:
df_cars.loc['alfa-romero stelvio':'audi 100ls', :]

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
alfa-romero stelvio,2,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0
alfa-romero Quadrifoglio,3,1,two,hatchback,front,94.5,171.2,65.5,52.4,2823,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0
audi 100 ls,4,2,four,sedan,front,99.8,176.6,66.2,54.3,2337,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
audi 100ls,5,2,four,sedan,front,99.4,176.6,66.4,54.3,2824,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0

### Example
Accessing using the `.iloc[]` method

The `.iloc[]` method follows the same format as the `.loc[]` method with two major differences. Firstly, we already know that the `.iloc[]` method excludes the stop value. Secondly, the `.loc[]` method depends on the names of the rows and columns, so shuffling the dataset will not produce different results as long as the right names are used, but the `.iloc[]` method strictly works on integer index positioning, so the results will be different if the datasets are different.

In [ ]:
df_cars.iloc[0, 2]

'two'

In [ ]:
df_cars.iloc[[0, 3, 6], [2, 5, 10]]

                   doornumber  wheelbase cylindernumber
carname
alfa-romero giulia        two       88.6           four
audi 100 ls              four       99.8           four
audi 5000                four      105.8           five

In [ ]:
df_cars.iloc[3:110, [2, 5, 10]]

            doornumber  wheelbase cylindernumber
carname
audi 100 ls       four       99.8           four
audi 100ls        four       99.4           five
audi fox           two       99.8           five
audi 5000         four      105.8           five
audi 4000         four      105.8           five
...                ...        ...            ...
subaru dl          two       93.7           four
subaru brz        four       97.2           four
subaru baja       four       97.2           four
subaru r1         four       97.0           four
subaru r2         four       97.0           four

[107 rows x 3 columns]

In [ ]:
df_cars.iloc[[0, 3, 6], :]

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
alfa-romero giulia,1,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
audi 100 ls,4,2,four,sedan,front,99.8,176.6,66.2,54.3,2337,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
audi 5000,8,1,four,wagon,front,105.8,192.7,71.4,55.7,2954,five,136,3.19,3.40,8.5,110,5500,19,25,18920.0

### Example
Boolean indexing

In [ ]:
df_cars['enginesize'] > 120

carname
alfa-romero giulia           True
alfa-romero stelvio          True
alfa-romero Quadrifoglio     True
audi 100 ls                 False
audi 100ls                   True
                            ...
volvo 244dl                  True
volvo 245                    True
volvo 264gl                  True
volvo diesel                 True
volvo 246                    True
Name: enginesize, Length: 147, dtype: bool

In [ ]:
df_cars[df_cars['enginesize'] > 120]

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
alfa-romero giulia,1,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
alfa-romero stelvio,2,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0
alfa-romero Quadrifoglio,3,1,two,hatchback,front,94.5,171.2,65.5,52.4,2823,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0
audi 100ls,5,2,four,sedan,front,99.4,176.6,66.4,54.3,2824,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0
audi fox,6,2,two,sedan,front,99.8,177.3,66.3,53.1,2507,five,136,3.19,3.40,8.5,110,5500,19,25,15250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
volvo 244dl,197,-2,four,sedan,front,104.3,188.8,67.2,56.2,2935,four,141,3.78,3.15,9.5,114,5400,24,28,15985.0
volvo 245,198,-1,four,wagon,front,104.3,188.8,67.2,57.5,3042,four,141,3.78,3.15,9.5,114,5400,24,28,16515.0
volvo 264gl,199,-2,four,sedan,front,104.3,188.8,67.2,56.2,3045,four,130,3.62,3.15,7.5,162,5100,17,22,18420.0
volvo diesel,200,-1,four,wagon,front,104.3,188.8,67.2,57.5,3157,four,130,3.62,3.15,7.5,162,5100,17,22,18950.0
volvo 246,204,-1,four,sedan,front,109.1,188.8,68.9,55.5,3217,six,145,3.01,3.40,23.0,106,4800,26,27,22470.0

In [ ]:
(df_cars['enginesize'] > 120) & (df_cars['carbody'] == 'sedan')

carname
alfa-romero giulia          False
alfa-romero stelvio         False
alfa-romero Quadrifoglio    False
audi 100 ls                 False
audi 100ls                   True
                            ...
volvo 244dl                  True
volvo 245                   False
volvo 264gl                  True
volvo diesel                False
volvo 246                    True
Length: 147, dtype: bool

In [ ]:
df_cars[(df_cars['enginesize'] > 120) & (df_cars['carbody'] == 'sedan')]

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
audi 100ls,5,2,four,sedan,front,99.4,176.6,66.4,54.3,2824,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0
audi fox,6,2,two,sedan,front,99.8,177.3,66.3,53.1,2507,five,136,3.19,3.40,8.5,110,5500,19,25,15250.0
audi 4000,9,1,four,sedan,front,105.8,192.7,71.4,55.9,3086,five,131,3.13,3.40,8.3,140,5500,17,20,23875.0
bmw x1,13,0,two,sedan,front,101.2,176.8,64.8,54.3,2710,six,164,3.31,3.19,9.0,121,4250,21,28,20970.0
bmw x3,14,0,four,sedan,front,101.2,176.8,64.8,54.3,2765,six,164,3.31,3.19,9.0,121,4250,21,28,21105.0
bmw z4,15,1,four,sedan,front,103.5,189.0,66.9,55.7,3055,six,164,3.31,3.19,9.0,121,4250,20,25,24565.0
bmw x4,16,0,four,sedan,front,103.5,189.0,66.9,55.7,3230,six,209,3.62,3.39,8.0,182,5400,16,22,30760.0
bmw x5,17,0,two,sedan,front,103.5,193.8,67.9,53.7,3380,six,209,3.62,3.39,8.0,182,5400,16,22,41315.0
jaguar xj,48,0,four,sedan,front,113.0,199.6,69.6,52.8,4066,six,258,3.63,4.17,8.1,176,4750,15,19,32250.0
jaguar xf,49,0,four,sedan,front,113.0,199.6,69.6,52.8,4066,six,258,3.63,4.17,8.1,176,4750,15,19,35550.0
jaguar xk,50,0,two,sedan,front,102.0,191.7,70.6,47.8,3950,twelve,326,3.54,2.76,11.5,262,5000,13,17,36000.0
mazda glc custom l,61,0,four,sedan,front,98.8,177.8,66.5,55.5,2410,four,122,3.39,3.39,8.6,84,4800,26,32,8495.0
buick electra 225 custom,68,-1,four,sedan,front,110.0,190.9,70.3,56.5,3515,five,183,3.58,3.64,21.5,123,4350,22,25,25552.0
buick skyhawk,71,-1,four,sedan,front,115.6,202.6,71.7,56.3,3770,five,183,3.58,3.64,21.5,123,4350,22,25,31600.0
buick opel isuzu deluxe,72,-1,four,sedan,front,115.6,202.6,71.7,56.5,3740,eight,234,3.46,3.10,8.3,155,4750,16,18,34184.0
buick century special,74,0,four,sedan,front,120.9,208.1,71.7,56.7,3900,eight,308,3.80,3.35,8.0,184,4500,14,16,40960.0
mitsubishi montero,86,1,four,sedan,front,96.3,172.4,65.4,51.6,2365,four,122,3.35,3.46,8.5,88,5000,25,32,6989.0
mitsubishi pajero,87,1,four,sedan,front,96.3,172.4,65.4,51.6,2405,four,122,3.35,3.46,8.5,88,5000,25,32,8189.0
nissan dayz,102,0,four,sedan,front,100.4,181.7,66.5,55.1,3095,six,181,3.43,3.27,9.0,152,5200,17,22,13499.0
nissan otti,104,0,four,sedan,front,100.4,184.6,66.5,55.1,3060,six,181,3.43,3.27,9.0,152,5200,19,25,13499.0
peugeot 304,109,0,four,sedan,front,107.9,186.7,68.4,56.7,3197,four,152,3.70,3.52,21.0,95,4150,28,33,13200.0
peugeot 604sl,113,0,four,sedan,front,107.9,186.7,68.4,56.7,3252,four,152,3.70,3.52,21.0,95,4150,28,33,16900.0
saab 99le,134,2,four,sedan,front,99.1,186.6,66.5,56.1,2695,four,121,3.54,3.07,9.3,110,5250,21,28,12170.0
saab 99gle,136,2,four,sedan,front,99.1,186.6,66.5,56.1,2758,four,121,3.54,3.07,9.3,110,5250,21,28,15510.0
volkswagen rabbit,192,0,four,sedan,front,100.4,180.2,66.9,55.1,2661,five,136,3.19,3.40,8.5,110,5500,19,24,13295.0
volvo 145e (sw),195,-2,four,sedan,front,104.3,188.8,67.2,56.2,2912,four,141,3.78,3.15,9.5,114,5400,23,28,12940.0
volvo 244dl,197,-2,four,sedan,front,104.3,188.8,67.2,56.2,2935,four,141,3.78,3.15,9.5,114,5400,24,28,15985.0
volvo 264gl,199,-2,four,sedan,front,104.3,188.8,67.2,56.2,3045,four,130,3.62,3.15,7.5,162,5100,17,22,18420.0
volvo 246,204,-1,four,sedan,front,109.1,188.8,68.9,55.5,3217,six,145,3.01,3.40,23.0,106,4800,26,27,22470.0

In [ ]:
enginesize_condition = df_cars['enginesize'] > 120
carbody_condition = df_cars['carbody'] == 'sedan'
price_condition = df_cars['price'] < 12500
df_cars[enginesize_condition & carbody_condition & price_condition]

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
mazda glc custom l,61,0,four,sedan,front,98.8,177.8,66.5,55.5,2410,four,122,3.39,3.39,8.6,84,4800,26,32,8495.0
mitsubishi montero,86,1,four,sedan,front,96.3,172.4,65.4,51.6,2365,four,122,3.35,3.46,8.5,88,5000,25,32,6989.0
mitsubishi pajero,87,1,four,sedan,front,96.3,172.4,65.4,51.6,2405,four,122,3.35,3.46,8.5,88,5000,25,32,8189.0
saab 99le,134,2,four,sedan,front,99.1,186.6,66.5,56.1,2695,four,121,3.54,3.07,9.3,110,5250,21,28,12170.0

In [ ]:
enginesize_condition = df_cars['enginesize'] > 120
carbody_condition = df_cars['carbody'] == 'sedan'
price_condition = df_cars['price'] < 12500
carheight_condition = df_cars['carheight'] > 50
df_cars[(enginesize_condition & carbody_condition & price_condition) | carheight_condition]

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
alfa-romero Quadrifoglio,3,1,two,hatchback,front,94.5,171.2,65.5,52.4,2823,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0
audi 100 ls,4,2,four,sedan,front,99.8,176.6,66.2,54.3,2337,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
audi 100ls,5,2,four,sedan,front,99.4,176.6,66.4,54.3,2824,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0
audi fox,6,2,two,sedan,front,99.8,177.3,66.3,53.1,2507,five,136,3.19,3.40,8.5,110,5500,19,25,15250.0
audi 5000,8,1,four,wagon,front,105.8,192.7,71.4,55.7,2954,five,136,3.19,3.40,8.5,110,5500,19,25,18920.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
volvo 244dl,197,-2,four,sedan,front,104.3,188.8,67.2,56.2,2935,four,141,3.78,3.15,9.5,114,5400,24,28,15985.0
volvo 245,198,-1,four,wagon,front,104.3,188.8,67.2,57.5,3042,four,141,3.78,3.15,9.5,114,5400,24,28,16515.0
volvo 264gl,199,-2,four,sedan,front,104.3,188.8,67.2,56.2,3045,four,130,3.62,3.15,7.5,162,5100,17,22,18420.0
volvo diesel,200,-1,four,wagon,front,104.3,188.8,67.2,57.5,3157,four,130,3.62,3.15,7.5,162,5100,17,22,18950.0
volvo 246,204,-1,four,sedan,front,109.1,188.8,68.9,55.5,3217,six,145,3.01,3.40,23.0,106,4800,26,27,22470.0

In [ ]:
subset_cars = df_cars[(enginesize_condition & carbody_condition & price_condition) | carheight_condition]
subset_cars

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
alfa-romero Quadrifoglio,3,1,two,hatchback,front,94.5,171.2,65.5,52.4,2823,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0
audi 100 ls,4,2,four,sedan,front,99.8,176.6,66.2,54.3,2337,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
audi 100ls,5,2,four,sedan,front,99.4,176.6,66.4,54.3,2824,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0
audi fox,6,2,two,sedan,front,99.8,177.3,66.3,53.1,2507,five,136,3.19,3.40,8.5,110,5500,19,25,15250.0
audi 5000,8,1,four,wagon,front,105.8,192.7,71.4,55.7,2954,five,136,3.19,3.40,8.5,110,5500,19,25,18920.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
volvo 244dl,197,-2,four,sedan,front,104.3,188.8,67.2,56.2,2935,four,141,3.78,3.15,9.5,114,5400,24,28,15985.0
volvo 245,198,-1,four,wagon,front,104.3,188.8,67.2,57.5,3042,four,141,3.78,3.15,9.5,114,5400,24,28,16515.0
volvo 264gl,199,-2,four,sedan,front,104.3,188.8,67.2,56.2,3045,four,130,3.62,3.15,7.5,162,5100,17,22,18420.0
volvo diesel,200,-1,four,wagon,front,104.3,188.8,67.2,57.5,3157,four,130,3.62,3.15,7.5,162,5100,17,22,18950.0
volvo 246,204,-1,four,sedan,front,109.1,188.8,68.9,55.5,3217,six,145,3.01,3.40,23.0,106,4800,26,27,22470.0

In [ ]:
subset_cars.index

Index(['alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls', 'audi fox',
       'audi 5000', 'audi 4000', 'audi 5000s (diesel)', 'bmw 320i', 'bmw x1',
       'bmw x3',
       ...
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'],
      dtype='object', name='carname', length=137)

In [ ]:
subset_cars.loc[:, 'wheelbase':'curbweight']

,wheelbase,carlength,carwidth,carheight,curbweight
carname,,,,,
alfa-romero Quadrifoglio,94.5,171.2,65.5,52.4,2823
audi 100 ls,99.8,176.6,66.2,54.3,2337
audi 100ls,99.4,176.6,66.4,54.3,2824
audi fox,99.8,177.3,66.3,53.1,2507
audi 5000,105.8,192.7,71.4,55.7,2954
...,...,...,...,...,...
volvo 244dl,104.3,188.8,67.2,56.2,2935
volvo 245,104.3,188.8,67.2,57.5,3042
volvo 264gl,104.3,188.8,67.2,56.2,3045
volvo diesel,104.3,188.8,67.2,57.5,3157
volvo 246,109.1,188.8,68.9,55.5,3217

In [ ]:
subset_cars.loc['volvo 244dl':'volvo diesel', 'wheelbase':'curbweight']

              wheelbase  carlength  carwidth  carheight  curbweight
carname
volvo 244dl       104.3      188.8      67.2       56.2        2935
volvo 245         104.3      188.8      67.2       57.5        3042
volvo 264gl       104.3      188.8      67.2       56.2        3045
volvo diesel      104.3      188.8      67.2       57.5        3157

The `.isin()` method is quite helpful in executing conditional access from dataframes.

In [ ]:
df_cars['carbody'].isin(['wagon', 'sedan'])

carname
alfa-romero giulia          False
alfa-romero stelvio         False
alfa-romero Quadrifoglio    False
audi 100 ls                  True
audi 100ls                   True
                            ...
volvo 244dl                  True
volvo 245                    True
volvo 264gl                  True
volvo diesel                 True
volvo 246                    True
Name: carbody, Length: 147, dtype: bool

In [ ]:
df_cars[df_cars['carbody'].isin(['wagon', 'sedan'])]

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
audi 100 ls,4,2,four,sedan,front,99.8,176.6,66.2,54.3,2337,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
audi 100ls,5,2,four,sedan,front,99.4,176.6,66.4,54.3,2824,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0
audi fox,6,2,two,sedan,front,99.8,177.3,66.3,53.1,2507,five,136,3.19,3.40,8.5,110,5500,19,25,15250.0
audi 5000,8,1,four,wagon,front,105.8,192.7,71.4,55.7,2954,five,136,3.19,3.40,8.5,110,5500,19,25,18920.0
audi 4000,9,1,four,sedan,front,105.8,192.7,71.4,55.9,3086,five,131,3.13,3.40,8.3,140,5500,17,20,23875.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
volvo 244dl,197,-2,four,sedan,front,104.3,188.8,67.2,56.2,2935,four,141,3.78,3.15,9.5,114,5400,24,28,15985.0
volvo 245,198,-1,four,wagon,front,104.3,188.8,67.2,57.5,3042,four,141,3.78,3.15,9.5,114,5400,24,28,16515.0
volvo 264gl,199,-2,four,sedan,front,104.3,188.8,67.2,56.2,3045,four,130,3.62,3.15,7.5,162,5100,17,22,18420.0
volvo diesel,200,-1,four,wagon,front,104.3,188.8,67.2,57.5,3157,four,130,3.62,3.15,7.5,162,5100,17,22,18950.0
volvo 246,204,-1,four,sedan,front,109.1,188.8,68.9,55.5,3217,six,145,3.01,3.40,23.0,106,4800,26,27,22470.0

In [ ]:
df_cars[~df_cars['carbody'].isin(['wagon', 'sedan'])]

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
alfa-romero giulia,1,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.680,9.00,111,5000,21,27,13495.000
alfa-romero stelvio,2,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.680,9.00,111,5000,21,27,16500.000
alfa-romero Quadrifoglio,3,1,two,hatchback,front,94.5,171.2,65.5,52.4,2823,six,152,2.68,3.470,9.00,154,5000,19,26,16500.000
audi 5000s (diesel),10,0,two,hatchback,front,99.5,178.2,67.9,52.0,3053,five,131,3.13,3.400,7.00,160,5500,16,22,17859.167
chevrolet impala,19,2,two,hatchback,front,88.4,141.1,60.3,53.2,1488,three,61,2.91,3.030,9.50,48,5100,47,53,5151.000
chevrolet monte carlo,20,1,two,hatchback,front,94.5,155.9,63.6,52.0,1874,four,90,3.03,3.110,9.60,70,5400,38,43,6295.000
dodge rampage,22,1,two,hatchback,front,93.7,157.3,63.8,50.8,1876,four,90,2.97,3.230,9.41,68,5500,37,41,5572.000
dodge challenger se,23,1,two,hatchback,front,93.7,157.3,63.8,50.8,1876,four,90,2.97,3.230,9.40,68,5500,31,38,6377.000
dodge d200,24,1,two,hatchback,front,93.7,157.3,63.8,50.8,2128,four,98,3.03,3.390,7.60,102,5500,24,30,7957.000
dodge monaco (sw),25,1,four,hatchback,front,93.7,157.3,63.8,50.6,1967,four,90,2.97,3.230,9.40,68,5500,31,38,6229.000
dodge coronet custom (sw),30,3,two,hatchback,front,95.9,173.2,66.3,50.2,2811,four,156,3.60,3.900,7.00,145,5000,19,24,12964.000
honda civic,31,2,two,hatchback,front,86.6,144.6,63.9,50.8,1713,four,92,2.91,3.410,9.60,58,4800,49,54,6479.000
honda civic cvcc,32,2,two,hatchback,front,86.6,144.6,63.9,50.8,1819,four,92,2.91,3.410,9.20,76,6000,31,38,6855.000
honda accord cvcc,34,1,two,hatchback,front,93.7,150.0,64.0,52.6,1940,four,92,2.91,3.410,9.20,76,6000,30,34,6529.000
honda accord,38,0,two,hatchback,front,96.5,167.5,65.2,53.3,2236,four,110,3.15,3.580,9.00,86,5800,27,33,7895.000
honda civic 1300,39,0,two,hatchback,front,96.5,167.5,65.2,53.3,2289,four,110,3.15,3.580,9.00,86,5800,27,33,9095.000
maxda rx3,51,1,two,hatchback,front,93.1,159.1,64.2,54.1,1890,four,91,3.03,3.150,9.00,68,5000,30,31,5195.000
maxda glc deluxe,52,1,two,hatchback,front,93.1,159.1,64.2,54.1,1900,four,91,3.03,3.150,9.00,68,5000,31,38,6095.000
mazda rx2 coupe,53,1,two,hatchback,front,93.1,159.1,64.2,54.1,1905,four,91,3.03,3.150,9.00,68,5000,31,38,6795.000
mazda 626,56,3,two,hatchback,front,95.3,169.0,65.7,49.6,2380,two,70,3.33,3.255,9.40,101,6000,17,23,10945.000
mazda glc,57,3,two,hatchback,front,95.3,169.0,65.7,49.6,2380,two,70,3.33,3.255,9.40,101,6000,17,23,11845.000
mazda rx-7 gs,58,3,two,hatchback,front,95.3,169.0,65.7,49.6,2385,two,70,3.33,3.255,9.40,101,6000,17,23,13645.000
mazda glc 4,59,3,two,hatchback,front,95.3,169.0,65.7,49.6,2500,two,80,3.33,3.255,9.40,135,6000,16,23,15645.000
mazda glc custom,62,1,two,hatchback,front,98.8,177.8,66.5,53.7,2385,four,122,3.39,3.390,8.60,84,4800,26,32,10595.000
buick century,70,0,two,hardtop,front,106.7,187.5,70.3,54.9,3495,five,183,3.58,3.640,21.50,123,4350,22,25,28176.000
buick skylark,73,3,two,convertible,front,96.6,180.3,70.5,50.8,3685,eight,234,3.46,3.100,8.30,155,4750,16,18,35056.000
buick regal sport coupe (turbo),75,1,two,hardtop,front,112.0,199.2,72.0,55.4,3715,eight,304,3.80,3.350,8.00,184,4500,14,16,45400.000
mercury cougar,76,1,two,hatchback,front,102.7,178.4,68.0,54.8,2910,four,140,3.78,3.120,8.00,175,5000,19,24,16503.000
mitsubishi mirage,77,2,two,hatchback,front,93.7,157.3,64.4,50.8,1918,four,92,2.97,3.230,9.40,68,5500,37,41,5389.000
mitsubishi lancer,78,2,two,hatchback,front,93.7,157.3,64.4,50.8,1944,four,92,2.97,3.230,9.40,68,5500,31,38,6189.000
mitsubishi outlander,79,2,two,hatchback,front,93.7,157.3,64.4,50.8,2004,four,92,2.97,3.230,9.40,68,5500,31,38,6669.000
mitsubishi g4,80,1,two,hatchback,front,93.0,157.3,63.8,50.8,2145,four,98,3.03,3.390,7.60,102,5500,24,30,7689.000
mitsubishi mirage g4,81,3,two,hatchback,front,96.3,173.0,65.4,49.4,2370,four,110,3.17,3.460,7.50,116,5500,23,30,9959.000
nissan juke,96,1,two,hatchback,front,94.5,165.6,63.8,53.3,2028,four,97,3.15,3.290,9.40,69,5200,31,37,7799.000
nissan clipper,99,2,two,hardtop,front,95.1,162.4,63.8,53.3,2008,four,97,3.15,3.290,9.40,69,5200,31,37,8249.000
nissan teana,105,3,two,hatchback,front,91.3,170.7,67.9,49.7,3071,six,181,3.43,3.270,9.00,160,5200,19,25,17199.000
nissan kicks,106,3,two,hatchback,front,91.3,170.7,67.9,49.7,3139,six,181,3.43,3.270,7.80,200,5200,17,23,19699.000
plymouth fury iii,119,1,two,hatchback,front,93.7,157.3,63.8,50.8,1918,four,90,2.97,3.230,9.40,68,5500,37,41,5572.000
plymouth cricket,120,1,two,hatchback,front,93.7,157.3,63.8,50.8,2128,four,98,3.03,3.390,7.60,102,5500,24,30,7957.000
plymouth duster,125,3,two,hatchback,front,95.9,173.2,66.3,50.2,2818,four,156,3.59,3.860,7.00,145,5000,19,24,12764.000
porsche macan,126,3,two,hatchback,front,94.5,168.9,68.3,50.2,2778,four,151,3.94,3.110,9.50,143,5500,19,27,22018.000
porcshce panamera,127,3,two,hardtop,rear,89.5,168.9,65.0,51.6,2756,six,194,3.74,2.900,9.50,207,5900,17,25,32528.000
porsche cayenne,128,3,two,hardtop,rear,89.5,168.9,65.0,51.6,2756,six,194,3.74,2.900,9.50,207,5900,17,25,34028.000
porsche boxter,129,3,two,convertible,rear,89.5,168.9,65.0,51.6,2800,six,194,3.74,2.900,9.50,207,5900,17,25,37028.000
renault 5 gtl,132,2,two,hatchback,front,96.1,176.8,66.6,50.5,2460,four,132,3.46,3.900,8.70,90,5100,23,31,9895.000
saab 99e,133,3,two,hatchback,front,99.1,186.6,66.5,56.1,2658,four,121,3.54,3.070,9.31,110,5250,21,28,11850.000
subaru,139,2,two,hatchback,front,93.7,156.9,63.4,53.7,2050,four,97,3.62,2.360,9.00,69,4900,31,36,5118.000
subaru dl,140,2,two,hatchback,front,93.7,157.9,63.6,53.7,2120,four,108,3.62,2.640,8.70,73,4400,26,31,7053.000
toyota corona mark ii,151,1,two,hatchback,front,95.7,158.7,63.6,54.5,1985,four,92,3.05,3.030,9.00,62,4800,35,39,5348.000
toyota corona,152,1,two,hatchback,front,95.7,158.7,63.6,54.5,2040,four,92,3.05,3.030,9.00,62,4800,31,38,6338.000
toyota corolla 1200,153,1,four,hatchback,front,95.7,158.7,63.6,54.5,2015,four,92,3.05,3.030,9.00,62,4800,31,38,6488.000
toyota corolla,160,0,four,hatchback,front,95.7,166.3,64.4,52.8,2275,four,110,3.27,3.350,22.50,56,4500,38,47,7788.000
toyota corolla tercel,167,1,two,hatchback,front,94.5,168.7,64.0,52.6,2300,four,98,3.24,3.080,9.40,112,6600,26,29,9538.000
toyota corona liftback,168,2,two,hardtop,front,98.4,176.2,65.6,52.0,2540,four,146,3.62,3.500,9.30,116,4800,24,30,8449.000
toyota starlet,170,2,two,hatchback,front,98.4,176.2,65.6,52.0,2551,four,146,3.62,3.500,9.30,116,4800,24,30,9989.000
toyota tercel,171,2,two,hardtop,front,98.4,176.2,65.6,52.0,2679,four,146,3.62,3.500,9.30,116,4800,24,30,11199.000
toyota cressida,173,2,two,convertible,front,98.4,176.2,65.6,53.0,2975,four,146,3.62,3.500,9.30,116,4800,24,30,17669.000
vw dasher,190,3,two,convertible,front,94.5,159.3,64.2,55.6,2254,four,109,3.19,3.400,8.50,90,5500,24,29,11595.000
vw rabbit,191,3,two,hatchback,front,94.5,165.7,64.0,51.4,2221,four,109,3.19,3.400,8.50,90,5500,24,29,9980.000

### Example

Accessing columns with specific data types

In [ ]:
int_columns = df_cars.select_dtypes(include = 'int')
int_columns

,car_ID,symboling,curbweight,enginesize,horsepower,peakrpm,citympg,highwaympg
carname,,,,,,,,
alfa-romero giulia,1,3,2548,130,111,5000,21,27
alfa-romero stelvio,2,3,2548,130,111,5000,21,27
alfa-romero Quadrifoglio,3,1,2823,152,154,5000,19,26
audi 100 ls,4,2,2337,109,102,5500,24,30
audi 100ls,5,2,2824,136,115,5500,18,22
...,...,...,...,...,...,...,...,...
volvo 244dl,197,-2,2935,141,114,5400,24,28
volvo 245,198,-1,3042,141,114,5400,24,28
volvo 264gl,199,-2,3045,130,162,5100,17,22
volvo diesel,200,-1,3157,130,162,5100,17,22
volvo 246,204,-1,3217,145,106,4800,26,27

In [ ]:
float_columns = df_cars.select_dtypes(include = 'float')
float_columns

,wheelbase,carlength,carwidth,carheight,boreratio,stroke,compressionratio,price
carname,,,,,,,,
alfa-romero giulia,88.6,168.8,64.1,48.8,3.47,2.68,9.0,13495.0
alfa-romero stelvio,88.6,168.8,64.1,48.8,3.47,2.68,9.0,16500.0
alfa-romero Quadrifoglio,94.5,171.2,65.5,52.4,2.68,3.47,9.0,16500.0
audi 100 ls,99.8,176.6,66.2,54.3,3.19,3.40,10.0,13950.0
audi 100ls,99.4,176.6,66.4,54.3,3.19,3.40,8.0,17450.0
...,...,...,...,...,...,...,...,...
volvo 244dl,104.3,188.8,67.2,56.2,3.78,3.15,9.5,15985.0
volvo 245,104.3,188.8,67.2,57.5,3.78,3.15,9.5,16515.0
volvo 264gl,104.3,188.8,67.2,56.2,3.62,3.15,7.5,18420.0
volvo diesel,104.3,188.8,67.2,57.5,3.62,3.15,7.5,18950.0
volvo 246,109.1,188.8,68.9,55.5,3.01,3.40,23.0,22470.0

In [ ]:
df_cars

,car_ID,symboling,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carname,,,,,,,,,,,,,,,,,,,,
alfa-romero giulia,1,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
alfa-romero stelvio,2,3,two,convertible,front,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0
alfa-romero Quadrifoglio,3,1,two,hatchback,front,94.5,171.2,65.5,52.4,2823,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0
audi 100 ls,4,2,four,sedan,front,99.8,176.6,66.2,54.3,2337,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
audi 100ls,5,2,four,sedan,front,99.4,176.6,66.4,54.3,2824,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
volvo 244dl,197,-2,four,sedan,front,104.3,188.8,67.2,56.2,2935,four,141,3.78,3.15,9.5,114,5400,24,28,15985.0
volvo 245,198,-1,four,wagon,front,104.3,188.8,67.2,57.5,3042,four,141,3.78,3.15,9.5,114,5400,24,28,16515.0
volvo 264gl,199,-2,four,sedan,front,104.3,188.8,67.2,56.2,3045,four,130,3.62,3.15,7.5,162,5100,17,22,18420.0
volvo diesel,200,-1,four,wagon,front,104.3,188.8,67.2,57.5,3157,four,130,3.62,3.15,7.5,162,5100,17,22,18950.0
volvo 246,204,-1,four,sedan,front,109.1,188.8,68.9,55.5,3217,six,145,3.01,3.40,23.0,106,4800,26,27,22470.0

### Quiz
Print the `'price'`, `'enginelocation'`, `'citympg'`, and `'cylindernumber'` details of the cars `'nissan teana'`, `'toyota corolla tercel'`, and `'volkswagen type 3'` from the `df_cars` dataframe.

In [ ]:
##### CODE HERE #####

### Quiz
Print the names of the cars that have a `'carbody'` type of `'sedan'`, a `'highwaympg'` value greater than 45, and whose prices are not more than 22000 dollars.

In [ ]:
##### CODE HERE #####

In this session, we studied Pandas series and dataframes, two of the most popular and important data structures for handling real-world data, especially tabular data. We looked into their basic attributes and also learned how to query them by using various accessing methods.