In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [3]:
elecar = pd.read_csv("IEA-EV-dataEV salesHistoricalCars.csv")

In [7]:
elecar.head(5)

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
1,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
2,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000

In [9]:
elecar.isna().mean()*100

region        0.0
category      0.0
parameter     0.0
mode          0.0
powertrain    0.0
year          0.0
unit          0.0
value         0.0
dtype: float64

In [13]:
elecar.dtypes

region         object
category       object
parameter      object
mode           object
powertrain     object
year            int64
unit           object
value         float64
dtype: object

In [15]:
elecar.shape

(3798, 8)

In [23]:
for x in elecar.columns:
    elecar[x].value_counts()

In [25]:
for x in elecar.columns:
    print(f"\nValue counts for column: {x}")
    print(elecar[x].value_counts())

Value counts for column: region
region
World                   154
Europe                  154
USA                     144
China                   132
Rest of the world       124
EU27                    112
Germany                 109
Belgium                 107
France                  105
Japan                   104
India                   104
Netherlands             103
Norway                  102
Denmark                 101
Sweden                  100
United Kingdom          100
Canada                   97
Iceland                  96
Italy                    96
Switzerland              95
Spain                    94
New Zealand              92
Korea                    92
Austria                  90
Portugal                 85
Finland                  82
Australia                82
Israel                   78
Chile                    77
Poland                   75
Brazil                   73
Mexico                   70
South Africa             69
Turkiye                  64
Greece                   62
Colombia                 27
Hungary                  27
Costa Rica               27
Ireland                  27
Latvia                   27
Bulgaria                 25
Estonia                  25
Czech Republic           24
Slovenia                 24
Slovakia                 23
Romania                  19
Lithuania                19
Seychelles               18
United Arab Emirates     18
Croatia                  15
Luxembourg               15
Cyprus                   14
Name: count, dtype: int64

Value counts for column: category
category
Historical    3798
Name: count, dtype: int64

Value counts for column: parameter
parameter
EV sales                         1342
EV stock                         1145
EV sales share                    603
EV stock share                    465
Oil displacement Mbd               84
Oil displacement, million lge      84
Electricity demand                 75
Name: count, dtype: int64

Value counts for column: mode
mode
Cars    3798
Name: count, dtype: int64

Value counts for column: powertrain
powertrain
EV      1311
BEV     1078
PHEV     922
FCEV     487
Name: count, dtype: int64

Value counts for column: year
year
2021    338
2022    336
2023    332
2020    321
2019    319
2018    301
2017    294
2016    289
2015    287
2014    238
2013    223
2012    203
2011    182
2010    135
Name: count, dtype: int64

Value counts for column: unit
unit
Vehicles                         2487
percent                          1068
Milion barrels per day             84
Oil displacement, million lge      84
GWh                                75
Name: count, dtype: int64

Value counts for column: value
value
1.000000e+00    47
2.000000e+00    35
3.000000e+00    32
1.200000e+03    27
1.400000e+03    25
                ..
8.600000e-01     1
6.700000e+00     1
4.000000e-04     1
5.400000e-03     1
9.500000e+06     1
Name: count, Length: 814, dtype: int64