In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
elecar = pd.read_csv("IEA-EV-dataEV salesHistoricalCars.csv")

In [61]:
pd.set_option('display.max_rows',None)

In [3]:
elecar.head(5)

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
1,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
2,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000

In [4]:
elecar.isna().mean()*100

region        0.0
category      0.0
parameter     0.0
mode          0.0
powertrain    0.0
year          0.0
unit          0.0
value         0.0
dtype: float64

In [5]:
elecar.dtypes

region         object
category       object
parameter      object
mode           object
powertrain     object
year            int64
unit           object
value         float64
dtype: object

In [6]:
elecar.shape

(3798, 8)

In [33]:
elecar['value'].describe()

count    3.798000e+03
mean     1.009542e+05
std      8.184402e+05
min      1.500000e-05
25%      2.300000e+00
50%      1.900000e+02
75%      6.800000e+03
max      2.800000e+07
Name: value, dtype: float64

In [ ]:
ele