In [4]:
import pandas as pd

# use encoding

In [6]:
df = pd.read_csv("User_Movie_Ratings (2).csv",encoding='latin1')

# USE MAX ROW AND COLUMN

In [8]:
pd.set_option('display.max_columns',None)

In [9]:
pd.set_option('display.max_row',None)

In [10]:
df.shape

(20, 11)

In [11]:
df.dtypes

User                    object
Thor                     int64
Justice League           int64
Spiderman                int64
The Notebook             int64
Casablanca               int64
Beauty and the Beast     int64
Dolittle                 int64
The Kissing Booth        int64
Annabelle                int64
Insidious                int64
dtype: object

In [12]:
df.ndim

2

# EXPORT THE DATAFRAME TO ANY EXTENSION

In [14]:
df.to_excel('anish.xlsx')

# unstack

In [16]:
import pandas as pd

# Creating a MultiIndex DataFrame
data = {
    ('Math', 'Test1'): [85, 90],
    ('Math', 'Test2'): [88, 92],
    ('English', 'Test1'): [78, 83],
    ('English', 'Test2'): [80, 85]
}
index = ['Alice', 'Bob']
df = pd.DataFrame(data, index=index)

# Convert to stacked form
stacked = df.stack()

# Now unstack it
unstacked = stacked.unstack()

C:\Users\anish\AppData\Local\Temp\ipykernel_12576\469589270.py:14: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  stacked = df.stack()

In [17]:
stacked

             Math  English
Alice Test1    85       78
      Test2    88       80
Bob   Test1    90       83
      Test2    92       85

In [33]:
unstacked

       Math       English
      Test1 Test2   Test1 Test2
Alice    85    88      78    80
Bob      90    92      83    85