# NumPy and Pandas
In this session, we will solve a few NumPy and Pandas questions and review our work.

### Quiz
*The following question is similar to ones that can be asked in interviews at companies such as TCS for roles such as Software Engineer and Data Analyst. Make sure to attempt this question!*

Define a function that takes in the coordinates of three points in 2D space and returns the area of the triangle formed by them.

Here is a test case to help you out:
> The area of the triangle formed by the points in the list `points = [(-2.4, 3.2), (1.1, 0.6), (-4.3, 6.7)]` is about $3.7$ squared units.

Try using the `numpy.abs()` and `numpy.cross()` methods from NumPy to solve this problem. Remember mathematics from school. Note that you need to convert the tuples to arrays to perform vector operations. Feel free to use a combination of operations and methods to perform this task.

In [ ]:
##### CODE HERE #####

### Quiz
Use the `'matches_data.csv'` file to answer this question. The dataset contains details of matches played between various teams in the IPL. Assume the data to be clean. Use the data to answer the following question:
> Considering all the matches played between Chennai Super Kings and Royal Challengers Bengaluru, is it safe to say that it appears as though Chennai Super Kings has more overall wins against Royal Challengers Bengaluru? Additionally, does the location of the match influence the chances of Royal Challengers Bengaluru winning against Chennai Super Kings?

You can find the batting and bowling teams under the columns `'team1'` and `'team2'`. You may consider treating the location of the matches as a categorical variable with three levels, namely, `'Chennai'`, `'Bengaluru'`, and `'others'`. Note that the team names are recorded by their city names, like `'Chennai'` for Chennai Super Kings.

In [ ]:
##### CODE HERE #####

### Quiz
Use the `'AirPassengers.csv'` file to answer this question. The dataset contains the number of passengers in an airliner service per month from January 1949 to December 1960. Use the data to answer the following question:
> In which year did the median number of passengers (per year) cross the 300 passengers mark?

You will need to convert the `'Month'` column into a datetime object and extract the year data from it, which you can then use to answer the above question.

In [ ]:
##### CODE HERE #####