In [276]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning

### Data Reading & Data Types

In [278]:
#Read the data in pandas
inp0= pd.read_csv("Attribute+DataSet (7).csv")
inp1= pd.read_csv("Dress+Sales (4).csv")

You have “Attribute DataSet” which contains a column named “Price”. Choose the correct statement from the following about its data type and variable type.
- Integer type and numerical variable
- Object type and categorical ordinal variable
- Object type and categorical nominal variable
- Float type and categorical variable.

There is another column in “Attribute DataSet” named as “Recommendation”, choose the correct statement about its data type and variable type.
- Integer type and categorical
- Object type and categorical
- Integer type and continuous numerical
- Object type only.

Which of the following column do you think are of no use in “Attribute DataSet”.
- Dress_ID
- Price
- Size and material
- NeckLine
- None of the above

In [280]:
# Print the information about the attributes of inp0 and inp1.
inp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    object
 9   14-09-2013  479 non-null    object
 10  16-09-2013  479 non-null    object
 11  18-09-2013  479 non-null    object
 12  20-09-2013  479 non-null    object
 13  22-09-2013  479 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB

In [282]:
inp0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB

### Fixing the Rows and Columns

As you can see, there is a column in “Attribute Dataset” named as ‘Size’. This column contains the values in abbreviation format. Write a code in Python to convert the followings:

- M into  “Medium”
- L into  “Large”
- XL into “Extra large”
- free into “Free”
- S, s & small into “Small”.

Now once you are done with changes in the dataset, what is the value of the lowest percentage, the highest percentage and the percentage of Small size categories in the column named “Size”?

In [284]:
inp0['Size'].value_counts()

Size
M        171
free     165
L         93
S         34
XL        14
small      1
s          1
Name: count, dtype: int64

In [286]:
# Column fixing, correcting size abbreviation. count the percentage of each size category in "Size" column.
inp0['Size'] = inp0['Size'].map({'M':'Medium','L':'Large','XL':'Extra large','free':'Free','S':'Small','s':'Small','small':'Small'})

In [288]:
# Print the value counts of each category in "Size" column.
inp0['Size'].value_counts()

Size
Medium         171
Free           165
Large           93
Small           36
Extra large     14
Name: count, dtype: int64

### Impute/Remove Missing values

In [290]:
# Print the null count of each variables of inp0 and inp1.
inp0.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
dtype: int64

You are given another dataset named “Dress Sales”. Now if you observe the datatypes of the columns using ‘inp1.info()’ command, you can identify that there are certain columns defined as object data type though they primarily consist of numeric data.

Now if you try and convert these object data type columns into numeric data type(float), you will come across an error message. Try to correct this error.

In [292]:
# Print the data types information of inp1 i.e. "Dress Sales" data.
inp1.dtypes

Dress_ID      float64
29-08-2013      int64
31-08-2013      int64
09-02-2013      int64
09-04-2013      int64
09-06-2013      int64
09-08-2013      int64
09-10-2013      int64
09-12-2013     object
14-09-2013     object
16-09-2013     object
18-09-2013     object
20-09-2013     object
22-09-2013     object
24-09-2013      int64
26-09-2013    float64
28-09-2013      int64
30-09-2013    float64
10-02-2013    float64
10-04-2013    float64
10-06-2013      int64
10-08-2013    float64
10-10-2013    float64
10-12-2013      int64
dtype: object

In [294]:
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
inp1.astype(float)

ValueError: could not convert string to float: 'Removed'

In [296]:
# Do the required changes in the "Dress Sales" data set to get null values on string values.


# Add nulls to 10% of string columns
for col in inp1.select_dtypes(include='object'):
    inp1.loc[inp1.sample(frac=0.1).index, col] = np.nan

# Show first few rows
print(inp1.head())

       Dress_ID  29-08-2013  31-08-2013  09-02-2013  09-04-2013  09-06-2013  \
0  1.006033e+09        2114        2274        2491        2660        2727
1  1.212192e+09         151         275         570         750         813
2  1.190381e+09           6           7           7           7           8
3  9.660060e+08        1005        1128        1326        1455        1507
4  8.763395e+08         996        1175        1304        1396        1432

   09-08-2013  09-10-2013 09-12-2013 14-09-2013  ... 24-09-2013 26-09-2013  \
0        2887        2930       3119       3204  ...       3554     3624.0
1        1066        1164       1558       1756  ...       2710     2942.0
2           8           9         10         10  ...         11       11.0
3        1621        1637       1723       1746  ...       1878     1892.0
4        1559        1570        NaN       1655  ...       2032     2156.0

  28-09-2013 30-09-2013  10-02-2013  10-04-2013  10-06-2013  10-08-2013  \
0       3706     3746.0      3795.0      3832.0        3897      3923.0
1       3258     3354.0      3475.0      3654.0        3911      4024.0
2         11       11.0        11.0        11.0          11        11.0
3       1914     1924.0      1929.0      1941.0        1952      1955.0
4       2252     2312.0      2387.0      2459.0        2544      2614.0

   10-10-2013  10-12-2013
0      3985.0        4048
1      4125.0        4277
2        11.0          11
3      1959.0        1963
4      2693.0        2736

[5 rows x 24 columns]

In [298]:
# Convert the object type columns in "Dress Sales" into float type of data type.
# Convert object type columns to float (if possible)
for col in inp1.select_dtypes(include='object'):
    inp1[col] = pd.to_numeric(inp1[col], errors='coerce')

# Show the updated data types and a preview
updated_dtypes = inp1.dtypes
df_preview_after_conversion = inp1.head()

updated_dtypes, df_preview_after_conversion

(Dress_ID      float64
 29-08-2013      int64
 31-08-2013      int64
 09-02-2013      int64
 09-04-2013      int64
 09-06-2013      int64
 09-08-2013      int64
 09-10-2013      int64
 09-12-2013    float64
 14-09-2013    float64
 16-09-2013    float64
 18-09-2013    float64
 20-09-2013    float64
 22-09-2013    float64
 24-09-2013      int64
 26-09-2013    float64
 28-09-2013      int64
 30-09-2013    float64
 10-02-2013    float64
 10-04-2013    float64
 10-06-2013      int64
 10-08-2013    float64
 10-10-2013    float64
 10-12-2013      int64
 dtype: object,
        Dress_ID  29-08-2013  31-08-2013  09-02-2013  09-04-2013  09-06-2013  \
 0  1.006033e+09        2114        2274        2491        2660        2727
 1  1.212192e+09         151         275         570         750         813
 2  1.190381e+09           6           7           7           7           8
 3  9.660060e+08        1005        1128        1326        1455        1507
 4  8.763395e+08         996        1175        1304        1396        1432

    09-08-2013  09-10-2013  09-12-2013  14-09-2013  ...  24-09-2013  \
 0        2887        2930      3119.0      3204.0  ...        3554
 1        1066        1164      1558.0      1756.0  ...        2710
 2           8           9        10.0        10.0  ...          11
 3        1621        1637      1723.0      1746.0  ...        1878
 4        1559        1570         NaN      1655.0  ...        2032

    26-09-2013  28-09-2013  30-09-2013  10-02-2013  10-04-2013  10-06-2013  \
 0      3624.0        3706      3746.0      3795.0      3832.0        3897
 1      2942.0        3258      3354.0      3475.0      3654.0        3911
 2        11.0          11        11.0        11.0        11.0          11
 3      1892.0        1914      1924.0      1929.0      1941.0        1952
 4      2156.0        2252      2312.0      2387.0      2459.0        2544

    10-08-2013  10-10-2013  10-12-2013
 0      3923.0      3985.0        4048
 1      4024.0      4125.0        4277
 2        11.0        11.0          11
 3      1955.0      1959.0        1963
 4      2614.0      2693.0        2736

 [5 rows x 24 columns])

In [300]:
inp1.dtypes

Dress_ID      float64
29-08-2013      int64
31-08-2013      int64
09-02-2013      int64
09-04-2013      int64
09-06-2013      int64
09-08-2013      int64
09-10-2013      int64
09-12-2013    float64
14-09-2013    float64
16-09-2013    float64
18-09-2013    float64
20-09-2013    float64
22-09-2013    float64
24-09-2013      int64
26-09-2013    float64
28-09-2013      int64
30-09-2013    float64
10-02-2013    float64
10-04-2013    float64
10-06-2013      int64
10-08-2013    float64
10-10-2013    float64
10-12-2013      int64
dtype: object

In [302]:
lia  = ['2','3','4','5']
newli = pd.Series(data=lia,index=None,name='count')

In [304]:
newli = pd.to_numeric(newli)

In [306]:
newli

0    2
1    3
2    4
3    5
Name: count, dtype: int64

When you see the null counts in “Dress Sales” dataset after performing all the operations that have been mentioned in jupyter notebook, you will find that there are some columns in “Dress Sales” data where there are more than 40% of missing values. Based on your understanding of dealing with missing values do the following steps.

In [308]:
# Print the null percetange of each column of inp1.
inp1.isnull().mean()*100

Dress_ID       0.000000
29-08-2013     0.000000
31-08-2013     0.000000
09-02-2013     0.000000
09-04-2013     0.000000
09-06-2013     0.000000
09-08-2013     0.000000
09-10-2013     0.000000
09-12-2013    10.229645
14-09-2013    10.229645
16-09-2013    10.229645
18-09-2013    10.229645
20-09-2013    10.229645
22-09-2013    10.229645
24-09-2013     0.000000
26-09-2013    46.346555
28-09-2013     0.000000
30-09-2013    53.653445
10-02-2013    54.070981
10-04-2013    53.862213
10-06-2013     0.000000
10-08-2013    53.235908
10-10-2013    53.235908
10-12-2013     0.000000
dtype: float64

In [310]:
# Drop the columns in "Dress Sales" which have more than 40% of missing values.
null_value = inp1.isnull().mean()*100

find_to_drop = null_value[null_value > 40].index
inp1.drop(columns=find_to_drop,inplace=True)

In [312]:
inp1.isnull().mean()*100

Dress_ID       0.000000
29-08-2013     0.000000
31-08-2013     0.000000
09-02-2013     0.000000
09-04-2013     0.000000
09-06-2013     0.000000
09-08-2013     0.000000
09-10-2013     0.000000
09-12-2013    10.229645
14-09-2013    10.229645
16-09-2013    10.229645
18-09-2013    10.229645
20-09-2013    10.229645
22-09-2013    10.229645
24-09-2013     0.000000
28-09-2013     0.000000
10-06-2013     0.000000
10-12-2013     0.000000
dtype: float64

You should categorise the dates into seasons in “Dress Sales” data to simplify the analysis according to the following criteria:
- June, July and August: Summer.
- September, October and November: Autumn.
- December, January and February: WInter.
- March, April and May: Spring.

In [314]:
inp1.columns

Index(['Dress_ID', '29-08-2013', '31-08-2013', '09-02-2013', '09-04-2013',
       '09-06-2013', '09-08-2013', '09-10-2013', '09-12-2013', '14-09-2013',
       '16-09-2013', '18-09-2013', '20-09-2013', '22-09-2013', '24-09-2013',
       '28-09-2013', '10-06-2013', '10-12-2013'],
      dtype='object')

In [316]:
# Create the four seasons columns in inp1, according to the above criteria.
from datetime import datetime

# Extract date columns (excluding 'Dress_ID')
date_columns = [col for col in inp1.columns if col != 'Dress_ID']

# Function to determine the season from a date
def get_season(date_str):
    try:
        date = datetime.strptime(date_str, '%d-%m-%Y')
        month = date.month
        if month in [6, 7, 8]:
            return 'Summer'
        elif month in [9, 10, 11]:
            return 'Autumn'
        elif month in [12, 1, 2]:
            return 'Winter'
        else:
            return 'Spring'
    except ValueError:
        return None

# Map each date column to its corresponding season
season_map = {col: get_season(col) for col in date_columns}

# Group columns by season and calculate total sales for each season per dress
seasonal_sales = pd.DataFrame()
seasonal_sales['Dress_ID'] = inp1['Dress_ID']

for season in ['Summer', 'Autumn', 'Winter', 'Spring']:
    cols = [col for col in date_columns if season_map[col] == season]
    seasonal_sales[season] = inp1[cols].sum(axis=1)

seasonal_sales.head()

       Dress_ID  Summer   Autumn  Winter  Spring
0  1.006033e+09   13899  16671.0  9658.0    2660
1  1.212192e+09    6216  17311.0  6405.0     750
2  1.190381e+09      40     82.0    28.0       7
3  9.660060e+08    7213  14411.0  5012.0    1455
4  8.763395e+08    7706  14676.0  4040.0    1396

In [318]:
# calculate the sum of sales in each seasons in inp1 i.e. "Dress Sales".
inp1 = pd.merge(inp1,seasonal_sales,on = 'Dress_ID')

In [320]:
inp1[['Summer','Autumn','Winter','Spring']].sum()

Summer     691907.0
Autumn    1271354.0
Winter     460536.0
Spring     143600.0
dtype: float64

Now let's merge inp1 with inp0 with left join manner, so that the information of inp0 should remain intact.

In [322]:
# Merge inp0 with inp1 into inp0. this is also called left merge.
inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,...,20-09-2013,22-09-2013,24-09-2013,28-09-2013,10-06-2013,10-12-2013,Summer,Autumn,Winter,Spring
0,1006032852,Sexy,Low,4.6,Medium,Summer,o-neck,sleevless,NaN,chiffon,...,NaN,NaN,3554,3706,3897,4048,13899,16671.0,9658.0,2660
1,1212192089,Casual,Low,0.0,Large,Summer,o-neck,Petal,microfiber,NaN,...,2106.0,2454.0,2710,3258,3911,4277,6216,17311.0,6405.0,750
2,1190380701,vintage,High,0.0,Large,Automn,o-neck,full,polyster,NaN,...,10.0,11.0,11,11,11,11,40,82.0,28.0,7
3,966005983,Brief,Average,4.6,Large,Spring,o-neck,full,silk,chiffon,...,1812.0,1845.0,1878,1914,1952,1963,7213,14411.0,5012.0,1455
4,876339541,cute,Low,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,...,1824.0,1919.0,2032,2252,2544,2736,7706,14676.0,4040.0,1396

In [324]:
inp0.columns

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'Material', 'FabricType', 'Decoration', 'Pattern Type',
       'Recommendation', '29-08-2013', '31-08-2013', '09-02-2013',
       '09-04-2013', '09-06-2013', '09-08-2013', '09-10-2013', '09-12-2013',
       '14-09-2013', '16-09-2013', '18-09-2013', '20-09-2013', '22-09-2013',
       '24-09-2013', '28-09-2013', '10-06-2013', '10-12-2013', 'Summer',
       'Autumn', 'Winter', 'Spring'],
      dtype='object')

In [326]:
# Now Drop the Date columns from inp0 as it is already combined into four seasons.
inp0.drop(inp0.loc[:,'29-08-2013_x':'10-12-2013_x'].columns, axis= 1, inplace= True)
inp0.isnull().sum()

KeyError: '29-08-2013_x'

Print the null count of inp0 to get the idea about the missing values in data set.

In [328]:
# Print the null count of each columns in inp0 dataframe i.e. combined data frame of inp0 and inp1 without date columns.
inp0.isna().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
29-08-2013          0
31-08-2013          0
09-02-2013          0
09-04-2013          0
09-06-2013          0
09-08-2013          0
09-10-2013          0
09-12-2013         49
14-09-2013         49
16-09-2013         49
18-09-2013         49
20-09-2013         49
22-09-2013         49
24-09-2013          0
28-09-2013          0
10-06-2013          0
10-12-2013          0
Summer              0
Autumn              0
Winter              0
Spring              0
dtype: int64

You can see that there are two types of variables one with a large number of missing values and another is very less number of missing values. These two columns can be categorized as:

Type-1: Missing values are very less (around 2 or 3 missing values): Price, Season, NeckLine, SleeveLength, Winter and Autumn. 

Type-2: Missing values are large in numbers (more than 15%): Material, FabricType, Decoration and Pattern Type.

In [354]:
# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.
inp0['Price'] = inp0['Price'].fillna(inp0['Price'].mode()[0])

In [358]:
inp0['NeckLine'] = inp0['NeckLine'].fillna(inp0['NeckLine'].mode()[0])

In [360]:
inp0['Season'] = inp0['Season'].fillna(inp0['Season'].mode()[0])

In [362]:
inp0['SleeveLength'] = inp0['SleeveLength'].fillna(inp0['SleeveLength'].mode()[0])

In [364]:
inp0['Winter'] = inp0['Winter'].fillna(inp0['Winter'].mode()[0])

In [366]:
inp0['Autumn'] = inp0['Autumn'].fillna(inp0['Autumn'].mode()[0])

In [368]:
inp0.isnull().sum()

Dress_ID            0
Style               0
Price               0
Rating              0
Size                0
Season              0
NeckLine            0
SleeveLength        0
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
29-08-2013          0
31-08-2013          0
09-02-2013          0
09-04-2013          0
09-06-2013          0
09-08-2013          0
09-10-2013          0
09-12-2013         49
14-09-2013         49
16-09-2013         49
18-09-2013         49
20-09-2013         49
22-09-2013         49
24-09-2013          0
28-09-2013          0
10-06-2013          0
10-12-2013          0
Summer              0
Autumn              0
Winter              0
Spring              0
dtype: int64

In [370]:
# Deal with the missing values for Type-2 columns: Material, FabricType, Decoration and Pattern Type.
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,...,20-09-2013,22-09-2013,24-09-2013,28-09-2013,10-06-2013,10-12-2013,Summer,Autumn,Winter,Spring
0,1006032852,Sexy,Low,4.6,Medium,Summer,o-neck,sleevless,NaN,chiffon,...,NaN,NaN,3554,3706,3897,4048,13899,16671.0,9658.0,2660
1,1212192089,Casual,Low,0.0,Large,Summer,o-neck,Petal,microfiber,NaN,...,2106.0,2454.0,2710,3258,3911,4277,6216,17311.0,6405.0,750
2,1190380701,vintage,High,0.0,Large,Automn,o-neck,full,polyster,NaN,...,10.0,11.0,11,11,11,11,40,82.0,28.0,7
3,966005983,Brief,Average,4.6,Large,Spring,o-neck,full,silk,chiffon,...,1812.0,1845.0,1878,1914,1952,1963,7213,14411.0,5012.0,1455
4,876339541,cute,Low,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,...,1824.0,1919.0,2032,2252,2544,2736,7706,14676.0,4040.0,1396

✅ Recommended Approaches:
🔸 Option 1: Fill with 'Unknown' or 'Not Specified'
This keeps all rows intact and clearly marks missing info:

python
Copy
Edit
for col in ['Material', 'FabricType', 'Decoration', 'Pattern Type']:
    inp0[col] = inp0[col].fillna('Unknown')
🔸 Option 2: Drop these columns (if they’re not useful for your analysis or model)
python
Copy
Edit
inp0 = inp0.drop(columns=['Material', 'FabricType', 'Decoration', 'Pattern Type'])
🔸 Option 3: Impute with mode (if you want to keep categories consistent)
python
Copy
Edit
for col in ['Material', 'FabricType', 'Decoration', 'Pattern Type']:
    inp0[col] = inp0[col].fillna(inp0[col].mode()[0])

In [417]:
for col in ['Material', 'FabricType', 'Decoration', 'Pattern Type'] :
    inp0[col] = inp0[col].fillna(inp0[col].mode()[0])

### Standardise value

In the given dataset, there are certain discrepancies with the categorical names such as irregular spellings. Choose the correct option of columns with irregular categories and update them.
 
- Season, NeckLine
- Price, Material
- fabricType, Decoration
- Season, SleeveLength

In [388]:
#correcting the spellings.
inp0['Season'] = inp0['Season'].str.lower().replace({'automn':'autumn'}).str.capitalize()

In [400]:
inp0['NeckLine'] = inp0['NeckLine'].str.capitalize()

In [408]:
inp0['NeckLine'].unique()

array(['O-neck', 'V-neck', 'Boat-neck', 'Peterpan-collor', 'Ruffled',
       'Turndowncollor', 'Slash-neck', 'Mandarin-collor', 'Open',
       'Sqare-collor', 'Sweetheart', 'Scoop', 'Halter', 'Backless',
       'Bowneck'], dtype=object)

In [412]:
#correcting the Spellings.
inp0['Price'].value_counts()

Price
Average      242
Low          165
Medium        30
High          21
very-high     21
Name: count, dtype: int64

In [425]:
inp0['Material'] = inp0['Material'].str.capitalize()

In [437]:
inp0['FabricType'] = inp0['FabricType'].str.lower().replace({'shiffon':'chiffon','satin':'sattin','woolen':'wollen','flannael':'flannel'}).str.capitalize()

In [455]:
inp0['Decoration'] = inp0['Decoration'].str.capitalize()

In [474]:
inp0['SleeveLength']= inp0['SleeveLength'].str.lower().replace({
    'sleevless':'sleeveless','sleeevless':'sleeveless','sleveless':'sleeveless',
    'half':'halfsleeve','thressqatar':'threequarter','threequater':'threequarter','cap-sleeves':'capsleeves',
    'urndowncollor':'turndowncollor'
}).str.capitalize()

## Univariate Analysis

### Categorical Unordered Univariate Analysis

There is a column named ‘Style’ in ‘Attribute Dataset’ which consists of the different style categories of the women apparels. Certain categories whose total sale is less than 50000 across all the seasons is considered under one single category as ‘Others’.

Which of the following categories in ‘Style’ column can be grouped into ‘Others’ category? and perform the grouping operation in the notebook for further analysis.
- Flare, fashion
- Novelty, bohemian
- OL, fashion, work
- Novelty, fashion, Flare

In [ ]:
# Group "Style" categories into "Others" which have less than 50000 sales across all the seasons.

What is the percentage of “cute” and “Others” category in “Style” column in “Attribute DataSet” respectively?
- 46%, 5%
- 9%, 2.1%
- 2.1%, 5%
- 13.8%, 9%

In [ ]:
# Calculate the percentage of each categories in the "Style" variable.

Similarly Club Neckline, SLeeve length categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Neckline" categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Sleeve length" categories into "Others" which have less than 50000 sales across all the seasons.

Club material, fabrictype, patterntype and decoration categories into "Others" which have less than 25000 sales across all the seasons

In [ ]:
# Group "material" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "fabric type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "patern type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "decoration" categories into "Others" which have less than 25000 sales across all the seasons.

### Caregorical Ordered Univariate Analysis

Which of the following is an unordered variable in “Attribute DataSet”.
- Style
- Price
- Season
- Size

### Numerical variable Univariate analysis:

What is the approximate difference between the maximum value and 75th percentile in “Autumn” column.
- Approx 54000
- Approx 55000
- Approx 52000
- Approx 50000

In [ ]:
# Describe the numerical variale: "Autumn".

In [ ]:
# plot the boxplot of "Autumn" column.

Which of the following season has the highest difference between the maximum value and 99th quantile of sales?
- Winter
- Summer
- Spring
- Autumn

In [ ]:
# Find the maximum and 99th percentile of Winter season.

In [ ]:
# Find the maximum and 99th percentile of Summer season.

In [ ]:
# Find the maximum and 99th percentile of Spring season.

In [ ]:
# Find the maximum and 99th percentile of Autumn season.

## Bivariate Analysis

### Numerical- Categorical analysis

Which of the following “Price” category has the lowest average value of rating?
- very-high
- Medium
- Low
- High

In [ ]:
# Find the Mean of Ratings for each Price category.

What is the median of the rating of “vintage” category in Style column?
- 4.6
- 4.7
- 4.55
- 0.00

In [ ]:
# Find the median of Ratings for each Style category.

Which of the following season has the highest average value of sale for “Recommendation” value equals to 1.
- Summer
- Spring
- Autumn
- Winter

In [ ]:
# Summer sale vs Recommendation.

In [ ]:
# Spring sale vs Recommendation.

In [ ]:
# Autumn sale vs Recommendation.

In [ ]:
# Winter sale vs Recommendation.

### Categorical categorical bivariate analysis

Which of the following size categories has the highest positive recommendations?
- Medium and extra large
- Extra large and small
- Free and small
- Free and medium

In [ ]:
# Size vs Recommendation.

### Multivariate analysis

Which of the following pair of “Style” and “Price” category has the highest average of positive recommendations?
- Price: medium and style: vintage
- Price: medium and style: cute
- Price: very high and style: party
- Price: low and style: sexy

In [ ]:
# plot the heat map of Style, price and Recommendation.

Which of the following material type has no recommendation in summer and winter seasons?
- Mix and Milksilk
- Nylon and Rayon
- Microfiber and Silk
- Milksilk and Microfiber

In [ ]:
# plot the heat map of Season, material and Recommendation.