# Pandas Operations
In this session, we will learn about Pandas operations, powerful, open-source data analysis and manipulation methods for Python data built on top of the NumPy package.

In [ ]:
import pandas as pd

# Series Operations
We will begin with series operations. Since dataframes are essentially a table of series, these operations will help you understand dataframe operations.

### Example
Some basic operations on series

In [ ]:
prices = [649000, 391000, 5476000, 1786000, 1091000]
carnames = ['swift', 'santro', 'audi', 'elantra', 'bolero']
car_series = pd.Series(data = prices, index = carnames)
car_series

swift       649000
santro      391000
audi       5476000
elantra    1786000
bolero     1091000
dtype: int64

In [ ]:
car_series.name

In [ ]:
car_series.rename('saleprice')

swift       649000
santro      391000
audi       5476000
elantra    1786000
bolero     1091000
Name: saleprice, dtype: int64

In [ ]:
car_series.name

In [ ]:
car_series.rename('saleprice', inplace = True)

swift       649000
santro      391000
audi       5476000
elantra    1786000
bolero     1091000
Name: saleprice, dtype: int64

In [ ]:
car_series.name

'saleprice'

Renaming a series is only one out of many operations that can be performed on series, and later dataframes. Keep in mind to differentiate between in-place operations and those that are not-in-place.

In [ ]:
car_series = car_series.rename('price')
car_series

swift       649000
santro      391000
audi       5476000
elantra    1786000
bolero     1091000
Name: price, dtype: int64

In [ ]:
car_series.name = 'selling price'
car_series

swift       649000
santro      391000
audi       5476000
elantra    1786000
bolero     1091000
Name: selling price, dtype: int64

Some attributes such as name of series can be overwritten by assigning a new value. You may use whichever method you prefer.

In [ ]:
car_series.reset_index()

     index  selling price
0    swift         649000
1   santro         391000
2     audi        5476000
3  elantra        1786000
4   bolero        1091000

This method pops out the index of the series into a new column. The resulting data structure is actually a dataframe.

In [ ]:
type(car_series.reset_index())

pandas.core.frame.DataFrame

The above were some basic quality-of-life methods related to series. You are encouraged to explore these further. We will tackle dataframe operations later in the session.

### Example
Statistical operations on series

In [ ]:
car_series

swift       649000
santro      391000
audi       5476000
elantra    1786000
bolero     1091000
Name: selling price, dtype: int64

In [ ]:
car_series.max()

5476000

In [ ]:
car_series.idxmax()

'audi'

In [ ]:
car_series.min()

391000

In [ ]:
car_series.idxmin()

'santro'

In [ ]:
car_series.sort_values()

santro      391000
swift       649000
bolero     1091000
elantra    1786000
audi       5476000
Name: selling price, dtype: int64

In [ ]:
car_series.sort_values(ascending = False)

audi       5476000
elantra    1786000
bolero     1091000
swift       649000
santro      391000
Name: selling price, dtype: int64

In [ ]:
car_series.sort_values(ascending = False, inplace = True)

In [ ]:
car_series.sum()

9393000

In [ ]:
car_series.mean()

1878600.0

Note that all of these operations treat the values in the series as a single axis or dimension, and the result is that the operation collapse that dimension into a single value depending on the operation used.

This will be helpful in understanding what happens when you use similar operations in dataframes.

### Example
Operations between series

In [ ]:
car_series

audi       5476000
elantra    1786000
bolero     1091000
swift       649000
santro      391000
Name: selling price, dtype: int64

In [ ]:
taxes = [0.06, 0.04, 0.03, 0.02, 0.02]
carnames = ['swift', 'santro', 'audi', 'elantra', 'bolero']
car_taxes_series = pd.Series(data = taxes, index = carnames, name = 'taxes')
car_taxes_series

swift      0.06
santro     0.04
audi       0.03
elantra    0.02
bolero     0.02
Name: taxes, dtype: float64

In [ ]:
car_series + car_taxes_series

audi       5476000.03
bolero     1091000.02
elantra    1786000.02
santro      391000.04
swift       649000.06
dtype: float64

If the indices of two or more series match, then operations between these series will work as intended.

In [ ]:
taxes = [0.06, 0.04, 0.03, 0.02, 0.02]
carnames = ['a', 'santro', 'b', 'elantra', 'c']
car_taxes_series = pd.Series(data = taxes, index = carnames, name = 'taxes')
car_taxes_series

a          0.06
santro     0.04
b          0.03
elantra    0.02
c          0.02
Name: taxes, dtype: float64

In [ ]:
car_series + car_taxes_series

a                 NaN
audi              NaN
b                 NaN
bolero            NaN
c                 NaN
elantra    1786000.02
santro      391000.04
swift             NaN
dtype: float64

If the indices of two or more series do not match, then Pandas will provide intended results only for those data entries where the keys match.

In [ ]:
taxes = [0.06, 0.04, 0.03, 0.02, 0.02]
carnames = ['swift', 'santro', 'audi', 'elantra', 'bolero']
car_taxes_series = pd.Series(data = taxes, index = carnames, name = 'taxes')
car_taxes_series

swift      0.06
santro     0.04
audi       0.03
elantra    0.02
bolero     0.02
Name: taxes, dtype: float64

In [ ]:
car_series + car_taxes_series * car_series

audi       5640280.0
bolero     1112820.0
elantra    1821720.0
santro      406640.0
swift       687940.0
dtype: float64

In [ ]:
car_series * (1 + car_taxes_series)

audi       5640280.0
bolero     1112820.0
elantra    1821720.0
santro      406640.0
swift       687940.0
dtype: float64

Operations between series can be used to quickly handle large amounts of data to derive metrics from them.

You can use in-built methods to perform these operations as well.

In [ ]:
car_series.mul(car_taxes_series)

audi       164280.0
bolero      21820.0
elantra     35720.0
santro      15640.0
swift       38940.0
dtype: float64

In [ ]:
car_series.add(car_series.mul(car_taxes_series))

audi       5640280.0
bolero     1112820.0
elantra    1821720.0
santro      406640.0
swift       687940.0
dtype: float64

We looked at very few series operations here, but learners are encouraged to explore further from Pandas [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html).

In this section, we familiarized some basic operations on series from the Pandas library. Note that the most common data structure that is used in data science from the Pandas library is the dataframe object, which is essentially a table of series with a common index. In the next section, we will study dataframe operations in detail.

### Quiz
The `car_series` series has prices in INR. Convert these to dollar prices using a conversion rate of 85. Also, rename the series to `'sale price in dollars'`. Do all of these operations in-place.

In [ ]:
##### CODE HERE #####

# Basic DataFrame Operations
In this section, we will study some basic and important methods that are used to manipulate data in dataframes. You will work with all these methods throughout your data science learning journey and beyond.

### Example
Working with data types

In [ ]:
df_cars = pd.read_csv('cars_dataset.csv')

In [ ]:
df_cars.head()

,car_ID,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,...,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,four,sedan,front,99.8,176.6,66.2,54.3,...,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,...,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0

In [ ]:
df_cars.dtypes

car_ID                int64
symboling             int64
carname              object
doornumber           object
carbody              object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
cylindernumber       object
enginesize            int64
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

Let's convert the `'price'` column to integer.

In [ ]:
df_cars['price'].astype(int).head()

0    13495
1    16500
2    16500
3    13950
4    17450
Name: price, dtype: int64

Let's convert the `'horsepower'` column to integer.

In [ ]:
df_cars['horsepower'].astype(int).head()

0    111
1    111
2    154
3    102
4    115
Name: horsepower, dtype: int64

Let's convert the `'doornumber'` column to object.

In [ ]:
df_cars['doornumber'].astype(object).head()

0     two
1     two
2     two
3    four
4    four
Name: doornumber, dtype: object

In [ ]:
df_cars.dtypes

car_ID                int64
symboling             int64
carname              object
doornumber           object
carbody              object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
cylindernumber       object
enginesize            int64
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

Were the above operations performed in-place?

In [ ]:
df_new = df_cars.convert_dtypes()
df_new.dtypes

car_ID                       Int64
symboling                    Int64
carname             string[python]
doornumber          string[python]
carbody             string[python]
enginelocation      string[python]
wheelbase                  Float64
carlength                  Float64
carwidth                   Float64
carheight                  Float64
curbweight                   Int64
cylindernumber      string[python]
enginesize                   Int64
boreratio                  Float64
stroke                     Float64
compressionratio           Float64
horsepower                   Int64
peakrpm                      Int64
citympg                      Int64
highwaympg                   Int64
price                      Float64
dtype: object

Converting data types as per suggestions from Pandas is generally fine, but there may be cases where we may need to take judgment calls on some features.

### Example
Arithmetic operations and operations between columns

In [ ]:
df_cars.head()

,car_ID,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,...,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,four,sedan,front,99.8,176.6,66.2,54.3,...,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,...,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0

Let's add $10$ to the `horsepower` column.

In [ ]:
df_cars['horsepower'] + 10

0      121
1      121
2      164
3      112
4      125
      ...
142    124
143    124
144    172
145    172
146    116
Name: horsepower, Length: 147, dtype: int64

Let's subtract $5$ from the `curbweight` column.

In [ ]:
df_cars['curbweight'] - 5

0      2543
1      2543
2      2818
3      2332
4      2819
       ...
142    2930
143    3037
144    3040
145    3152
146    3212
Name: curbweight, Length: 147, dtype: int64

Let's multiplying the `enginesize` column by $2$.

In [ ]:
df_cars['enginesize'] * 2

0      260
1      260
2      304
3      218
4      272
      ...
142    282
143    282
144    260
145    260
146    290
Name: enginesize, Length: 147, dtype: int64

Let's divide the `price` column by $3$.

In [ ]:
df_cars['price'] / 3

0      4498.333333
1      5500.000000
2      5500.000000
3      4650.000000
4      5816.666667
          ...
142    5328.333333
143    5505.000000
144    6140.000000
145    6316.666667
146    7490.000000
Name: price, Length: 147, dtype: float64

You can use in-built methods to perform the same operations as well.

In [ ]:
df_cars['horsepower'].add(20)

0      131
1      131
2      174
3      122
4      135
      ...
142    134
143    134
144    182
145    182
146    126
Name: horsepower, Length: 147, dtype: int64

In [ ]:
df_cars['curbweight'].sub(15)

0      2533
1      2533
2      2808
3      2322
4      2809
       ...
142    2920
143    3027
144    3030
145    3142
146    3202
Name: curbweight, Length: 147, dtype: int64

In [ ]:
df_cars['enginesize'].mul(3)

0      390
1      390
2      456
3      327
4      408
      ...
142    423
143    423
144    390
145    390
146    435
Name: enginesize, Length: 147, dtype: int64

In [ ]:
df_cars['price'].div(4)

0      3373.75
1      4125.00
2      4125.00
3      3487.50
4      4362.50
        ...
142    3996.25
143    4128.75
144    4605.00
145    4737.50
146    5617.50
Name: price, Length: 147, dtype: float64

Let's add the `price` and `horsepower` columns.

In [ ]:
df_cars['price'] + df_cars['horsepower']

0      13606.0
1      16611.0
2      16654.0
3      14052.0
4      17565.0
        ...
142    16099.0
143    16629.0
144    18582.0
145    19112.0
146    22576.0
Length: 147, dtype: float64

Operations between columns follow operator overloading.

In [ ]:
df_cars['carname'] + ' ' + df_cars['carbody']

0          alfa-romero giulia convertible
1         alfa-romero stelvio convertible
2      alfa-romero Quadrifoglio hatchback
3                       audi 100 ls sedan
4                        audi 100ls sedan
                      ...
142                     volvo 244dl sedan
143                       volvo 245 wagon
144                     volvo 264gl sedan
145                    volvo diesel wagon
146                       volvo 246 sedan
Length: 147, dtype: object

Let's round the `'price'` column.

In [ ]:
df_cars['price'].round().head()

0    13495.0
1    16500.0
2    16500.0
3    13950.0
4    17450.0
Name: price, dtype: float64

Let's round the `'carlength'`, `'carwidth'`, and `'carheight'` columns.

In [ ]:
df_cars[['carlength', 'carwidth', 'carheight']].round().head()

   carlength  carwidth  carheight
0      169.0      64.0       49.0
1      169.0      64.0       49.0
2      171.0      66.0       52.0
3      177.0      66.0       54.0
4      177.0      66.0       54.0

There are many in-built methods that operate on dataframe values. While we will cover some of the important ones in the session, you are encouraged to explore further on your own.

### Quiz
The `df_cars` dataframe contains prices in dollars. Convert these to INR. Use a factor of 85. Do not change the original dataframe. Instead create a new column named `'price in INR'` and add it to the dataframe.

In [ ]:
##### CODE HERE #####

### Quiz
Calculate the mean of the `'citympg'` and `'highwaympg'` columns in the `'df_cars'` dataframe. Add this value as a new column with the feature name `'avgmpg'`. Then, print the subset of the dataframe containing the `'carname'`, `'citympg'`, `'highwaympg'`, and `'avgmpg'` columns.

In [ ]:
##### CODE HERE #####

### Example
Statistical operations

In [ ]:
df_cars.head()

,car_ID,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,price in INR,avgmpg
0,1,3,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,...,3.47,2.68,9.0,111,5000,21,27,13495.0,1147075.0,24.0
1,2,3,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,...,3.47,2.68,9.0,111,5000,21,27,16500.0,1402500.0,24.0
2,3,1,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,...,2.68,3.47,9.0,154,5000,19,26,16500.0,1402500.0,22.5
3,4,2,audi 100 ls,four,sedan,front,99.8,176.6,66.2,54.3,...,3.19,3.40,10.0,102,5500,24,30,13950.0,1185750.0,27.0
4,5,2,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,...,3.19,3.40,8.0,115,5500,18,22,17450.0,1483250.0,20.0

In [ ]:
df_cars['horsepower'].sum()

15102

In [ ]:
df_cars['price'].mean()

13248.40249659864

In [ ]:
df_cars['enginesize'].max()

326

In [ ]:
df_cars['curbweight'].min()

1488

In [ ]:
df_cars['carwidth'].idxmin()

15

In [ ]:
df_cars['price'].idxmax()

60

In [ ]:
df_cars['curbweight'].median()

2380.0

In [ ]:
df_cars[['carlength', 'carwidth', 'carheight']].sum()

carlength    25412.4
carwidth      9659.5
carheight     7888.7
dtype: float64

In [ ]:
df_cars[['carlength', 'carwidth', 'carheight']].median()

carlength    171.7
carwidth      65.4
carheight     53.7
dtype: float64

In [ ]:
df_cars[df_cars['carbody'] == 'sedan'][['carlength', 'carwidth', 'carheight']].median()

carlength    172.9
carwidth      65.5
carheight     54.5
dtype: float64

Note that chaining methods and operations when working with Pandas objects such as series and dataframes is a popular way to quickly query and analyze your data.

In [ ]:
df_cars[df_cars['carbody'] == 'sedan'][['carlength', 'carwidth', 'carheight']].median().rename('median')

carlength    172.9
carwidth      65.5
carheight     54.5
Name: median, dtype: float64

The `.describe()` method quickly summarize various statistics for numerical data in the dataframe and is quite commonly used to understand the data.

In [ ]:
df_cars.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,price in INR,avgmpg
count,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,1.470000e+02,147.000000
mean,96.530612,0.931973,98.087755,172.873469,65.710884,53.664626,2527.469388,126.523810,3.303469,3.266599,10.255238,102.734694,5157.823129,25.537415,31.047619,13248.402497,1.126114e+06,28.292517
std,60.034386,1.225639,6.108257,12.835948,2.185448,2.564879,555.939552,46.137575,0.272921,0.282661,4.051558,39.467227,476.132417,6.928472,7.326377,8694.473053,7.390302e+05,7.084095
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.680000,2.360000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000,4.350300e+05,15.000000
25%,44.500000,0.000000,94.500000,165.300000,63.900000,51.600000,2045.000000,97.000000,3.050000,3.135000,8.600000,69.000000,4800.000000,19.500000,25.000000,7429.000000,6.314650e+05,22.750000
50%,94.000000,1.000000,96.500000,171.700000,65.400000,53.700000,2380.000000,110.000000,3.270000,3.270000,9.000000,95.000000,5200.000000,25.000000,30.000000,9895.000000,8.410750e+05,27.000000
75%,146.500000,2.000000,100.400000,180.200000,66.500000,55.650000,2911.000000,143.000000,3.580000,3.400000,9.400000,116.000000,5500.000000,31.000000,37.000000,16207.500000,1.377638e+06,34.000000
max,204.000000,3.000000,120.900000,208.100000,72.000000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000,3.859000e+06,51.500000

Transposing this table makes it look better and more readable.

In [ ]:
df_cars.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
car_ID,147.0,9.653061e+01,60.034386,1.00,44.500,94.00,146.50,204.00
symboling,147.0,9.319728e-01,1.225639,-2.00,0.000,1.00,2.00,3.00
wheelbase,147.0,9.808776e+01,6.108257,86.60,94.500,96.50,100.40,120.90
carlength,147.0,1.728735e+02,12.835948,141.10,165.300,171.70,180.20,208.10
carwidth,147.0,6.571088e+01,2.185448,60.30,63.900,65.40,66.50,72.00
carheight,147.0,5.366463e+01,2.564879,47.80,51.600,53.70,55.65,59.80
curbweight,147.0,2.527469e+03,555.939552,1488.00,2045.000,2380.00,2911.00,4066.00
enginesize,147.0,1.265238e+02,46.137575,61.00,97.000,110.00,143.00,326.00
boreratio,147.0,3.303469e+00,0.272921,2.68,3.050,3.27,3.58,3.94
stroke,147.0,3.266599e+00,0.282661,2.36,3.135,3.27,3.40,4.17
compressionratio,147.0,1.025524e+01,4.051558,7.00,8.600,9.00,9.40,23.00
horsepower,147.0,1.027347e+02,39.467227,48.00,69.000,95.00,116.00,262.00
peakrpm,147.0,5.157823e+03,476.132417,4150.00,4800.000,5200.00,5500.00,6600.00
citympg,147.0,2.553741e+01,6.928472,13.00,19.500,25.00,31.00,49.00
highwaympg,147.0,3.104762e+01,7.326377,16.00,25.000,30.00,37.00,54.00
price,147.0,1.324840e+04,8694.473053,5118.00,7429.000,9895.00,16207.50,45400.00
price in INR,147.0,1.126114e+06,739030.209474,435030.00,631465.000,841075.00,1377637.50,3859000.00
avgmpg,147.0,2.829252e+01,7.084095,15.00,22.750,27.00,34.00,51.50

Let's look at some categorical variables now.

In [ ]:
df_cars['carbody'].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [ ]:
df_cars['carbody'].value_counts()

carbody
sedan          68
hatchback      46
wagon          20
hardtop         7
convertible     6
Name: count, dtype: int64

In [ ]:
df_cars['doornumber'].mode()

0    four
Name: doornumber, dtype: object

In [ ]:
df_cars['horsepower'].aggregate('mean')

102.73469387755102

In [ ]:
df_cars[['horsepower', 'price']].aggregate('mean')

horsepower      102.734694
price         13248.402497
dtype: float64

It looks like the `.aggregate()` function is doing the same thing as `.mean()` and similar methods, but it can actually be used to obtain specific statistics for different variables.

In [ ]:
df_cars.aggregate({'horsepower': 'median', 'price': 'mean'})

horsepower       95.000000
price         13248.402497
dtype: float64

You are encouraged to explore these methods on your own.

### Quiz
Find the price difference between the most and least expensive cars in the `df_cars` dataframe.

In [ ]:
##### CODE HERE #####

### Quiz
Find the mean of the `'horsepower'` feature using the `.describe()` method.

In [ ]:
##### CODE HERE #####

### Quiz
Find the name of the car with the maximum horsepower.

In [ ]:
##### CODE HERE #####

### Quiz
Are there more cars with two doors or four doors in the `df_cars` dataframe?

In [ ]:
##### CODE HERE #####

# Advanced DataFrame Operations
In this section, you will continue your journey with Pandas operations by looking at more advanced dataframe operations for data handling and querying.

### Example
Sorting operations

In [ ]:
df_cars.head()

,car_ID,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,price in INR,avgmpg
0,1,3,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,...,3.47,2.68,9.0,111,5000,21,27,13495.0,1147075.0,24.0
1,2,3,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,...,3.47,2.68,9.0,111,5000,21,27,16500.0,1402500.0,24.0
2,3,1,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,...,2.68,3.47,9.0,154,5000,19,26,16500.0,1402500.0,22.5
3,4,2,audi 100 ls,four,sedan,front,99.8,176.6,66.2,54.3,...,3.19,3.40,10.0,102,5500,24,30,13950.0,1185750.0,27.0
4,5,2,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,...,3.19,3.40,8.0,115,5500,18,22,17450.0,1483250.0,20.0

In [ ]:
df_cars.sort_values(by = 'price').head()

,car_ID,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,price in INR,avgmpg
104,139,2,subaru,two,hatchback,front,93.7,156.9,63.4,53.7,...,3.62,2.36,9.0,69,4900,31,36,5118.0,435030.0,33.5
15,19,2,chevrolet impala,two,hatchback,front,88.4,141.1,60.3,53.2,...,2.91,3.03,9.5,48,5100,47,53,5151.0,437835.0,50.0
42,51,1,maxda rx3,two,hatchback,front,93.1,159.1,64.2,54.1,...,3.03,3.15,9.0,68,5000,30,31,5195.0,441575.0,30.5
112,151,1,toyota corona mark ii,two,hatchback,front,95.7,158.7,63.6,54.5,...,3.05,3.03,9.0,62,4800,35,39,5348.0,454580.0,37.0
62,77,2,mitsubishi mirage,two,hatchback,front,93.7,157.3,64.4,50.8,...,2.97,3.23,9.4,68,5500,37,41,5389.0,458065.0,39.0

In [ ]:
df_cars.sort_values(by = 'price', ascending = False).head()

,car_ID,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,price in INR,avgmpg
60,75,1,buick regal sport coupe (turbo),two,hardtop,front,112.0,199.2,72.0,55.4,...,3.80,3.35,8.0,184,4500,14,16,45400.0,3859000.0,15.0
14,17,0,bmw x5,two,sedan,front,103.5,193.8,67.9,53.7,...,3.62,3.39,8.0,182,5400,16,22,41315.0,3511775.0,19.0
59,74,0,buick century special,four,sedan,front,120.9,208.1,71.7,56.7,...,3.80,3.35,8.0,184,4500,14,16,40960.0,3481600.0,15.0
98,129,3,porsche boxter,two,convertible,rear,89.5,168.9,65.0,51.6,...,3.74,2.90,9.5,207,5900,17,25,37028.0,3147380.0,21.0
41,50,0,jaguar xk,two,sedan,front,102.0,191.7,70.6,47.8,...,3.54,2.76,11.5,262,5000,13,17,36000.0,3060000.0,15.0

You can also perform multilevel sorting by specifying more than one column to sort by.

In [ ]:
df_cars.sort_values(by = ['carbody', 'price']).head()

,car_ID,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,price in INR,avgmpg
136,190,3,vw dasher,two,convertible,front,94.5,159.3,64.2,55.6,...,3.19,3.40,8.5,90,5500,24,29,11595.0,985575.0,26.5
0,1,3,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,...,3.47,2.68,9.0,111,5000,21,27,13495.0,1147075.0,24.0
1,2,3,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,...,3.47,2.68,9.0,111,5000,21,27,16500.0,1402500.0,24.0
126,173,2,toyota cressida,two,convertible,front,98.4,176.2,65.6,53.0,...,3.62,3.50,9.3,116,4800,24,30,17669.0,1501865.0,27.0
58,73,3,buick skylark,two,convertible,front,96.6,180.3,70.5,50.8,...,3.46,3.10,8.3,155,4750,16,18,35056.0,2979760.0,17.0

You can also sort the dataframe using its index.

In [ ]:
df_cars.sort_index().head()

,car_ID,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,price in INR,avgmpg
0,1,3,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,...,3.47,2.68,9.0,111,5000,21,27,13495.0,1147075.0,24.0
1,2,3,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,...,3.47,2.68,9.0,111,5000,21,27,16500.0,1402500.0,24.0
2,3,1,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,...,2.68,3.47,9.0,154,5000,19,26,16500.0,1402500.0,22.5
3,4,2,audi 100 ls,four,sedan,front,99.8,176.6,66.2,54.3,...,3.19,3.40,10.0,102,5500,24,30,13950.0,1185750.0,27.0
4,5,2,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,...,3.19,3.40,8.0,115,5500,18,22,17450.0,1483250.0,20.0

In [ ]:
df_cars.sort_index(ascending = False).head()

,car_ID,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,price in INR,avgmpg
146,204,-1,volvo 246,four,sedan,front,109.1,188.8,68.9,55.5,...,3.01,3.40,23.0,106,4800,26,27,22470.0,1909950.0,26.5
145,200,-1,volvo diesel,four,wagon,front,104.3,188.8,67.2,57.5,...,3.62,3.15,7.5,162,5100,17,22,18950.0,1610750.0,19.5
144,199,-2,volvo 264gl,four,sedan,front,104.3,188.8,67.2,56.2,...,3.62,3.15,7.5,162,5100,17,22,18420.0,1565700.0,19.5
143,198,-1,volvo 245,four,wagon,front,104.3,188.8,67.2,57.5,...,3.78,3.15,9.5,114,5400,24,28,16515.0,1403775.0,26.0
142,197,-2,volvo 244dl,four,sedan,front,104.3,188.8,67.2,56.2,...,3.78,3.15,9.5,114,5400,24,28,15985.0,1358725.0,26.0

Sorting data according to certain features is quite useful in various analyses.

### Example
Dataframe in-built functions

In [ ]:
df_cars.round().head()

,car_ID,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,price in INR,avgmpg
0,1,3,alfa-romero giulia,two,convertible,front,89.0,169.0,64.0,49.0,...,3.0,3.0,9.0,111,5000,21,27,13495.0,1147075.0,24.0
1,2,3,alfa-romero stelvio,two,convertible,front,89.0,169.0,64.0,49.0,...,3.0,3.0,9.0,111,5000,21,27,16500.0,1402500.0,24.0
2,3,1,alfa-romero Quadrifoglio,two,hatchback,front,94.0,171.0,66.0,52.0,...,3.0,3.0,9.0,154,5000,19,26,16500.0,1402500.0,22.0
3,4,2,audi 100 ls,four,sedan,front,100.0,177.0,66.0,54.0,...,3.0,3.0,10.0,102,5500,24,30,13950.0,1185750.0,27.0
4,5,2,audi 100ls,four,sedan,front,99.0,177.0,66.0,54.0,...,3.0,3.0,8.0,115,5500,18,22,17450.0,1483250.0,20.0

Note that the `.round()` function has been applied only to values where it is typically applicable, such as numerical features.

Typically, functions are applied to sets of columns instead of the full dataframe.

In [ ]:
df_cars['carlength'].round()

0      169.0
1      169.0
2      171.0
3      177.0
4      177.0
       ...
142    189.0
143    189.0
144    189.0
145    189.0
146    189.0
Name: carlength, Length: 147, dtype: float64

The `.apply()` method can also be used to apply functions on dataframe values.

In [ ]:
import numpy as np
df_cars['carheight'].apply(np.round)

0      49.0
1      49.0
2      52.0
3      54.0
4      54.0
       ...
142    56.0
143    58.0
144    56.0
145    58.0
146    56.0
Name: carheight, Length: 147, dtype: float64

The `.apply()` method can be used in conjunction with custom functions to operate over columns in dataframes.

In [ ]:
def heavyornot(val):
    if val > 2000: return 'heavy'
    else: return 'not heavy'

In [ ]:
df_cars['curbweight'].apply(heavyornot).head()

0    heavy
1    heavy
2    heavy
3    heavy
4    heavy
Name: curbweight, dtype: object

In [ ]:
def first_three_letters(row): return row[:3]
df_cars['carname'].apply(first_three_letters).head()

0    alf
1    alf
2    alf
3    aud
4    aud
Name: carname, dtype: object

You can use the `.apply()` method along with a lambda function as well.

In [ ]:
df_cars['horsepower'].apply(lambda x: 1 if x > 150 else 0).head()

0    0
1    0
2    1
3    0
4    0
Name: horsepower, dtype: int64

The `.apply()` method can be used to process multiple columns as well.

In [ ]:
df_cars[['carname', 'carbody']].apply(first_three_letters)

                    carname      carbody
0        alfa-romero giulia  convertible
1       alfa-romero stelvio  convertible
2  alfa-romero Quadrifoglio    hatchback

Note that the function is applied to the entire row as a value, and not each entry as a value when using the `.apply()` function. In this case, you may use the `.map()` function.

In [ ]:
df_cars[['carname', 'carbody']].map(first_three_letters).head()

  carname carbody
0     alf     con
1     alf     con
2     alf     hat
3     aud     sed
4     aud     sed

This is only a basic introduction to applying functions and transformations to data in dataframes. You will learn these methods in greater detail later in your data science journey. You are encouraged to explore further on your own.

### Quiz
The `'doornumber'` feature in the `df_cars` dataframe is a string feature. Replace all the values in this feature with the appropriate integer value. Do not do this in place.

In [ ]:
##### CODE HERE #####

### Example
Grouped operations

In [ ]:
df_cars.head()

,car_ID,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,price in INR,avgmpg
0,1,3,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,...,3.47,2.68,9.0,111,5000,21,27,13495.0,1147075.0,24.0
1,2,3,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,...,3.47,2.68,9.0,111,5000,21,27,16500.0,1402500.0,24.0
2,3,1,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,...,2.68,3.47,9.0,154,5000,19,26,16500.0,1402500.0,22.5
3,4,2,audi 100 ls,four,sedan,front,99.8,176.6,66.2,54.3,...,3.19,3.40,10.0,102,5500,24,30,13950.0,1185750.0,27.0
4,5,2,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,...,3.19,3.40,8.0,115,5500,18,22,17450.0,1483250.0,20.0

In [ ]:
df_cars.groupby(by = 'carbody')

The `.groupby()` function creates a grouped dataframe object. We need to process the groups using some aggregation function or processing method.

In [ ]:
# df_cars.groupby(by = 'carbody').mean()

In [ ]:
df_cars.groupby(by = 'carbody')[['carlength', 'carwidth', 'carheight']].mean()

              carlength   carwidth  carheight
carbody
convertible  170.383333  65.583333  51.433333
hardtop      177.042857  66.757143  52.971429
hatchback    163.686957  64.869565  51.878261
sedan        176.716176  66.070588  54.191176
wagon        180.225000  66.095000  56.895000

In [ ]:
df_cars.groupby(by = 'doornumber')['price']

In [ ]:
df_cars.groupby(by = 'doornumber')['price'].mean()

doornumber
four    13518.713333
two     12966.828708
Name: price, dtype: float64

In [ ]:
df_cars.groupby(by = 'doornumber')[['price', 'horsepower']].mean()

                   price  horsepower
doornumber
four        13518.713333        99.6
two         12966.828708       106.0

Grouping data based on categories and applying custom functions to understand the nature of the resultant groups is a popular paradigm in data analysis.

The `.groupby()` and `.aggregate()` functions can be used together to perform complex data queries.

In [ ]:
grouped_df = df_cars.groupby('carbody')
summary_df = grouped_df.aggregate({'horsepower': 'median', 'price': 'median'})
summary_df

             horsepower    price
carbody
convertible       113.5  17084.5
hardtop           123.0  28176.0
hatchback          85.0   7847.0
sedan              95.0   9977.5
wagon              92.0   9746.5

### Quiz
Group the dataframe `df_cars` by type of car body and find out what kind of cars are more expensive in general. Use median as a summary metric.

In [ ]:
##### CODE HERE #####

### Quiz
Group the dataframe `df_cars` by type of `carbody` and find out which `carbody` type mostly has two doors.

In [ ]:
##### CODE HERE #####

### Example
Deleting elements from dataframes

In [ ]:
df_cars

,car_ID,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,price in INR,avgmpg
0,1,3,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,...,3.47,2.68,9.0,111,5000,21,27,13495.0,1147075.0,24.0
1,2,3,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,...,3.47,2.68,9.0,111,5000,21,27,16500.0,1402500.0,24.0
2,3,1,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,...,2.68,3.47,9.0,154,5000,19,26,16500.0,1402500.0,22.5
3,4,2,audi 100 ls,four,sedan,front,99.8,176.6,66.2,54.3,...,3.19,3.40,10.0,102,5500,24,30,13950.0,1185750.0,27.0
4,5,2,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,...,3.19,3.40,8.0,115,5500,18,22,17450.0,1483250.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,197,-2,volvo 244dl,four,sedan,front,104.3,188.8,67.2,56.2,...,3.78,3.15,9.5,114,5400,24,28,15985.0,1358725.0,26.0
143,198,-1,volvo 245,four,wagon,front,104.3,188.8,67.2,57.5,...,3.78,3.15,9.5,114,5400,24,28,16515.0,1403775.0,26.0
144,199,-2,volvo 264gl,four,sedan,front,104.3,188.8,67.2,56.2,...,3.62,3.15,7.5,162,5100,17,22,18420.0,1565700.0,19.5
145,200,-1,volvo diesel,four,wagon,front,104.3,188.8,67.2,57.5,...,3.62,3.15,7.5,162,5100,17,22,18950.0,1610750.0,19.5
146,204,-1,volvo 246,four,sedan,front,109.1,188.8,68.9,55.5,...,3.01,3.40,23.0,106,4800,26,27,22470.0,1909950.0,26.5

In [ ]:
df_cars.drop(labels = 'symboling', axis = 1)

,car_ID,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,price in INR,avgmpg
0,1,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,2548,...,3.47,2.68,9.0,111,5000,21,27,13495.0,1147075.0,24.0
1,2,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,2548,...,3.47,2.68,9.0,111,5000,21,27,16500.0,1402500.0,24.0
2,3,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,2823,...,2.68,3.47,9.0,154,5000,19,26,16500.0,1402500.0,22.5
3,4,audi 100 ls,four,sedan,front,99.8,176.6,66.2,54.3,2337,...,3.19,3.40,10.0,102,5500,24,30,13950.0,1185750.0,27.0
4,5,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,2824,...,3.19,3.40,8.0,115,5500,18,22,17450.0,1483250.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,197,volvo 244dl,four,sedan,front,104.3,188.8,67.2,56.2,2935,...,3.78,3.15,9.5,114,5400,24,28,15985.0,1358725.0,26.0
143,198,volvo 245,four,wagon,front,104.3,188.8,67.2,57.5,3042,...,3.78,3.15,9.5,114,5400,24,28,16515.0,1403775.0,26.0
144,199,volvo 264gl,four,sedan,front,104.3,188.8,67.2,56.2,3045,...,3.62,3.15,7.5,162,5100,17,22,18420.0,1565700.0,19.5
145,200,volvo diesel,four,wagon,front,104.3,188.8,67.2,57.5,3157,...,3.62,3.15,7.5,162,5100,17,22,18950.0,1610750.0,19.5
146,204,volvo 246,four,sedan,front,109.1,188.8,68.9,55.5,3217,...,3.01,3.40,23.0,106,4800,26,27,22470.0,1909950.0,26.5

In [ ]:
df_cars.drop(labels = 'symboling', axis = 1, inplace = True)

In [ ]:
df_cars.drop(labels = [3, 5], axis = 0, inplace = True)

In [ ]:
df_cars.shape

(145, 22)

### Example
Changing elements in dataframes

In [ ]:
df_cars['doornumber'].replace({'two': 2, 'four': 4})

0      2
1      2
2      2
4      4
6      4
      ..
142    4
143    4
144    4
145    4
146    4
Name: doornumber, Length: 145, dtype: int64

### Example
Adding new rows and columns to dataframes and renaming dataframe axes

In [ ]:
new_col = pd.Series(data = np.arange(0, len(df_cars), 1), name = 'NewColumn')

In [ ]:
pd.concat(objs = [df_cars, new_col], axis = 1)

,car_ID,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,...,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,price in INR,avgmpg,NewColumn
0,1.0,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,2548.0,...,2.68,9.0,111.0,5000.0,21.0,27.0,13495.0,1147075.0,24.0,0.0
1,2.0,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,2548.0,...,2.68,9.0,111.0,5000.0,21.0,27.0,16500.0,1402500.0,24.0,1.0
2,3.0,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,2823.0,...,3.47,9.0,154.0,5000.0,19.0,26.0,16500.0,1402500.0,22.5,2.0
4,5.0,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,2824.0,...,3.40,8.0,115.0,5500.0,18.0,22.0,17450.0,1483250.0,20.0,4.0
6,8.0,audi 5000,four,wagon,front,105.8,192.7,71.4,55.7,2954.0,...,3.40,8.5,110.0,5500.0,19.0,25.0,18920.0,1608200.0,22.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,199.0,volvo 264gl,four,sedan,front,104.3,188.8,67.2,56.2,3045.0,...,3.15,7.5,162.0,5100.0,17.0,22.0,18420.0,1565700.0,19.5,144.0
145,200.0,volvo diesel,four,wagon,front,104.3,188.8,67.2,57.5,3157.0,...,3.15,7.5,162.0,5100.0,17.0,22.0,18950.0,1610750.0,19.5,NaN
146,204.0,volvo 246,four,sedan,front,109.1,188.8,68.9,55.5,3217.0,...,3.40,23.0,106.0,4800.0,26.0,27.0,22470.0,1909950.0,26.5,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0

Note that we have named the series that is being added as a column and the name of the series becomes the name of the new column

There are missing values in the concatenated dataframe because of the way data is joined together using the `concat` method. We need to make sure the indices of the objects being joined match.

In [ ]:
new_col = pd.Series(data = np.arange(0, len(df_cars), 1), name = 'NewColumn', index = df_cars.index)

In [ ]:
pd.concat(objs = [df_cars, new_col], axis = 1)

,car_ID,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,...,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,price in INR,avgmpg,NewColumn
0,1,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,2548,...,2.68,9.0,111,5000,21,27,13495.0,1147075.0,24.0,0
1,2,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,2548,...,2.68,9.0,111,5000,21,27,16500.0,1402500.0,24.0,1
2,3,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,2823,...,3.47,9.0,154,5000,19,26,16500.0,1402500.0,22.5,2
4,5,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,2824,...,3.40,8.0,115,5500,18,22,17450.0,1483250.0,20.0,3
6,8,audi 5000,four,wagon,front,105.8,192.7,71.4,55.7,2954,...,3.40,8.5,110,5500,19,25,18920.0,1608200.0,22.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,197,volvo 244dl,four,sedan,front,104.3,188.8,67.2,56.2,2935,...,3.15,9.5,114,5400,24,28,15985.0,1358725.0,26.0,140
143,198,volvo 245,four,wagon,front,104.3,188.8,67.2,57.5,3042,...,3.15,9.5,114,5400,24,28,16515.0,1403775.0,26.0,141
144,199,volvo 264gl,four,sedan,front,104.3,188.8,67.2,56.2,3045,...,3.15,7.5,162,5100,17,22,18420.0,1565700.0,19.5,142
145,200,volvo diesel,four,wagon,front,104.3,188.8,67.2,57.5,3157,...,3.15,7.5,162,5100,17,22,18950.0,1610750.0,19.5,143
146,204,volvo 246,four,sedan,front,109.1,188.8,68.9,55.5,3217,...,3.40,23.0,106,4800,26,27,22470.0,1909950.0,26.5,144

In [ ]:
df_cars = pd.concat(objs = [df_cars, new_col], axis = 1)

In [ ]:
df_cars.shape

(145, 23)

In [ ]:
new_cols = pd.DataFrame(data = {'AnotherColumn': np.linspace(100, 200, len(df_cars)),
                                'OneMoreColumn': np.ones(len(df_cars))},
                        index = df_cars.index)

In [ ]:
df_cars = pd.concat(objs = [df_cars, new_cols], axis = 1)
df_cars.shape

(145, 25)

In [ ]:
df_cars.rename(columns = {'doornumber': 'DR',
                           'carbody': 'CB',
                           'enginelocation': 'EL',
                           'peakrpm': 'PeakRPM',
                           'NewColumn': 'NC'},inplace = True)
df_cars

,car_ID,carname,DR,CB,EL,wheelbase,carlength,carwidth,carheight,curbweight,...,horsepower,PeakRPM,citympg,highwaympg,price,price in INR,avgmpg,NC,AnotherColumn,OneMoreColumn
0,1,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,2548,...,111,5000,21,27,13495.0,1147075.0,24.0,0,100.000000,1.0
1,2,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,2548,...,111,5000,21,27,16500.0,1402500.0,24.0,1,100.694444,1.0
2,3,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,2823,...,154,5000,19,26,16500.0,1402500.0,22.5,2,101.388889,1.0
4,5,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,2824,...,115,5500,18,22,17450.0,1483250.0,20.0,3,102.083333,1.0
6,8,audi 5000,four,wagon,front,105.8,192.7,71.4,55.7,2954,...,110,5500,19,25,18920.0,1608200.0,22.0,4,102.777778,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,197,volvo 244dl,four,sedan,front,104.3,188.8,67.2,56.2,2935,...,114,5400,24,28,15985.0,1358725.0,26.0,140,197.222222,1.0
143,198,volvo 245,four,wagon,front,104.3,188.8,67.2,57.5,3042,...,114,5400,24,28,16515.0,1403775.0,26.0,141,197.916667,1.0
144,199,volvo 264gl,four,sedan,front,104.3,188.8,67.2,56.2,3045,...,162,5100,17,22,18420.0,1565700.0,19.5,142,198.611111,1.0
145,200,volvo diesel,four,wagon,front,104.3,188.8,67.2,57.5,3157,...,162,5100,17,22,18950.0,1610750.0,19.5,143,199.305556,1.0
146,204,volvo 246,four,sedan,front,109.1,188.8,68.9,55.5,3217,...,106,4800,26,27,22470.0,1909950.0,26.5,144,200.000000,1.0

In [ ]:
df_cars.drop(['NC','AnotherColumn','OneMoreColumn'],axis=1,inplace=True)
df_cars.shape

(145, 22)

In [ ]:
new_row = pd.Series(data = {'car_ID': 205,
  'symboling': 3,
  'carname': 'alfa-romero giulia',
  'doornumber': 'two',
  'carbody': 'convertible',
  'enginelocation': 'front',
  'wheelbase': 88.6,
  'carlength': 168.8,
  'carwidth': 64.1,
  'carheight': 48.8,
  'curbweight': 2548,
  'cylindernumber': 'four',
  'enginesize': 130,
  'boreratio': 3.47,
  'stroke': 2.68,
  'compressionratio': 9.0,
  'horsepower': 111,
  'peakrpm': 5000,
  'citympg': 21,
  'highwaympg': 27,
  'price': 13495.0,
  'avgmpg': 24.0})

In [ ]:
pd.concat(objs = [df_cars, new_row], axis = 0)

,car_ID,carname,DR,CB,EL,wheelbase,carlength,carwidth,carheight,curbweight,...,stroke,compressionratio,horsepower,PeakRPM,citympg,highwaympg,price,price in INR,avgmpg,0
0,1.0,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,2548.0,...,2.68,9.0,111.0,5000.0,21.0,27.0,13495.0,1147075.0,24.0,NaN
1,2.0,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,2548.0,...,2.68,9.0,111.0,5000.0,21.0,27.0,16500.0,1402500.0,24.0,NaN
2,3.0,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,2823.0,...,3.47,9.0,154.0,5000.0,19.0,26.0,16500.0,1402500.0,22.5,NaN
4,5.0,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,2824.0,...,3.40,8.0,115.0,5500.0,18.0,22.0,17450.0,1483250.0,20.0,NaN
6,8.0,audi 5000,four,wagon,front,105.8,192.7,71.4,55.7,2954.0,...,3.40,8.5,110.0,5500.0,19.0,25.0,18920.0,1608200.0,22.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
peakrpm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5000
citympg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21
highwaympg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27
price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13495.0
avgmpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0

In [ ]:
new_row = pd.DataFrame(data = {'car_ID': 205,
  'symboling': 3,
  'carname': 'alfa-romero giulia',
  'doornumber': 'two',
  'carbody': 'convertible',
  'enginelocation': 'front',
  'wheelbase': 88.6,
  'carlength': 168.8,
  'carwidth': 64.1,
  'carheight': 48.8,
  'curbweight': 2548,
  'cylindernumber': 'four',
  'enginesize': 130,
  'boreratio': 3.47,
  'stroke': 2.68,
  'compressionratio': 9.0,
  'horsepower': 111,
  'peakrpm': 5000,
  'citympg': 21,
  'highwaympg': 27,
  'price': 13495.0,
  'avgmpg': 24.0},index=[len(df_cars)])

In [ ]:
pd.concat(objs = [df_cars, new_row], axis = 0)

,car_ID,carname,DR,CB,EL,wheelbase,carlength,carwidth,carheight,curbweight,...,citympg,highwaympg,price,price in INR,avgmpg,symboling,doornumber,carbody,enginelocation,peakrpm
0,1,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,2548,...,21,27,13495.0,1147075.0,24.0,NaN,NaN,NaN,NaN,NaN
1,2,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,2548,...,21,27,16500.0,1402500.0,24.0,NaN,NaN,NaN,NaN,NaN
2,3,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,2823,...,19,26,16500.0,1402500.0,22.5,NaN,NaN,NaN,NaN,NaN
4,5,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,2824,...,18,22,17450.0,1483250.0,20.0,NaN,NaN,NaN,NaN,NaN
6,8,audi 5000,four,wagon,front,105.8,192.7,71.4,55.7,2954,...,19,25,18920.0,1608200.0,22.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,198,volvo 245,four,wagon,front,104.3,188.8,67.2,57.5,3042,...,24,28,16515.0,1403775.0,26.0,NaN,NaN,NaN,NaN,NaN
144,199,volvo 264gl,four,sedan,front,104.3,188.8,67.2,56.2,3045,...,17,22,18420.0,1565700.0,19.5,NaN,NaN,NaN,NaN,NaN
145,200,volvo diesel,four,wagon,front,104.3,188.8,67.2,57.5,3157,...,17,22,18950.0,1610750.0,19.5,NaN,NaN,NaN,NaN,NaN
146,204,volvo 246,four,sedan,front,109.1,188.8,68.9,55.5,3217,...,26,27,22470.0,1909950.0,26.5,NaN,NaN,NaN,NaN,NaN
145,205,alfa-romero giulia,NaN,NaN,NaN,88.6,168.8,64.1,48.8,2548,...,21,27,13495.0,NaN,24.0,3.0,two,convertible,front,5000.0

In [ ]:
df_A=df_cars[['car_ID','carname']]
df_A

     car_ID                   carname
0         1        alfa-romero giulia
1         2       alfa-romero stelvio
2         3  alfa-romero Quadrifoglio
4         5                audi 100ls
6         8                 audi 5000
..      ...                       ...
142     197               volvo 244dl
143     198                 volvo 245
144     199               volvo 264gl
145     200              volvo diesel
146     204                 volvo 246

[145 rows x 2 columns]

In [ ]:
df_B=df_cars[['car_ID','price']]
df_B

     car_ID    price
0         1  13495.0
1         2  16500.0
2         3  16500.0
4         5  17450.0
6         8  18920.0
..      ...      ...
142     197  15985.0
143     198  16515.0
144     199  18420.0
145     200  18950.0
146     204  22470.0

[145 rows x 2 columns]

In [ ]:
df_A.join(other = df_B.set_index('car_ID'), on = 'car_ID', how = 'inner')

     car_ID                   carname    price
0         1        alfa-romero giulia  13495.0
1         2       alfa-romero stelvio  16500.0
2         3  alfa-romero Quadrifoglio  16500.0
4         5                audi 100ls  17450.0
6         8                 audi 5000  18920.0
..      ...                       ...      ...
142     197               volvo 244dl  15985.0
143     198                 volvo 245  16515.0
144     199               volvo 264gl  18420.0
145     200              volvo diesel  18950.0
146     204                 volvo 246  22470.0

[145 rows x 3 columns]

In [ ]:
pd.merge(left = df_A, right = df_B, how = 'inner', on = 'car_ID')

     car_ID                   carname    price
0         1        alfa-romero giulia  13495.0
1         2       alfa-romero stelvio  16500.0
2         3  alfa-romero Quadrifoglio  16500.0
3         5                audi 100ls  17450.0
4         8                 audi 5000  18920.0
..      ...                       ...      ...
140     197               volvo 244dl  15985.0
141     198                 volvo 245  16515.0
142     199               volvo 264gl  18420.0
143     200              volvo diesel  18950.0
144     204                 volvo 246  22470.0

[145 rows x 3 columns]

In this session, we began our data analytics journey by familiarizing ourselves with two of the most important Pandas data structures, namely the `Series` object and the `DataFrame` objects. Series are strictly indexed lists of values of the same type. Dataframes are 2D collections of series. Most tabular data can be analyzed in the form of dataframes.

We studied some important fundamental concepts and methods related to these objects in this session with a larger focus on getting the basics right. Learners are encouraged to sharpen their Pandas skills even further by practicing the basics on different datasets and problem statements.

We took an introductory peek into some of the more advanced operations, which you will continue to study and use as you move ahead in your learning journey.

You are encouraged to explore further on your own. You can begin by studying the official Pandas documentation [here](https://pandas.pydata.org/docs/index.html).