# CONDITIONALS

In [ ]:
#if statement
#if-else statement
#if-elif-else statement
#match-case statement (introduced in Python 3.10)

In [5]:
temp = 19

if temp > 20:
    print('temperature is hot ')
else: 
    print('its cold')

its cold

### Compound conditions

In [6]:
is_sunny = True
temp = 28
if is_sunny and temp > 20 :
    print('its getting hot')

its getting hot

#### Conditions on variables

In [13]:
name = str(input('enter the name '))
if len (name ) >= 10 :
    print('the char are more then and equal to 10')
else :
    print('the char are less the 10 char')

enter the name  anish

the char are less the 10 char

### NESTED IF STATEMENTS

In [3]:
credit_score = int(input('enter your credit score '))
income = int(input('enter your income'))
if credit_score >= 600 :
    if income > 20000:
        print("credit card approved ")
    else:
        print('inceficient income')
else:
    print('incefeceint credit score')

enter your credit score  700
enter your income 200

inceficient balance

## MATCH CASE STATEMENT

In [7]:
weeks_day = int(input())
match weeks_day :
    case 1 :
        print('monday')
    case 2 :
        print("tuesday")
    case 3 :
        print('wednesday')
    case 4 :
        print('thursday')
    case 5 :
        print('friday ')
    case 6 :
        print('saturday')
    case 7 :
        print('sunday')

 6

saturday

### ELIF STATEMENT

In [11]:
salary = int(input())
if salary <= 20000 :
    print("no tax are applied")
elif salary >20000 and salary <=30000 :
    print('the tax are applied',salary * 0.05)
elif salary > 30000 and salary <=40000 :
    print('the tax are applied ',salary * 0.10)
elif salary > 40000 :
    print('the tax applied ',salary * 0.15)
else:
    print("enter your salry")

 41111111

the tax applied  6166666.649999999

# LOOPS

### while loop

The while loop

A while loop in Python repeatedly executes a target statement as long as a given condition remains true. It's one of the simplest forms of looping structures in Python and serves as the basis for more complex iterations. The general form of a while loop is:

In [ ]:
while condition: 

    # execute code block

In [3]:

num = 5
while num > 0 :
    num = num - 1
    print(num)

4
3
2
1
0

In [13]:
# while loop for the write the alphabets 
alpha = "a"
while alpha <= "z" :
    print(alpha ,end=" ")
    alpha = chr(ord(alpha )+ 1)

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [20]:
my_str = 'anish'
index = 0
while index < len(my_str):
    
    print(my_str[index])
    index = index + 1

a
n
i
s
h

In [19]:
my_str = 'anish'
index = 0

while index < len(my_str):
    print(my_str[index])  # Print before incrementing index
    index = index + 1  # Move to the next character

a
n
i
s
h

In [23]:
#print number 1 to hundred
i = 1
while i <= 100:
    print(i)
    i = i +1

1
2

In [2]:
#print the num from 100 to 1
i = 100
while i >= 1:
    print(i)
    i = i-1

100
99

In [7]:
# print the n num of table
num = int(input("enter the number"))

i = 1
while i <= 10:
    print(num * i)
    i = i + 1

enter the number 2

2
4
6
8
10
12
14
16
18
20

In [12]:
# print the num from list 
list1 = [1,23,4,5,6,42,1,5,4,82,1,3,45]
i = 0
while i <= len(list1)-1:
    print(list1[i])
    i = i+1

1
23
4
5
6
42
1
5
4
82
1
3
45

In [1]:
# search the x value of the tuple
tupe = (1,2,3,4,5,6,7,89,7,4,1,5,2)
x = int(input('enter the number '))
i = 0
while i <= len(tupe) - 1:
    if tupe[i] == x:
        print('found the your num at ', i  ,'index')
    i = i+1

enter the number  7

found the your num at  6 index
found the your num at  8 index

### break statement

In [10]:
i = 0
while True :
    print(i)
    i = i +1
    if i > 10: # idhar ulta isliye use kiya kyuki break statement use krna tha
        break

0
1
2
3
4
5
6
7
8
9
10

### continue statement

In [15]:
i = 0
while i <= 11:
    if (i == 3):nn # here the 3 skip and continue to the lo
        i = i+1
        continue
    print(i)
    i = i+1

0
1
2
4
5
6
7
8
9
10
11

### NESTED WHILE LOOP

In [17]:
#print row and column 
raw = 0
while raw <= 3:
    col = 0
    while col <= 3:
        print(f"({raw},{col})")
        col = col + 1 
    raw = raw + 1

(0,0)
(0,1)
(0,2)
(0,3)
(1,0)
(1,1)
(1,2)
(1,3)
(2,0)
(2,1)
(2,2)
(2,3)
(3,0)
(3,1)
(3,2)
(3,3)

In [19]:
word = 'anish'
while word: print(word); word = word[1:]


#Execution Steps:
#word = 'anish', so the loop starts.
#First iteration: Prints "anish", then updates word to "nish".
#Second iteration: Prints "nish", then updates word to "ish".
#Third iteration: Prints "ish", then updates word to "sh".
#Fourth iteration: Prints "sh", then updates word to "h".
#Fifth iteration: Prints "h", then updates word to an empty string ("").
#Now word is empty (""), so the loop terminates.

anish
nish
ish
sh
h

In [23]:
list1 = ['anish','khshi','vedansh','rahul','aman','gori','goapal','govind','gopu']
while list1:print(list1.pop())

gopu
govind
goapal
gori
aman
rahul
vedansh
khshi
anish

# FOR LOOP

In [35]:
list1 = ['anish','khshi','vedansh','rahul','aman','gori','goapal','govind','gopu']
for i in list1:
    print(i) #this is print iteration 
    print("             ",list1)

anish
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']
khshi
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']
vedansh
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']
rahul
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']
aman
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']
gori
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']
goapal
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']
govind
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']
gopu
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']

In [36]:
# use of range 
for i in range(6): # its start from 0 by default and exclude last digit like in this 6
    print(i)

0
1
2
3
4
5

In [40]:
for i in range(1,4):
    for j in range(1,4):
        print(f'{i}*{j} ={i*j}' )

1*1 =1
1*2 =2
1*3 =3
2*1 =2
2*2 =4
2*3 =6
3*1 =3
3*2 =6
3*3 =9

### break statement for loop

In [51]:
names = {'Aravind': 26765, 'Charlie': 34431, 'Dinesh': 65587, 'Parveen': 45809, 'Ram': 87987, 'Subhadra': 54019, 'Zareena': 21298}
rqd_name = str(input()).capitalize().strip()

for i in names.keys() :
    if i == rqd_name:
        print(f'the searching for {i} in {names[i]} ')
        break

 charlie

the searching for Charlie in 34431

In [52]:
total_salse = 0
sales_values = {'Q1': 15546, 'Q2': 17623, 'Q3': 21109, 'Q4': 18972}
for i in sales_values.values():
    total_salse = total_salse + i 
print(total_salse)

73250

In [1]:
input_list = [0, 1, 2, 3, 4, 5, 6] 
output_list = [] 
for x in input_list:  
    if x%3 == 0:    
      output_list.append(x) 

print(output_list)

[0, 3, 6]

## List Comprehensions

In [6]:
list1 = [1,2,3,4,5,6,7,8,9,10]
new_list =[ i+1 for i in list1] # this is used for less line of code used the format is [kya krna hai,kiske liye krna hai,kismein krna hai]
print(new_list)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [14]:
daily_sales = [120, 105, 133, 89, 74, 112, 115]
rate_val = 5
sales = [val * rate_val for val in daily_sales]
print(sales)

[600, 525, 665, 445, 370, 560, 575]

In [75]:
def square(x):
    return x**2

mylist = [1,2,3,4,5,6,7,8,9]
newlist = [square(i) for i in mylist]
print(newlist)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9]
newlist = [i ** 2 for i in mylist]
print(newlist)

## Dictionary comprehensions

In [ ]:
#yeh kal complete krna hai

#  FUNCTIONS

### PRE DEFINED FUNCTION

Built-in functions in Python are pre-defined and readily available in any Python environment. They allow programmers to perform a wide range of tasks from data manipulation to mathematical computations efficiently and effectively. These functions help streamline coding by reducing repetitive code and enhancing readability. Consider built-in functions as tools in a tool kit. Just as a screwdriver or a hammer is readily available to perform tasks without building a new tool, built-in functions are ready to use for common programming tasks.

In [27]:
print() #1
len('anish') #2
ord('b') #3
# and many more

98

## USER DEFINED FUNCTION

User-defined functions are blocks of code designed by the programmer to perform particular actions. They help in breaking down complex problems into simpler, reusable parts, improving code readability and maintainability.

Think of user-defined functions like custom kitchen gadgets designed for specific cooking needs that standard utensils can't meet. Just as a special pastry cutter might be designed to create perfect shapes that regular knives can't, user-defined functions perform specific tasks tailored to your program's requirements.

In [36]:
def anish():
    print('hi i am anish verma ')

anish()
anish() # calling function

hi i am anish verma
hi i am anish verma

In [38]:
def add() :
    a = int(input())
    b = int(input())
    add1 = a + b
    print(add1)


add()

 5
 5

10

#### Global scope

variables declared outside any function are in the global scope. This means they can be accessed anywhere in your program, both inside and outside of functions.

In [ ]:
global_variable = 10 # Declare a global variable



def some_function():

  print(global_variable) # Access the global variable inside a function

### Local scope

Variables declared inside any function are in the local scope. This means they can be accessed anywhere in your program, but only inside the functions.

In [45]:
def another_function():

  local_variable = 5 # Declare a local variable

  print(local_variable) # Print the local variable



another_function() # Call the function to see the output

5

Let's explore what happens when we try to access a variable with local scope outside its defining function in Python.

In [2]:
def name():
    names = 'anish' # local variable
    print(names)

print(names)

NameError: name 'names' is not defined

Let's demonstrate how to modify a global variable inside a function using the global keyword.

In [11]:
my_name  = "anish"
def name():
    my_name = 'verma'
    print(my_name)

name()
print(my_name)

verma
anish

## Returning values

In Python, functions are not limited to performing actions; they can also send back, or return, values to the caller using the return statement. This is fundamental for reusing and manipulating results generated within functions.

Think of a function as a vending machine. You select a button (call a function), and it returns an item (a value). Just as a vending machine can give out a single item or a combo pack, a function can return one value or multiple values bundled together.

In [21]:
def square():
    num = 5
    sqr = num ** 2
    return sqr


square()

25

In [27]:
def example():
    a = 1.6454
    b = ' anish verma'
    return a ,  b 

example()
# answer comes in tuples

(1.6454, ' anish verma')

In [29]:
float_val,string_val = example() # unpacking the function
print(float_val,type(float_val))
print(string_val,type(string_val))

1.6454 <class 'float'>
 anish verma <class 'str'>

## Functions with parameters

Functions with parameters significantly enhance the flexibility and reusability of code in Python. By allowing dynamic inputs, they enable programmers to use the same function in various contexts, adjusting behaviour as needed without altering the core logic. This modularity aids in organising complex codebases, making them easier to manage, debug, and extend. Overall, parameterised functions streamline development and improve code maintainability, helping developers efficiently tackle diverse programming challenges.

In [74]:
def calculater(x,y,operation):
    if operation == 'add':
        return x + y

    elif operation == 'sub':
        return x-y

calculater(10,15,'sub')

-5

In [83]:
""" 
pass two numbers
: for addition use add
:for subtraction use sub
:for division use div
:for multiplication use multy """
def calculater(x,y,operation):
    
    if operation == 'add':
        return x + y

    elif operation == 'sub':
        return x-y
    elif operation == 'div':
        return x/y
    elif operation == 'multy':
        return x*y

x = int(input())
y = int(input())
operation = str(input()).lower().strip()
print( calculater(x,y,operation))
help(calculater())

 15
 42
 multy

630

TypeError: calculater() missing 3 required positional arguments: 'x', 'y', and 'operation'

Let's define a function mean that calculates the average of numbers in a list.

In [2]:
def mean(data):
    return sum(data) / len(data)

my_data =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
print(mean(my_data))

10.5

In [14]:
def user(user_info):
    print('user information')
    for key , val in user_info.items() :
        print(f"{key.upper() } :{val}")

user_data = {"name": "Ranjiv Alvester", "age": 25, "email": "ranjiv@example.com"}
user(user_data)

user information
NAME :Ranjiv Alvester
AGE :25
EMAIL :ranjiv@example.com

## Lambda functions

Lambda functions, or anonymous functions, are small, created with the lambda keyword in Python. They don't have a formal name and are ideal for when you need a quick function without the overhead of defining a full function with def.

In [32]:

double = lambda x : x * 2
print(double(100000))

200000

In [34]:
add = lambda x,y : x+y
print(add(20,30))

50

In [36]:
srtt = lambda string : string.upper()
srtt('anish')

'ANISH'

## DOCSTRING

In [43]:
def add (x , y ):
    
    """ the user pass x and y and the function return the addition of both argument"""
    return x + y
print(add.__doc__)

 the user pass x and y and the function return the addition of both argument

## Higher-order functions

Higher-order functions are a fundamental concept in Python, emphasising the language's capability to treat functions as first-class objects. This means that functions can be passed as arguments to other functions, returned as values, and assigned to variables, much like any other data type such as integers or strings.

In [50]:
def apply_operation(operation, x, y):

    """

    Apply a binary operation on two operands.

    Parameters:

    - operation: A binary function taking two arguments

    - x, y: Operands on which the operation is applied

    Returns:

    The result of applying the operation on x and y

    """

print(apply_operation.__doc__)

    Apply a binary operation on two operands.

    Parameters:

    - operation: A binary function taking two arguments

    - x, y: Operands on which the operation is applied

    Returns:

    The result of applying the operation on x and y

## map fuction

In [3]:
def square(x):
    return x**2

mylist = [1,2,3,4,5,6,7,8,9]
newlist = map(square,mylist)
squarelist = list(newlist)
print(type(newlist))
print(squarelist)

<class 'map'>
[1, 4, 9, 16, 25, 36, 49, 64, 81]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### RANDOM PRACTICES

PRINT THE ELEMENT OF LIST USING LOOP

In [21]:
list1 = [1,25,45,7,8,95,665,3,21,4,54,6,5,88,9,54,5,41,54]
list1.sort()
for i in list1:
    if i == 88:
        print(' found',i)
        break
    print(i)

1
3
4
5
5
6
7
8
9
21
25
41
45
54
54
54
 found 88

SEARCH X IN TUPLE USING TUPLE

In [60]:
tup = (1,2,4,5,6,4,1,5,2,4,5,7,8,56,6)
x = int(input())
idx = 0
for i in tup :
        print(i)
        if i == x:
            print('founded at the index of ',idx )
        idx = idx +1

 5

1
2
4
5
founded at the index of  3
6
4
1
5
founded at the index of  7
2
4
5
founded at the index of  10
7
8
56
6

## RANG

In [69]:
print(range(1)) # range ko hum   esse print nhi kr wa sakte hai 
print(range(5))# rang ko print krwane ke liye loop lagana padega

range(0, 1)
range(0, 5)

In [77]:
for i in  range(6):
    print(i)

for i in range(1,5):
    print(i)

0
1
2
3
4
5
1
2
3
4

In [81]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [63]:
for i in range(2,5):
    print(i)

2
3
4

# practice

In [5]:
#Taking input
word=input().lower()

#Creating an empty list
x=[]

#Logic to find duplicate characters
for i in word:
    # Creating a letter count of i in word to check for multiple occurences
    letter_count = len([a for a in word if a ==i])

    # Checking if i is already present in x or not, and the letter count of i is >1
    if i not in x and letter_count>1:
        x.append(i)
print(sorted(x))

 aa zz bb gg hh

[' ', 'a', 'b', 'g', 'h', 'z']

The serial number is of the format DDXDDD-DD.

'D' denotes a digit from 0-9 (inclusive).

'X' denotes a letter from A-Z (all uppercase).



To ensure validity of these serial numbers, they have to follow two rules:

The sum of all digits in the serial number should be even.
The letter should be a vowel, or in the list ['A', 'E', 'I', 'O', 'U', 'Y'].


If a truck follows these rules, it is to be labeled as 'valid', otherwise it is to be labeled 'invalid'.


Sample input:

13E122-32



Sample output:

valid

In [7]:
{'body': '# Write your code here\n# Take string input\n\n\n', 'head': '', 'tail': ''}
string = input()

sum = 0

for i in string:
    # Checking the sum of digits first
    if i.isdigit():
        sum = sum + int(i)

# Applying the 2 rules. The letter is always at the index 2.
if (string[2] in 'AEIOUY') and sum%2==0:
    print('valid')
else:
    print('invalid')

 hvackacbhv

invalid

In [34]:
string = str(input('enter the charater ')).lower()
convert = ord(string)
perviuos_char = convert - 1
next_char = convert + 1

p_previous = chr(perviuos_char)
p_next = chr(next_char)


if string == 'z':
    print('the next characterof',string,' is a')
    print('the previous character of ',string,'is',chr(convert - 1))
elif string == 'a':
    print('the previous charater of ',string,'is z ')
    print('the next character of ',string,'is',chr(convert + 1))
else :
    print('the previous charater of ',string,'is',p_previous)
    print('the next charater of ',string,'is',p_next)

enter the charater  a

the previous charater of  a is z
the next character of  a is b

check the character is numerical or aplhabet or aplhanumeric

In [59]:
def character(value):
    if value.isdigit():
        print('it is a integer ')
    elif value.isalpha() :
        print('it is alphabets')
    elif value.isdigit and value.isalpha :
        print('it is alphanumeric')
inpt = input()
character(inpt)

 suxvsuicgvhv515165665

it is alphanumeric

In [75]:
# Function to check if a number is prime
def is_prime(n):
    if n <= 1:
        return False  # Numbers less than or equal to 1 are not prime
    for i in range(2, int(n ** 0.5) + 1):  # Loop from 2 to sqrt(n)
        if n % i == 0:
            return False  # If divisible, it's not a prime number
    return True  # If no factors found, it's a prime

# Taking user input
num = int(input("Enter a number: "))

# Checking and printing the result
if is_prime(num):
    print(f"{num} is a Prime Number.")
else:
    print(f"{num} is NOT a Prime Number.")

Enter a number:  27

27 is NOT a Prime Number.

In [3]:
num = int(input("Enter number:"))
memory = num
rev = 0
while(num > 0):
    dig = num % 10
    rev = rev*10+dig
    num = num//10
if(memory==rev):
    print("Yes")
else:
    print("No")

Enter number: 45654

Yes

In [85]:
from random import shuffle
l = [1,2,3]
target = [3,1,2]

while l != target:
    shuffle(l)

print(l)

[3, 1, 2]

In [51]:
num = int(input('enter your number :-'))
num2 = abs(num)
str_c = str(num2)
list1 = list(str_c)
sum1 = sum(list1)
print(sum1)

enter your number :- -123

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In an organization, employees are rated on 5 parameters - A, B, C, D, and E. These parameters are represented as a list of numbers from 1 to 10. e.g., [7, 8.5, 6, 9.1, 7].

The average rating of a team can be considered as the average of each parameter for all the team members. The team size is 10 currently.

Now, you have to select another employee for your team, making the team size 11. While selecting a candidate, you are to keep in mind one condition - the average score of your team should not decrease for more than two parameters.



For example,

Current average rating of team = [8, 6, 7.5, 9.2, 6.6]

Score of candidate = [9, 6.5, 7, 9, 7].

New average rating

= [80+9, 60+6.5, 75+7, 92+9, 66+7] / 11

= [8.09, 6.04, 7.45, 9.18, 6.63]

Comparing it with the older average, we can see that the rating is decreasing in two parameters only. Hence this candidate is eligible.



Print 'selected' if the candidate is eligible and 'rejected' if the candidate is not eligible.



--------------------------------------------------------------------------------------------------



Input - Two lists, where the first list is the average scores of the team in the five parameters, and the second list is the scores of the new employee in all the five parameters. The parameter order is the same for both lists, which is A, B, C, D, and E.



Output - String



--------------------------------------------------------------------------------------------------



Sample Input - [8, 4, 6, 9, 7]

  [1, 1.1, 1.2, 1.2, 2.3]




Sample Output - Rejected

In [22]:
team_list = input()

#taking the input from user which is the scores of the new employee
new_member_list = input()

# The average will decrease for a parameter if the candidate's score is less than the team's score
# Suppose, rating of parameter A is 10 for the team and less than 10 for the candidate
# We can surely say that the new average will be less than 10 if candidate's rating is less than 10
count = 0
for i in range(len(team_list)):
    if team_list[i] > new_member_list[i]:
        count = count+1

# Average decreasing in more than two parameters
if count>=3:       
    print("Rejected") 
else:
    print("Selected")

 1,2,3,4,5,6
 1,2,3,4,5,6

Selected

Based on the above data, write a function named customcount() to find the total number of units sold for a given customer name.

In [29]:
# Key-value pairs in dictionary have been taken for you
dictionary = {"Ketan":{"potato":5,"tomato":1,"biscuit":4},"Parth":{"cashew":2,"almonds":1,"biscuit":3}, 
"Cinder":{"cashew":7,"tomato":2,"bread":1},"Giva":{"almonds":10,"bread":2,"potato":6}, 
"Henry":{"butter":2,"tomato":5,"bread":1},"Wuan":{"apricot":2,"bread":3},
"Ceaser":{"apricot":2,"tomato":1,"bread":1}, "Jack":{"almonds":10,"bread":1,"potato":2}, 
"Peter":{"butter":2,"jam":1,"bread":4}, "Oliver":{"almonds":20,"apricot":7,"potato":5}, 
"John":{"jam":2,"hazelnut":4,"bread":4}, "Heric":{"butter":2,"jam":2,"potato":4,"hazelnut":5}}

# Taking name as input
name=input().capitalize()

def customcount(d):
    # Getting the sub-dictionary corresponding to the key 'name'
    bag = d[name]
    
    total = 0
    # Adding the quantities of each product in a bag to total
    for i in bag.values():
        total += i
    print(total)
    
customcount(dictionary)

 ketan

10