# CONDITIONALS

In [ ]:
#if statement
#if-else statement
#if-elif-else statement
#match-case statement (introduced in Python 3.10)

In [5]:
temp = 19

if temp > 20:
    print('temperature is hot ')
else: 
    print('its cold')

its cold

### Compound conditions

In [6]:
is_sunny = True
temp = 28
if is_sunny and temp > 20 :
    print('its getting hot')

its getting hot

#### Conditions on variables

In [13]:
name = str(input('enter the name '))
if len (name ) >= 10 :
    print('the char are more then and equal to 10')
else :
    print('the char are less the 10 char')

enter the name  anish

the char are less the 10 char

### NESTED IF STATEMENTS

In [3]:
credit_score = int(input('enter your credit score '))
income = int(input('enter your income'))
if credit_score >= 600 :
    if income > 20000:
        print("credit card approved ")
    else:
        print('inceficient income')
else:
    print('incefeceint credit score')

enter your credit score  700
enter your income 200

inceficient balance

## MATCH CASE STATEMENT

In [7]:
weeks_day = int(input())
match weeks_day :
    case 1 :
        print('monday')
    case 2 :
        print("tuesday")
    case 3 :
        print('wednesday')
    case 4 :
        print('thursday')
    case 5 :
        print('friday ')
    case 6 :
        print('saturday')
    case 7 :
        print('sunday')

 6

saturday

### ELIF STATEMENT

In [11]:
salary = int(input())
if salary <= 20000 :
    print("no tax are applied")
elif salary >20000 and salary <=30000 :
    print('the tax are applied',salary * 0.05)
elif salary > 30000 and salary <=40000 :
    print('the tax are applied ',salary * 0.10)
elif salary > 40000 :
    print('the tax applied ',salary * 0.15)
else:
    print("enter your salry")

 41111111

the tax applied  6166666.649999999

# LOOPS

### while loop

The while loop

A while loop in Python repeatedly executes a target statement as long as a given condition remains true. It's one of the simplest forms of looping structures in Python and serves as the basis for more complex iterations. The general form of a while loop is:

In [ ]:
while condition: 

    # execute code block

In [3]:

num = 5
while num > 0 :
    num = num - 1
    print(num)

4
3
2
1
0

In [13]:
# while loop for the write the alphabets 
alpha = "a"
while alpha <= "z" :
    print(alpha ,end=" ")
    alpha = chr(ord(alpha )+ 1)

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [20]:
my_str = 'anish'
index = 0
while index < len(my_str):
    
    print(my_str[index])
    index = index + 1

a
n
i
s
h

In [19]:
my_str = 'anish'
index = 0

while index < len(my_str):
    print(my_str[index])  # Print before incrementing index
    index = index + 1  # Move to the next character

a
n
i
s
h

In [23]:
#print number 1 to hundred
i = 1
while i <= 100:
    print(i)
    i = i +1

1
2

In [2]:
#print the num from 100 to 1
i = 100
while i >= 1:
    print(i)
    i = i-1

100
99

In [7]:
# print the n num of table
num = int(input("enter the number"))

i = 1
while i <= 10:
    print(num * i)
    i = i + 1

enter the number 2

2
4
6
8
10
12
14
16
18
20

In [12]:
# print the num from list 
list1 = [1,23,4,5,6,42,1,5,4,82,1,3,45]
i = 0
while i <= len(list1)-1:
    print(list1[i])
    i = i+1

1
23
4
5
6
42
1
5
4
82
1
3
45

In [1]:
# search the x value of the tuple
tupe = (1,2,3,4,5,6,7,89,7,4,1,5,2)
x = int(input('enter the number '))
i = 0
while i <= len(tupe) - 1:
    if tupe[i] == x:
        print('found the your num at ', i  ,'index')
    i = i+1

enter the number  7

found the your num at  6 index
found the your num at  8 index

### break statement

In [10]:
i = 0
while True :
    print(i)
    i = i +1
    if i > 10: # idhar ulta isliye use kiya kyuki break statement use krna tha
        break

0
1
2
3
4
5
6
7
8
9
10

### continue statement

In [15]:
i = 0
while i <= 11:
    if (i == 3):nn # here the 3 skip and continue to the lo
        i = i+1
        continue
    print(i)
    i = i+1

0
1
2
4
5
6
7
8
9
10
11

### NESTED WHILE LOOP

In [17]:
#print row and column 
raw = 0
while raw <= 3:
    col = 0
    while col <= 3:
        print(f"({raw},{col})")
        col = col + 1 
    raw = raw + 1

(0,0)
(0,1)
(0,2)
(0,3)
(1,0)
(1,1)
(1,2)
(1,3)
(2,0)
(2,1)
(2,2)
(2,3)
(3,0)
(3,1)
(3,2)
(3,3)

In [19]:
word = 'anish'
while word: print(word); word = word[1:]


#Execution Steps:
#word = 'anish', so the loop starts.
#First iteration: Prints "anish", then updates word to "nish".
#Second iteration: Prints "nish", then updates word to "ish".
#Third iteration: Prints "ish", then updates word to "sh".
#Fourth iteration: Prints "sh", then updates word to "h".
#Fifth iteration: Prints "h", then updates word to an empty string ("").
#Now word is empty (""), so the loop terminates.

anish
nish
ish
sh
h

In [23]:
list1 = ['anish','khshi','vedansh','rahul','aman','gori','goapal','govind','gopu']
while list1:print(list1.pop())

gopu
govind
goapal
gori
aman
rahul
vedansh
khshi
anish

# FOR LOOP

In [35]:
list1 = ['anish','khshi','vedansh','rahul','aman','gori','goapal','govind','gopu']
for i in list1:
    print(i) #this is print iteration 
    print("             ",list1)

anish
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']
khshi
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']
vedansh
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']
rahul
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']
aman
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']
gori
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']
goapal
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']
govind
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']
gopu
              ['anish', 'khshi', 'vedansh', 'rahul', 'aman', 'gori', 'goapal', 'govind', 'gopu']

In [36]:
# use of range 
for i in range(6): # its start from 0 by default and exclude last digit like in this 6
    print(i)

0
1
2
3
4
5

In [40]:
for i in range(1,4):
    for j in range(1,4):
        print(f'{i}*{j} ={i*j}' )

1*1 =1
1*2 =2
1*3 =3
2*1 =2
2*2 =4
2*3 =6
3*1 =3
3*2 =6
3*3 =9

### break statement for loop

In [51]:
names = {'Aravind': 26765, 'Charlie': 34431, 'Dinesh': 65587, 'Parveen': 45809, 'Ram': 87987, 'Subhadra': 54019, 'Zareena': 21298}
rqd_name = str(input()).capitalize().strip()

for i in names.keys() :
    if i == rqd_name:
        print(f'the searching for {i} in {names[i]} ')
        break

 charlie

the searching for Charlie in 34431

In [52]:
total_salse = 0
sales_values = {'Q1': 15546, 'Q2': 17623, 'Q3': 21109, 'Q4': 18972}
for i in sales_values.values():
    total_salse = total_salse + i 
print(total_salse)

73250