# Numpy

In [7]:
import numpy as np

In [4]:
np.__version__

'1.26.4'

### creating the empty array

In [9]:
np_array = np.array([])

In [11]:
np_array

array([], dtype=float64)

### creating array from list

In [18]:
list1 = [1,2,3,4,5,6,7,8,9]
cvt_array = np.array(list1)
print(cvt_array,type(cvt_array))

[1 2 3 4 5 6 7 8 9] <class 'numpy.ndarray'>

### creating array from tuples

In [25]:
tuple1 = (1,2,3,4,5,6,7,8,9,10)
tuple_to_array = np.array(tuple1)
print(tuple_to_array,type(tuple_to_array))

[ 1  2  3  4  5  6  7  8  9 10] <class 'numpy.ndarray'>

## [1,2,3,4,5,6,7,8,9] this are one dimentional array

### datatype

In [30]:
float1 = np.array([1.0,2.5,3.6,4.5,1.8,5.2])
data_type = float1.dtype
print(data_type)

float64

## string array

In [36]:
str_array = np.array(['apple','banana','mango','orange','kiwi'])
print(str_array,str_array.dtype)

['apple' 'banana' 'mango' 'orange' 'kiwi'] <U6

## uppercasting

In [69]:
str_upper = np.array(['apple',100,2.565,True])
print(type(str_upper) ,str_upper) # here all data convert to the string beacause string are more flexiable

<class 'numpy.ndarray'> ['apple' '100' '2.565' 'True']

Notice that in the code given above, numerical values have been converted into strings. This is because arrays can't have mixed types of data. Therefore, NumPy performs what is called upcasting, which is automatic promotion of data types to a higher-level type to ensure that all elements in an operation can be handled consistently. NumPy will upcast the data types to a common type that can accommodate both inputs without loss of information.

### array from set

In [53]:
set1 = {1.2,2.3,5.6,4.987,1.254,1.478}
array1 = np.array(set1)
print(array1,type(array1))

{1.2, 2.3, 1.254, 4.987, 5.6, 1.478} <class 'numpy.ndarray'>

In [55]:
print(array1[0])

IndexError: too many indices for array: array is 0-dimensional, but 1 were indexed

Notice even though we have created an array from a set, the resulting array retains the curly braces from the set. Further, when we tried to access an element from the resulting array, the interpreter threw the above error.


This is mainly because sets in Python are unordered collections of unique elements, whereas NumPy arrays are ordered collections. NumPy creates a zero-dimensional array which cannot be indexed. Hence creating arrays directly from sets is not a common practice, and it's not typically suggested.

## Understanding NumPy Arrays and Mixed Data Types


NumPy is designed to work with large amounts of numerical data efficiently. One of its key features is that all elements in a NumPy array must have the same data type (e.g., all integers, all floats, or all strings).

But what happens when we try to create a NumPy array from a list containing different data types?

In [60]:
mixedlist = [[1,2,3],'apple',10.245,-5,True]
ct_array = np.array(mixedlist)
print(ct_array)

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (5,) + inhomogeneous part.

ðŸ”´ This gives an error because NumPy expects a consistent data type, but our list contains:

A list [2, 3, 1]
A string 'New York'
A float 5.6
An integer -10
Another string 'John'
These data types are too different for NumPy to convert into a single, uniform array.

so the solution is

In [66]:
ct_array = np.array(object = mixedlist, dtype ='object')
print(ct_array, type(ct_array))

[list([1, 2, 3]) 'apple' 10.245 -5 True] <class 'numpy.ndarray'>

To force NumPy to accept different types, we can specify dtype='object'. This tells NumPy to treat every element as a general Python object: