# string are immutable in nature it can't be change

#split function in string

In [2]:
my_str=  'I find Python programming very interesting!'
print(my_str.split()[0]) # .split() = is use for slipt the words ,[] = use for indexing.

I

# indexing

In [6]:
string = "hello"
print(string[0])
print(string[1])
print(string[2])
print(string[3])
print(string[4])

h
e
l
l
o

#Slicing strings
Slicing lets you extract a substring from a string using the slice operator [:]. 
We can also perform slicing operations on strings to get a substring of the string over the given range. Here is the syntax for slicing.

In [ ]:
string[start:stop:step] # this how slicing work

In [15]:
lang = "python"
print(lang[0:6]) # the index are limited but in python we pass the over end location like lang[0:100000]
print(lang[0:5])
print(lang[:6]) #if you dont pass the starting it will take first one by deafault
print(lang[1:]) # same if you dont pass the end it will take the last one

python
pytho
python
ython

In [39]:
#now using the step 
lang1 = "anishverma"
print(lang1[0::1]) # print(lang1[0::1]) the step how to move possitive 1 show left to right and how many step taken like 1
print(lang1[0: :2]) # in step section 2 is mention for taken jump once
print(lang1[0: :3]) # in step section 3 is mention for taken a jump twice

anishverma
aihem
asea

In [43]:
import os
cwd = os.getcwd()
print(cwd)

C:\Users\anish\OneDrive\Documents\GitHub\practice

#reverse slicing

In [44]:
name = "python"
print(name[ : :-1]) #in step section i pass -1 because its start from right to left

nohtyp

In [49]:
nam = "python"
print(nam[5:0:-1])

nohty

In [50]:
# for count from right to left we use negetive number like -1,-2,and -3
name = "anish"
#if i want to show only n 
print(name[-4])

n

#operation on string

    LENGTH

In [51]:
lenth = "anishverma"
string_len = len(lenth)
print("the length of my name is :",string_len)

the length of my name is : 10

#MEMBERSHIP OPERATER

In [53]:
mem = "hi my name is anish verma "
result = "anish" in mem
print("are anish in mem ?",result)

are anish in mem ? True

#find and index

In [57]:
find = "helloworld"
index_o = find.index("o") #We use the .index() method to find the index of the character 'o' in the string my_string. In this case, it will return the index of the first 'o' in the string.
find_world = find.find("world") #We use the .find() method to find the index of the substring 'World' in the string my_string.
print("the first index of o is =",index_o)
print("the index start from =",find_world)

the first index of o is = 4
the index start from = 5

#COUNTING

In [58]:
count1 = "hello world i am anish verma "
count_a = count1.count("a") # count function count the char how many time its use in string
print(count_a)

3

#ASCII VALUE

In [62]:
asc_1 = ord ("o")
asc_2 = ord("a")
asc_3 = ord("A")

print("the ascii vale of 'o'?=",asc_1)
print("the ascii value of 'a'?=",asc_2)
print("the ascii value of 'A'?=",asc_3)

the ascii vale of 'o'?= 111
the ascii value of 'a'?= 97
the ascii value of 'A'?= 65

Concatenating strings

In [63]:
name = "anish"
ser_name = "verma"
full_name = name + " " +ser_name
print(full_name)

anish verma

STRIP

In [64]:
strip = "       hi my name is anish verma      "
left_strip = strip.lstrip()
right_strip = strip.rstrip()
full_strip = strip.strip()
print(left_strip)
print(right_strip)
print(full_strip)

hi my name is anish verma
       hi my name is anish verma
hi my name is anish verma

REPLACE FUNCTION

In [65]:
my_string = "hi my name is anish sharma ."
replace_string = my_string.replace("sharma","verma")
replace_space = my_string.replace(" ","$")
print(replace_string)
print(replace_space)

hi my name is anish verma .
hi$my$name$is$anish$sharma$.

SPLIT THE STRING

In [66]:
my_string = "hi my name is anish verma , i am bca student "
split_string = my_string.split()
print(split_string)

['hi', 'my', 'name', 'is', 'anish', 'verma', ',', 'i', 'am', 'bca', 'student']

title function = this function capitalize the first letter of the word

In [67]:
my_string = "hi my name is anish verma "
title_string = my_string.title()
print(title_string)

Hi My Name Is Anish Verma

LIST
Lists in Python are one of the most versatile data structures available. They store an ordered collection of items, which might be of different types. Unlike strings, lists are mutable, which means that their contents can be modified, without having to create a new list. This feature makes them very useful for handling datasets, performing various operations like sorting and searching, and implementing data structures like stacks and queues.

In [ ]:
#Creating an empty list
#An empty list is a list that contains no items. Below, the list fruits is an example of an empty list.
NAME = []

In [18]:
name = ['anish','lucky','samad','kaif']
num = [9,5,4,6,7,2,1]

name_list = list(name)
print(name_list)
print(list(num))

['anish', 'lucky', 'samad', 'kaif']
[9, 5, 4, 6, 7, 2, 1]

In [ ]:
#created nested list

In [39]:
num = [[1,2],[3,4],[5,6],[7,8]]

print(num)

[[1, 2], [3, 4], [5, 6], [7, 8]]

mixed list

In [42]:
mixed_type = ['anish',120,3.15, True ,[2,5] ]
print(type(mixed_type))
print(type(mixed_type[0]))
print(type(mixed_type[1]))
print(type(mixed_type[2]))
print(type(mixed_type[3]))
print(type(mixed_type[4]))

<class 'list'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>

Slicing elements from a list

List slicing allows you to extract a specific range of elements from a list. This is done using the syntax [start:stop:step], where start represents the index for the beginning of the slice, stop is the endpoint (not included in the slice), and step is the interval between elements. This technique is crucial for data manipulation and subset extraction without modifying the original list.

In [43]:
name = ['a','n','i','s','h']
name_slic = name[0:3]
print(name_slic)

['a', 'n', 'i']

nested slicing

In [45]:
nested = [[1,2],[3,4],[5,6],[7,8]]
nested_slicing = nested[1][0:2]
print(nested_slicing)

[3, 4]

In [50]:
#another example 
nested_list = [['ansih','lucky','samad'],[1,2,3,4,5,9],3.145789,[True]]
nst_slic = nested_list [0][1]
nst_slic1 = nested_list [1][3:]
print(nst_slic1)
print(nst_slic)

[4, 5, 9]
lucky

Finding the length of a list
One of the most fundamental operations you can perform on a list is finding out how many elements it contains.

In [1]:
my_list = [1,2,3,4,5,6,7,8,9,10]
length_list = len(my_list)
print(length_list)

10

Finding the largest element in a list
Python provides a built-in function, max(), to find the largest element in a list.

In [2]:
my_list = [1,2,3,4,5,6,7,8,9,10]
max_list = max(my_list)
print(max_list)

10

Find the smallest element in a list
Similar to finding the largest element, Python provides a min() function to find the smallest element in a list.

In [3]:
my_list = [1,2,3,4,5,6,7,8,9,10]
min_list = min(my_list)
print(min_list)

1

Finding the index of any element in a list

To locate the position of a specific element in a list, you can use the .index() method.

In [5]:
my_list = [1,2,3,4,5,6,7,8,9,10]
index_ele = my_list.index(6)
print('the index of 6 is : ',index_ele)

the index of 6 is :  5

Finding the frequency of an element in a list

If you need to know how many times a particular element appears in a list, you can use the .count() method.

In [7]:
my_list = ['anish','lucky','anish','anish','samad','apple','bananna','anish']
count_list = my_list.count('anish')
print(count_list)

4

Checking whether an element or a list is present in a list

You can check for the presence of an element in a list using the in operator.

In [8]:
my_list = [1,2,3,4,5,6,7,8,9,10]
is_1_present = 1 in my_list
is_0_present = 0 in my_list
print(is_1_present)
print(is_0_present)

True
False

Manipulating lists
Adding elements to a list

append adds the specified element to the end of the list, effectively increasing its length by one. It takes one argument, which is the element to be appended to the list.

In [11]:
my_fruit = ['apple','banana','kiwi','orange','mango']
my_fruit.append('green apple')
print(my_fruit)

['apple', 'banana', 'kiwi', 'orange', 'mango', 'green apple']

Deleting the last element from a list

The .pop() method removes the last element from a list and returns it.

In [14]:
my_fruit = ['apple','banana','kiwi','orange','mango']
removing = my_fruit.pop() #pop function dont take any specific arrgument and pop fun firstly display and remove the last function
print(removing)
my_fruit

mango

['apple', 'banana', 'kiwi', 'orange']

Deleting an element at a specific position

You can delete an element at a specific index using the del keyword.

In [32]:
my_fruit = ['apple','banana','kiwi','orange','mango']
del my_fruit[1] # 1 index is banana
print(my_fruit)
del my_fruit[3] #after remaining the del func delet the 3rd index of the remaing
print(my_fruit)

['apple', 'kiwi', 'orange', 'mango']
['apple', 'kiwi', 'orange']

Removing a specific element from a list

You can remove a specific element from a list using the .remove() method.

In [33]:
my_fruit = ['apple','banana','kiwi','orange','mango']
my_fruit.remove('kiwi')
print(my_fruit)

['apple', 'banana', 'orange', 'mango']

finding the sum of whole element

In [34]:
my_list = [1,2,3,4,5,6,7,8,9,10]
sum_of_ele = sum(my_list)
print(sum_of_ele)

55

finding the average of whole element

In [35]:
my_list = [1,2,3,4,5,6,7,8,9,10]
avg_list = sum(my_list) / len(my_list)
print(avg_list)

5.5

sort the list in accending order

In [37]:
my_list = [5,6,1,7,9,1,3,4,5,7,9,2,4,6,3]
my_list.sort()
print(my_list)
for_reverse = my_list.sort(reverse = True)
print(for_reverse)

[1, 1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 9, 9]
None

sort in decending

In [42]:
my_list = [5,6,1,7,9,1,3,4,5,7,9,2,4,6,3]
my_list.sort(reverse = True)
print(my_list)

[9, 9, 7, 7, 6, 6, 5, 5, 4, 4, 3, 3, 2, 1, 1]

Reversing a list

Another way to reverse the elements in a list is the .reverse() method. This changes the list in place, meaning it changes the original list rather than creating a new one.

In [44]:
my_list = [5,6,1,7,9,1,3,4,5,7,9,2,4,6,3]
my_list.sort()
my_list.reverse()
print(my_list)

[9, 9, 7, 7, 6, 6, 5, 5, 4, 4, 3, 3, 2, 1, 1]

Repeating a list

If you want to repeat the elements of a list a certain number of times, you can use the multiplication operator(*).

In [45]:
my_list = [1,2,3]
repeated_list = my_list * 3
print(repeated_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

Merging two lists

You can concatenate two lists simply by using the + operator or the .extend() method. The + operator is used to concatenate two lists together, creating a new list as the result. In this case, the original lists remain unchanged.

In [46]:
list_1 = [200]
list_2 = [300]
final_list = list_1 + list_2
print(final_list)

[200, 300]

On the other hand, the .extend() method is used to append all the elements from another iterable (such as a list) to the end of a list. It modifies the original list in place, meaning it changes the original list rather than creating a new one.


It takes a single argument, which is an iterable (typically another list), and adds its elements to the end of the list.

In [47]:
list_1 = [200]
list_2 = [300]
list_1.extend(list_2)
print(list_1)

[200, 300]

Joining substrings

Combining substrings into a single string is a common requirement in Python, often achieved using the .join() method. This method takes an iterable, such as a list of strings, and concatenates its elements separated by a string separator.
In this example, we demonstrate how to reassemble a list of words into a full sentence, separated by spaces, using .join().

In [53]:
my_string = 'hi my name is ansih verma '
split_str = my_string.split()
print(split_str)
join_list_ele = ' '.join(split_str)
print(join_list_ele)

['hi', 'my', 'name', 'is', 'ansih', 'verma']
hi my name is ansih verma

In [ ]:
CLEAR FUNCTION FOR EMPTY LIST

In [54]:
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list.clear()
print(my_list)

[]

INSER FUNCTION

In [56]:
my_list = [1,2,3,4,5,7,8,9,10] # i forget 6
my_list.insert(5,6) #in insert fuction first you pass the place where want to insert and then pass the value you want
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
DICTIONARY

# Dictionaries

Dictionaries are mutable and unordered collections of key-value pairs. They are one of the built-in data types in Python and are incredibly versatile for storing and organising data efficiently. You can think of them like a real-life dictionary, where you look up a word (the key) to find its definition (the value). Let’s explore the various ways you can create dictionaries.

In [62]:
my_dic = {'NAME':['anish','lucky','samad','kaif'],'age':[22 , 23,24,56]}
print(my_dic)

{'NAME': ['anish', 'lucky', 'samad', 'kaif'], 'age': [22, 23, 24, 56]}

In [65]:
diffValue_dict = {
    'name':'anish',
    'age': 45,
    'salary':4000.15,
    'married':True
}
print(diffValue_dict)
print(type(diffValue_dict))

{'name': 'anish', 'age': 45, 'salary': 4000.15, 'married': True}
<class 'dict'>

Accessing specific values from dictionaries

You can access the value associated with a specific key directly using square brackets []. Let’s see an example of accessing an item from a dictionary.

In [3]:
my_dict = {
    'name':'anish',
    'age': '22'
}
value_f_dict = my_dict['name'] #use list for accessing valuee
print(value_f_dict)

anish

In [6]:
my_dict = {
    'name':'anish',
    'age': 22
}
my_name = my_dict.get('name')
my_age = my_dict.get('age')
print(my_name)
print(my_age)

anish
22

Accessing values in nested dictionaries

Accessing values in nested dictionaries involves navigating through the layers of the dictionary by using the keys at each level to retrieve the desired value. Let's say we have the following dictionary.

In [8]:
my_dict ={
    'var_1': {'name':'anish','age':22},
    'var' : {'name':'div','age':20}
}
ac_v1 = my_dict['var_1']['age']
print(ac_v1)

22

finding the length of dictionary

In [9]:
my_dict = {
    'name':'anish',
    'age':22
}
len_dict = len(my_dict)
print(len_dict)

2

Retrieving keys

You can get all the keys from a dictionary using the .keys() method. The .keys() method in Python dictionaries returns a view object that displays a list of all the keys in the dictionary. It does not create a new list but provides a dynamic view of the dictionary's keys. Here's how it works.

In [10]:
my_dict = {
    'name':'anish',
    'age':22
}
key = my_dict.keys()
print(key)

dict_keys(['name', 'age'])

Retrieving values

Similarly, to get all the values from a dictionary, you use the .values() method. The .values() method in Python dictionaries returns a view object that displays a list of all the values in the dictionary. Like .keys(), It does not create a new list; rather, it provides a dynamic view of the dictionary's values. Here's how it works.

In [13]:
my_dict = {
    'name':'anish',
    'age':22
}
value = my_dict.values()
print(value)

dict_values(['anish', 22])

Obtaining keys corresponding to specific values from a dictionary

The .index() method in Python is used to find the index of the first occurrence of a specified value within a list. It is a built-in method available for sequences like lists. The method returns the index of the item if found, or it raises a ValueError if the item is not present in the list.

In [26]:
my_dict = {
    'name':'anish',
    'age':22,
    'salary':14500.22,
    'married': True,
    'qualification':('bca','copa')
}
key = list(my_dict.keys())
value = list(my_dict.values())
index = value.index('anish')
req_key = key[index]
print(value)
print(key)
print(index)
print(req_key)

['anish', 22, 14500.22, True, ('bca', 'copa')]
['name', 'age', 'salary', 'married', 'qualification']
0
name

Comparing dictionaries

You can compare dictionaries directly to check if they have identical keys and values. The easiest way to check if two dictionaries are the same (both keys and values) is by using the equality operator (==). A single equals sign (=) is the assignment operator in Python, which can be used to store values in variables, whereas the double equals sign (==) checks for equality and returns a boolean value (True or False).

In [27]:
dict_1 ={
    'name':'anish',
    'age':25
}
dict_2={
    'name':'samad',
    'age':27
}
comp_dict = dict_1 == dict_2
print(dict_1)
print(dict_2)
print(comp_dict)

{'name': 'anish', 'age': 25}
{'name': 'samad', 'age': 27}
False

## Manipulating dictionaries
Manipulating dictionaries in Python involves various operations to add, update, remove, or retrieve elements. Here are some common operations.



Adding new key-value pairs to dictionaries

You can expand a dictionary by adding new entries. Adding new key-value pairs to a dictionary in Python is straightforward. You can do it by simply assigning a new value to a new key in the dictionary. Here's an example.

In [30]:
my_dict = {
    'name':'anish',
    'age':45
}
my_dict['course'] = 'bca'
print(my_dict)

{'name': 'anish', 'age': 45, 'course': 'bca'}

#### update function

In [32]:
my_dict = {
    'name':'anish',
    'age':45
}
my_dict.update({'course':'bca','college':'ignou'})
print(my_dict)

{'name': 'anish', 'age': 45, 'course': 'bca', 'college': 'ignou'}

If any of the keys already exist in the original dictionary, their values will be updated to the new ones.

In [33]:
my_dict = {
    'name':'anish',
    'age':45
}
my_dict.update({'name':'khushi','course':'ba'})
print(my_dict)

{'name': 'khushi', 'age': 45, 'course': 'ba'}

setitem function is used for single pair of key value its used for enter the value in dictionary

In [34]:
my_dict = {
    'name':'anish',
    'age':45
}
my_dict.__setitem__('eyescolor','brown')
print(my_dict)

{'name': 'anish', 'age': 45, 'eyescolor': 'brown'}

diference btw pop and del function

In [41]:
my_dict = {
    'name':'anish',
    'age':45,
    'eyecolor':'brown'
}
pop_dict = my_dict.pop('age')
del my_dict ['name']
print(pop_dict)
print(my_dict)

45
{'eyecolor': 'brown'}

Merging dictionaries

Two or more dictionaries can be merged into one. If you want to merge the second dictionary into the first one, modifying it in place, you can use the update() method.

In [42]:
my_dict = {
    'name':'anish',
    'age':45,
    'eyecolor':'brown'
}
my_dict2 = {
    'course':'bca',
    'collage':'ignou'
}
my_dict.update(my_dict2)
print(my_dict)

{'name': 'anish', 'age': 45, 'eyecolor': 'brown', 'course': 'bca', 'collage': 'ignou'}

You can also use the ** operator, which unpacks the contents of dictionaries into a new dictionary. Here is an example.

In [44]:
my_dict = {
    'name':'anish',
    'age':45,
    'eyecolor':'brown'
}
my_dict2 = {
    'course':'bca',
    'collage':'ignou'
}
merge_dict = {**my_dict,**my_dict2}
print(merge_dict)

{'name': 'anish', 'age': 45, 'eyecolor': 'brown', 'course': 'bca', 'collage': 'ignou'}

Removing all items from a dictionary

The most straightforward methods to remove all items from a dictionary include using the .clear() method or reassigning the dictionary to an empty dictionary. Here's how you can do it.

In [45]:
my_dict = {
    'name':'anish',
    'age':45,
    'eyecolor':'brown'
}
my_dict.clear()
print(my_dict)

{}

You can also reassign the variable to a new, empty dictionary. This effectively removes all items.

In [46]:
my_dict = {
    'name':'anish',
    'age':45,
    'eyecolor':'brown'
}
my_dict = {}
print(my_dict)

{}

Making a copy of a dictionary

To make a separate copy of a dictionary, use the .copy() method. This method creates a new dictionary, which is filled with a copy of the references from the original dictionary.

In [47]:
my_dict = {
    'name':'anish',
    'age':45,
    'eyecolor':'brown'
}
copy_dict = my_dict.copy()
print(copy_dict)

{'name': 'anish', 'age': 45, 'eyecolor': 'brown'}

Mathematical and statistical operations


Summation of values in a dictionary

To find the sum of all values in a dictionary, assuming all your values are numerical (like integers or floats), you can use the sum() function along with the .values() method of the dictionary. Here's an example to illustrate this.

In [51]:
expense = {
    'phone recharege':1200,
    'gym fees': 1500,
    'petrol':1000
}
sum_fodict = sum(expense.values())
print(sum_fodict)

3700

Maximum and minimum values in a dictionary

To find the maximum and minimum values in a dictionary, you can use Python's built-in functions max() and min(), respectively.

In [52]:
expense = {
    'phone recharege':1200,
    'gym fees': 1500,
    'petrol':1000
}
max_dict = max(expense.values())
print(max_dict)

1500

Sorting dictionary keys and values

You can use the sorted() function on the dictionary to get a sorted list of keys and values.

In [54]:
expense = {
    'phone recharege':1200,
    'gym fees': 1500,
    'petrol':1000
}
sort_key = sorted(expense.keys())
sort_value = sorted(expense.values(),reverse = True)
print(sort_key)
print(sort_value)

['gym fees', 'petrol', 'phone recharege']
[1500, 1200, 1000]

Creating dictionaries with common default values using the .fromkeys() method

The .fromkeys() method creates a new dictionary from a given sequence of items, assigning each item as a key and a common default value to all keys. Using .fromkeys() allows you to initialise a dictionary efficiently, especially when dealing with uniform initial values across many keys.

In [56]:
a = {'a','b','c'}
b = {10,20,30} # its goes to all the key
new_dict = dict.fromkeys(a,b)
print(new_dict)

{'b': {10, 20, 30}, 'a': {10, 20, 30}, 'c': {10, 20, 30}}

# Tuples
Tuples are built-in data structures used to store ordered collections of items. They are similar to lists but are immutable, meaning that, once created, their items cannot be changed, added, or removed. This immutability makes tuples a preferable choice for storing data that needs to remain unchanged throughout the lifetime of a program. Now, let's explore the various ways of creating tuples.


Creating empty tuples

An empty tuple can be created by assigning an empty pair of parentheses to a variable. Here's how you can create one.

In [2]:
my_tuple = ()
print('thish is a empty tuple::::',my_tuple)

thish is a empty tuple:::: ()

In [4]:
color_tp = ('red','yellow','grenn')
print(color_tp)
type(color_tp)

('red', 'yellow', 'grenn')

tuple

You can convert a string to a tuple by passing the string as an argument to the tuple() constructor.

In [5]:
my_str = 'anish'
tuple_maker = tuple(my_str)
print(tuple_maker)

('a', 'n', 'i', 's', 'h')

Creating tuples by combining two iterables

The zip() function combines items from two or more iterables (such as lists, tuples, etc.) into tuples, with each tuple containing items from all the iterables based on their position. When used with exactly two iterables, the resulting tuples are pairs, which are tuples of two items.

In [7]:
list1 = [1,2,3]
list2 = ['a','b','c']
zipped = tuple(zip(list1,list2))
print(zipped)

((1, 'a'), (2, 'b'), (3, 'c'))

Indexing items inside a nested tuple

For nested tuples, you can access inner items by using multiple indices. Here is an example.

In [9]:
tuple1 = ((1,2),(3,4))
indexing = tuple1[1][0]
print(indexing)

3

Slicing items from a tuple

As you remember from strings, the syntax for slicing is string_variable[start:stop:step]. In the syntax, start is the index where the slice begins, stop is the index where the slice ends, but it's not included in the result,  and step is the interval between each character to be included in the slice. Here is an example.

In [13]:
tuples = ('red','yellow','green','blue','black')
slicing = tuples[1:4:1]
slic_2 = tuples[3:0:-1]
print(slicing)
print(slic_2)

('yellow', 'green', 'blue')
('blue', 'green', 'yellow')

Finding lengths of tuples

The len() function takes a collection (such as a string, list, or tuple) as its argument and returns the number of items in that collection. Here's how you use len() to find the length of tuples.

In [14]:
tuples = ('red','yellow','green','blue','black')
length = len(tuples)
print(length)

5

In [15]:
nested_tuple = (1, 2, (3, 4), [5, 6], 'Hello')
print(len(nested_tuple))

5

Checking the presence or absence of items in tuples

To check the presence or absence of items in tuples, you can use the in and not in operators. These operators are intuitive and efficient for determining whether an item exists within a tuple.

In [17]:
tuples = ('red','yellow','green','blue','black')
print('red'in tuples)
print('yellow' not in tuples)

True
False

If the item you're looking for is not in the tuple, it will raise a ValueError.

In [18]:
color_tuple = ('red', 'green', 'blue')
print(color_tuple.index('yellow'))  # so we do unpacking the tuple first

ValueError: tuple.index(x): x not in tuple

Unpacking tuples

When assigning values from a tuple to variables, commas are used to separate the variables. This process, known as unpacking, allows for parallel assignment. Take a look at the example below.

In [20]:
color_tuple = ('red', 'green', 'blue')
a,b,c = color_tuple
print(a)
print(b)
print(c)

red
green
blue

so if you give extra value for unpacking it show error

In [21]:
color_tuple = ('red', 'green', 'blue') 
a,b,c,d = color_tuple

ValueError: not enough values to unpack (expected 4, got 3)

Unpacking particular items from tuples

Sometimes, you might not be interested in all the items of a tuple. In this case, you can use _ (underscore) as a placeholder for unwanted values during unpacking. Take a look at the example below.

In [23]:
color_tuple = ('red', 'green', 'blue') 
a,_,c = color_tuple
print(a,c)

red blue

# tuple are immutable
so there is no chance to manuplate any data in tuple
but we can do from type cast the tuple into list and then menuplat the value and again typecast to the tuple

In [31]:
tuples = (1,2,3,4,5,6,7,8,9)
chg_list = list(tuples)
chg_list[8]=10
print(chg_list)
new_tuple = tuple(chg_list)
tuples = new_tuple
print(tuples)

[1, 2, 3, 4, 5, 6, 7, 8, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 10)

In [32]:
num_tuple = (1, 2, 3, 4)
max_ele = max(num_tuple)
print(max_ele) 
index_of_max = num_tuple .index(max_ele)
print(index_of_max )  
min_ele = min(num_tuple)
print(min_ele)     
index_of_min = num_tuple .index(min_ele)
print(index_of_min)

4
3
1
0

In [34]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
print(sum(my_tuple))

55

Computing the mean of items in a tuple

The mean is calculated by summing all the items in the tuple and then dividing the sum by the number of items in the tuple. Here's a simple example to illustrate this.

In [35]:
num_tuple = (1, 2, 3, 4)
mean_value = sum(num_tuple) / len(num_tuple)
print(mean_value)

2.5

#### sorted

In [38]:
sort = (1,8,6,4,9,7,2,3,4)
print(sorted(sort))

[1, 2, 3, 4, 4, 6, 7, 8, 9]

Finding the frequency of items in a tuple

To find the frequency of items in a tuple, you can use the .count() method. This method can be applied to a tuple and takes an item as an argument, returning the number of times that item appears in the tuple. Here’s an example to illustrate this.

In [40]:
my_tuples = (1,2,3,4,4,4,4,4,4,5,6,7,8,9)
print(my_tuples.count(4))

6

# Sets

Sets are collections that are unordered and mutable. Sets are defined using curly braces {}. Here’s a breakdown of the key characteristics and operations associated with sets:

Unordered: The items in a set do not have a defined order. Set items can appear in a different order every time you use them and cannot be referred to by index or key.

Mutable: You can add and remove items from a set after its creation. However, every item in a set must be hashable (proper value and index), and sets can't be used as items in other sets.

Sets are useful for storing unique items and performing common set operations like unions, intersections, differences, and symmetric differences.  Now, let's explore the various ways of creating sets.

Creating an empty set

Creating an empty set requires a slightly different approach than creating other empty collections like lists or tuples. To create an empty set, you cannot simply use empty braces {} because this syntax defines an empty dictionary. Instead, you use the set() constructor without any arguments. Here is an example.

In [41]:
construct_set = set()
print(type(construct_set))

<class 'set'>

Creating sets with items

You can create a set with multiple items by placing them within curly braces {}, separated by commas. This is similar to defining a list or tuple, except with curly braces. Here is an example.

In [42]:
color_set = {'red','yellow','green'}
print(color_set)

{'red', 'yellow', 'green'}

Indexing items in a set

Attempting to access an item from a set using indexing will result in a TypeError. This is due to the inherent unordered nature of sets. For example:

In [43]:
example_set = {1, 2, 3}
print(example_set[0])  # This will raise an error

TypeError: 'set' object is not subscriptable

Accessing items from a set by converting it to an iterable such as a list or a tuple

Although direct access is not possible, if you need to access items by index, you can convert the set to a list or a tuple.

In [46]:
sets = {'anish','samad','div'}
con_list = list(sets)  # Output order is unpredictable because sets are unorder
print(con_list[0])

samad

Finding the length of a set

To find the length of a set, you use the len() function, which returns the number of items in a set. Sets are collections of unique items, so the length reflects the count of these unique items. Here's how you can do it.

In [47]:
sets = {'anish','samad','div'}
len(sets)

3

Checking the membership of an item in a set

Checking if an item is a member of a set is straightforward and efficient. This operation is performed using the in keyword, which returns True if the item exists in the set, and False otherwise.

In [48]:
sets = {'anish','samad','div'}
print('anish' in sets)

True

In [50]:
sets = {'anish','samad','div'}
sets.add('sourav')
print(sets)

{'sourav', 'samad', 'div', 'anish'}

If the item is already present, the set remains unchanged due to the uniqueness of sets.

In [51]:
example_set = {'apple', 'orange'}
example_set.add('apple')
print(example_set)

{'orange', 'apple'}

In [52]:
example_set = set()
example_list = ['apple', 'orange', 'cherry', 'banana']
example_set.add(example_list)
print(example_set)

TypeError: unhashable type: 'list'

In the above example, we tried adding the list example_list to the set example_set which raised a TypeError pointing out that the list is an unhashable type.



But if we use the .update() function, instead of adding the list to the set, it updates the set with items from the list.

In [53]:
setss = set()
new_set = {1,2,3,4,5,6,7,8,9}
setss.update(new_set)
print(new_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

Removing items from sets

To remove an item from a set, you can use either the .remove(), .discard() or .pop() methods. While both .remove() and .discard() serve similar functions, their behaviour differs when the specified item is not present.
The .remove() method is used to remove a specific item from the set. If the item is present in the set, it is removed.

In [54]:
new_set = {1,2,3,4,5,6,7,8,9}
new_set.remove(5) #the value should be present in sets othervise its show errors
print(new_set)

{1, 2, 3, 4, 6, 7, 8, 9}

The .discard() method is used to remove a specific item from the set. If the item is present in the set, it is removed.

In [55]:
new_set = {1,2,3,4,5,6,7,8,9}
new_set.discard(10) #discard remove the value its no matter its prsent or not
print(new_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In this case, 'pear' is not an item of example_set, no error is raised, and the set remains unchanged.



Since lists are ordered, the .pop() function is predictable (removing the last item by default), but in the case of sets the function removes items randomly, due to their unordered nature.

In [56]:
example_set = {'apple'}
removed_item = example_set.pop() 
print(removed_item)
print(example_set)

apple
set()

If the set is empty and you try to .pop() an item, a KeyError is raised.

In [57]:
example_set = set()
removed_element = example_set.pop() 
print(removed_element)
print(example_set)

KeyError: 'pop from an empty set'

Checking the equality of two sets

You can check the equality of two sets using the equality operator ==. Two sets are considered equal if they contain the same items, even if the order of items differs because sets are unordered collections of unique items. Here's how it works.

In [59]:
set1 = {1, 2, 3, 3}
set2 = {3, 2, 1}
print(set1 == set2) 
#This line compares the two sets, set1 and set2, for equality. Since the two sets contain the same items (1, 2, and 3), the comparison will return True.

True

Checking if two sets have the same cardinality (number of items)

The cardinality of a set is the number of items it contains. Two sets have the same cardinality if they are the same size, even if they contain different items. You can check this using the len() function and the == operator.

In [63]:
set1 = {1,2,3}
set2 = {4,5,6,7}
print(len(set1))
print(len(set2))
result = len( set1) == len(set2)
print(result)

3
4
False

In [73]:
set1 = {1, 2, 3}
set3 = {4, 5, 6, 6}
print(len(set1) == len(set3))

True

Here,

len(set1) == len(set3), compares the size of set1 and set3. 

Since both sets contain three unique items each, this comparison evaluates to True. 

The same is true here, order and multiplicity (the frequency of items) do not affect the result of the operation.

### Subsets

A set A is considered a subset of set B if every item of A is also an item of B. Sets provide the .issubset() built-in method to work with subsets. This method checks if all items of a set are present in another set. If this is true, the set is considered a subset of the other. It returns True if the set on which it's called is a subset of the set passed as an argument, otherwise, it returns False. Here is an example.

In [74]:
set1 = {1, 2, 3}
subset = {1, 2}
print(subset.issubset(set1))

True

Finding the union of sets

The union of two or more sets is a new set containing all unique items from the combined sets. The important thing to note about union operations in sets is that they do not allow duplicate values. Sets offer a built-in method and an operator to find the union of sets.



You can use the .union() method to combine multiple sets. This method can take any number of arguments and returns a new set containing all unique items.

In [75]:
set1 = {1, 2, 3, 3}
set3 = {4, 5, 6}
print(set1.union(set3))

{1, 2, 3, 4, 5, 6}

Alternatively, you can use the | operator to find the union of two sets. This operator works similarly to the .union() method.

In [76]:
set1 = {1, 2, 3, 3}
set3 = {4, 5, 6}
print(set1 | set3)

{1, 2, 3, 4, 5, 6}

##### Union in Sets in Python
The union of two or more sets in Python combines all unique elements from the sets.


Finding the intersection of two sets

The intersection of two sets contains only the items that are present in both sets. Sets offer a built-in method and an operator to find intersections.



The .intersection() method returns a new set containing the intersection of the original set and another set passed as an argument.

In [78]:
set1 = {1, 2, 3}
set4 = {2, 3, 4}
print(set1.intersection(set4))

{2, 3}

Finding the difference between two sets

To find the difference between two sets, you can use the .difference() method or the - operator. The difference between two sets A and B consists of items that are in set A but not in set B. Here's how you can do it.

In [79]:
set1 = {1, 2, 3}
set5 = {2, 3}
print(set1.difference(set5))

{1}

The - operator can also be used to find the difference between sets. It produces the same result as the .difference() method.

In [80]:
set1 = {1, 2, 3}
set5 = {2, 3}
print((set1 - set5))

{1}

Finding the symmetric difference between two sets

To find the symmetric difference between two sets, you can use the .symmetric_difference() method or the ^ operator. The symmetric difference between two sets A and B consists of items that are in either set A or set B, but not in both. In simpler terms, it finds the items that are exclusive to each set. Here's how you can do it.

In [81]:
set1 = {1, 2, 3}
set6 = {2, 3, 4}
print(set1.symmetric_difference(set6))

{1, 4}