#string are immutable in nature it can't be change

#split function in string

In [2]:
my_str=  'I find Python programming very interesting!'
print(my_str.split()[0]) # .split() = is use for slipt the words ,[] = use for indexing.

I

#indexing

In [6]:
string = "hello"
print(string[0])
print(string[1])
print(string[2])
print(string[3])
print(string[4])

h
e
l
l
o

#Slicing strings
Slicing lets you extract a substring from a string using the slice operator [:]. 
We can also perform slicing operations on strings to get a substring of the string over the given range. Here is the syntax for slicing.

In [ ]:
string[start:stop:step] # this how slicing work

In [15]:
lang = "python"
print(lang[0:6]) # the index are limited but in python we pass the over end location like lang[0:100000]
print(lang[0:5])
print(lang[:6]) #if you dont pass the starting it will take first one by deafault
print(lang[1:]) # same if you dont pass the end it will take the last one

python
pytho
python
ython

In [39]:
#now using the step 
lang1 = "anishverma"
print(lang1[0::1]) # print(lang1[0::1]) the step how to move possitive 1 show left to right and how many step taken like 1
print(lang1[0: :2]) # in step section 2 is mention for taken jump once
print(lang1[0: :3]) # in step section 3 is mention for taken a jump twice

anishverma
aihem
asea

In [43]:
import os
cwd = os.getcwd()
print(cwd)

C:\Users\anish\OneDrive\Documents\GitHub\practice

#reverse slicing

In [44]:
name = "python"
print(name[ : :-1]) #in step section i pass -1 because its start from right to left

nohtyp

In [49]:
nam = "python"
print(nam[5:0:-1])

nohty

In [50]:
# for count from right to left we use negetive number like -1,-2,and -3
name = "anish"
#if i want to show only n 
print(name[-4])

n

#operation on string

    LENGTH

In [51]:
lenth = "anishverma"
string_len = len(lenth)
print("the length of my name is :",string_len)

the length of my name is : 10

#MEMBERSHIP OPERATER

In [53]:
mem = "hi my name is anish verma "
result = "anish" in mem
print("are anish in mem ?",result)

are anish in mem ? True

#find and index

In [57]:
find = "helloworld"
index_o = find.index("o") #We use the .index() method to find the index of the character 'o' in the string my_string. In this case, it will return the index of the first 'o' in the string.
find_world = find.find("world") #We use the .find() method to find the index of the substring 'World' in the string my_string.
print("the first index of o is =",index_o)
print("the index start from =",find_world)

the first index of o is = 4
the index start from = 5

#COUNTING

In [58]:
count1 = "hello world i am anish verma "
count_a = count1.count("a") # count function count the char how many time its use in string
print(count_a)

3

#ASCII VALUE

In [62]:
asc_1 = ord ("o")
asc_2 = ord("a")
asc_3 = ord("A")

print("the ascii vale of 'o'?=",asc_1)
print("the ascii value of 'a'?=",asc_2)
print("the ascii value of 'A'?=",asc_3)

the ascii vale of 'o'?= 111
the ascii value of 'a'?= 97
the ascii value of 'A'?= 65

Concatenating strings

In [63]:
name = "anish"
ser_name = "verma"
full_name = name + " " +ser_name
print(full_name)

anish verma

STRIP

In [64]:
strip = "       hi my name is anish verma      "
left_strip = strip.lstrip()
right_strip = strip.rstrip()
full_strip = strip.strip()
print(left_strip)
print(right_strip)
print(full_strip)

hi my name is anish verma
       hi my name is anish verma
hi my name is anish verma

REPLACE FUNCTION

In [65]:
my_string = "hi my name is anish sharma ."
replace_string = my_string.replace("sharma","verma")
replace_space = my_string.replace(" ","$")
print(replace_string)
print(replace_space)

hi my name is anish verma .
hi$my$name$is$anish$sharma$.

SPLIT THE STRING

In [66]:
my_string = "hi my name is anish verma , i am bca student "
split_string = my_string.split()
print(split_string)

['hi', 'my', 'name', 'is', 'anish', 'verma', ',', 'i', 'am', 'bca', 'student']

title function = this function capitalize the first letter of the word

In [67]:
my_string = "hi my name is anish verma "
title_string = my_string.title()
print(title_string)

Hi My Name Is Anish Verma

LIST
Lists in Python are one of the most versatile data structures available. They store an ordered collection of items, which might be of different types. Unlike strings, lists are mutable, which means that their contents can be modified, without having to create a new list. This feature makes them very useful for handling datasets, performing various operations like sorting and searching, and implementing data structures like stacks and queues.

In [ ]:
#Creating an empty list
#An empty list is a list that contains no items. Below, the list fruits is an example of an empty list.
NAME = []

In [18]:
name = ['anish','lucky','samad','kaif']
num = [9,5,4,6,7,2,1]

name_list = list(name)
print(name_list)
print(list(num))

['anish', 'lucky', 'samad', 'kaif']
[9, 5, 4, 6, 7, 2, 1]

In [ ]:
#created nested list

In [39]:
num = [[1,2],[3,4],[5,6],[7,8]]

print(num)

[[1, 2], [3, 4], [5, 6], [7, 8]]

mixed list

In [42]:
mixed_type = ['anish',120,3.15, True ,[2,5] ]
print(type(mixed_type))
print(type(mixed_type[0]))
print(type(mixed_type[1]))
print(type(mixed_type[2]))
print(type(mixed_type[3]))
print(type(mixed_type[4]))

<class 'list'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>

Slicing elements from a list

List slicing allows you to extract a specific range of elements from a list. This is done using the syntax [start:stop:step], where start represents the index for the beginning of the slice, stop is the endpoint (not included in the slice), and step is the interval between elements. This technique is crucial for data manipulation and subset extraction without modifying the original list.

In [43]:
name = ['a','n','i','s','h']
name_slic = name[0:3]
print(name_slic)

['a', 'n', 'i']

nested slicing

In [45]:
nested = [[1,2],[3,4],[5,6],[7,8]]
nested_slicing = nested[1][0:2]
print(nested_slicing)

[3, 4]

In [50]:
#another example 
nested_list = [['ansih','lucky','samad'],[1,2,3,4,5,9],3.145789,[True]]
nst_slic = nested_list [0][1]
nst_slic1 = nested_list [1][3:]
print(nst_slic1)
print(nst_slic)

[4, 5, 9]
lucky

Finding the length of a list
One of the most fundamental operations you can perform on a list is finding out how many elements it contains.

In [1]:
my_list = [1,2,3,4,5,6,7,8,9,10]
length_list = len(my_list)
print(length_list)

10

Finding the largest element in a list
Python provides a built-in function, max(), to find the largest element in a list.

In [2]:
my_list = [1,2,3,4,5,6,7,8,9,10]
max_list = max(my_list)
print(max_list)

10

Find the smallest element in a list
Similar to finding the largest element, Python provides a min() function to find the smallest element in a list.

In [3]:
my_list = [1,2,3,4,5,6,7,8,9,10]
min_list = min(my_list)
print(min_list)

1

Finding the index of any element in a list

To locate the position of a specific element in a list, you can use the .index() method.

In [5]:
my_list = [1,2,3,4,5,6,7,8,9,10]
index_ele = my_list.index(6)
print('the index of 6 is : ',index_ele)

the index of 6 is :  5

Finding the frequency of an element in a list

If you need to know how many times a particular element appears in a list, you can use the .count() method.

In [7]:
my_list = ['anish','lucky','anish','anish','samad','apple','bananna','anish']
count_list = my_list.count('anish')
print(count_list)

4

Checking whether an element or a list is present in a list

You can check for the presence of an element in a list using the in operator.

In [8]:
my_list = [1,2,3,4,5,6,7,8,9,10]
is_1_present = 1 in my_list
is_0_present = 0 in my_list
print(is_1_present)
print(is_0_present)

True
False

Manipulating lists
Adding elements to a list

append adds the specified element to the end of the list, effectively increasing its length by one. It takes one argument, which is the element to be appended to the list.

In [11]:
my_fruit = ['apple','banana','kiwi','orange','mango']
my_fruit.append('green apple')
print(my_fruit)

['apple', 'banana', 'kiwi', 'orange', 'mango', 'green apple']

Deleting the last element from a list

The .pop() method removes the last element from a list and returns it.

In [14]:
my_fruit = ['apple','banana','kiwi','orange','mango']
removing = my_fruit.pop() #pop function dont take any specific arrgument and pop fun firstly display and remove the last function
print(removing)
my_fruit

mango

['apple', 'banana', 'kiwi', 'orange']

Deleting an element at a specific position

You can delete an element at a specific index using the del keyword.

In [32]:
my_fruit = ['apple','banana','kiwi','orange','mango']
del my_fruit[1] # 1 index is banana
print(my_fruit)
del my_fruit[3] #after remaining the del func delet the 3rd index of the remaing
print(my_fruit)

['apple', 'kiwi', 'orange', 'mango']
['apple', 'kiwi', 'orange']

Removing a specific element from a list

You can remove a specific element from a list using the .remove() method.

In [33]:
my_fruit = ['apple','banana','kiwi','orange','mango']
my_fruit.remove('kiwi')
print(my_fruit)

['apple', 'banana', 'orange', 'mango']

finding the sum of whole element

In [34]:
my_list = [1,2,3,4,5,6,7,8,9,10]
sum_of_ele = sum(my_list)
print(sum_of_ele)

55

finding the average of whole element

In [35]:
my_list = [1,2,3,4,5,6,7,8,9,10]
avg_list = sum(my_list) / len(my_list)
print(avg_list)

5.5

sort the list in accending order

In [37]:
my_list = [5,6,1,7,9,1,3,4,5,7,9,2,4,6,3]
my_list.sort()
print(my_list)
for_reverse = my_list.sort(reverse = True)
print(for_reverse)

[1, 1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 9, 9]
None

sort in decending

In [42]:
my_list = [5,6,1,7,9,1,3,4,5,7,9,2,4,6,3]
my_list.sort(reverse = True)
print(my_list)

[9, 9, 7, 7, 6, 6, 5, 5, 4, 4, 3, 3, 2, 1, 1]

Reversing a list

Another way to reverse the elements in a list is the .reverse() method. This changes the list in place, meaning it changes the original list rather than creating a new one.

In [44]:
my_list = [5,6,1,7,9,1,3,4,5,7,9,2,4,6,3]
my_list.sort()
my_list.reverse()
print(my_list)

[9, 9, 7, 7, 6, 6, 5, 5, 4, 4, 3, 3, 2, 1, 1]

Repeating a list

If you want to repeat the elements of a list a certain number of times, you can use the multiplication operator(*).

In [45]:
my_list = [1,2,3]
repeated_list = my_list * 3
print(repeated_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

Merging two lists

You can concatenate two lists simply by using the + operator or the .extend() method. The + operator is used to concatenate two lists together, creating a new list as the result. In this case, the original lists remain unchanged.

In [46]:
list_1 = [200]
list_2 = [300]
final_list = list_1 + list_2
print(final_list)

[200, 300]

On the other hand, the .extend() method is used to append all the elements from another iterable (such as a list) to the end of a list. It modifies the original list in place, meaning it changes the original list rather than creating a new one.


It takes a single argument, which is an iterable (typically another list), and adds its elements to the end of the list.

In [47]:
list_1 = [200]
list_2 = [300]
list_1.extend(list_2)
print(list_1)

[200, 300]

Joining substrings

Combining substrings into a single string is a common requirement in Python, often achieved using the .join() method. This method takes an iterable, such as a list of strings, and concatenates its elements separated by a string separator.
In this example, we demonstrate how to reassemble a list of words into a full sentence, separated by spaces, using .join().

In [53]:
my_string = 'hi my name is ansih verma '
split_str = my_string.split()
print(split_str)
join_list_ele = ' '.join(split_str)
print(join_list_ele)

['hi', 'my', 'name', 'is', 'ansih', 'verma']
hi my name is ansih verma

In [ ]:
CLEAR FUNCTION FOR EMPTY LIST

In [54]:
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list.clear()
print(my_list)

[]

INSER FUNCTION

In [56]:
my_list = [1,2,3,4,5,7,8,9,10] # i forget 6
my_list.insert(5,6) #in insert fuction first you pass the place where want to insert and then pass the value you want
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]